ion-item-sliding,
ion-list,
ion-list {
  background-color: transparent;
}

ion-item {
  --background: transparent;
}

.slider {
  width: 223px;
  background: transparent;
}

.webmapp-map-btnrec-backdrop {
  position: absolute;
  background: #ffffff;
  left: 17px;
  top: 3px;
  height: 52px;
  width: 213px;
  border-radius: 23px;
  text-align: center;

  .webmapp-map-btnrec-backdrop-message {
    color: var(--wm-color-dark);
    font-size: 0.8em;
    padding-left: 42px;
    padding-top: 16px;
  }
}

input[type="range"] {
  width: 100%;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#000), to(#1f1f1f));
  -webkit-appearance: none;
  border-radius: 10px;
  padding: 5px;
  transition: opacity 0.5s;
  position: relative;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 10px;
  background: -webkit-linear-gradient(
    top,
    #fafafa 0%,
    #dedede 50%,
    #cfcfcf 51%,
    #a3a3a3 100%
  );
  z-index: 1;
  width: 75px;
  position: relative;
  height: 50px;
}

input[type="range"]::-webkit-slider-thumb:before {
  color: #8a8a8a;
  position: absolute;
  left: 5px;
  top: -10px;
  z-index: 1;
  font-size: 56px;
  font-weight: bold;
  content: "XX";
}

.backInfo {
  color: #8a8a8a;
  position: absolute;
  left: 100px;
  top: 14px;
  z-index: 1;
  font-size: 28px;
}

.webmapp-map-btnrec-fab{
  height: 42px;
  width: 42px;
  margin: 7px;
}

.webmapp-btnrec-btnicon{
  font-size: var(--wm-font-icon-big);
}
