<ion-menu side="end" menuId="optionMenu" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-icon
          name="close-outline"
          class="wm-trackdetail-menuclose"
          (click)="closeMenu()"
        ></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ion-menu>

<ng-container *ngIf="track$|async as track">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button
          mode="ios"
          defaultHref="map"
          text=""
          class="webmapp-backbutton webmapp-backbutton-dark"
        ></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <wm-export-to-btn
          [to]="'geojson'"
          [track]="track"
          [saveFileFn]="saveFileCallback"
        ></wm-export-to-btn>
        <wm-export-to-btn
          [to]="'kml'"
          [track]="track"
          [saveFileFn]="saveFileCallback"
        ></wm-export-to-btn>
        <wm-export-to-btn
          [to]="'gpx'"
          [track]="track"
          [saveFileFn]="saveFileCallback"
        ></wm-export-to-btn>
        <ion-button (click)="delete()">
          <ion-icon name="trash-outline" start></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content id="main">
    <wm-map
      class="wm-trackdetail-map"
      [wmMapConf]="confMap$|async"
      [wmMapFullscreen]="true"
      [wmMapGeojson]="track.geojson"
    ></wm-map>

    <div class="wm-trackdetail-date">{{track?.date | date : "dd MMMM YYYY"}}</div>

    <ion-list class="wm-trackdetail-itemlist">
      <ion-item class="wm-trackdetail-item" lines="none" *ngIf="track?.title">
        <i class="icon-outline-list wm-trackdetail-icon secondary" start></i>
        <div class="wm-trackdetail-item-title">{{track?.title}}</div>
      </ion-item>

      <ion-item class="wm-trackdetail-item" lines="none" *ngIf="track?.description">
        <i class="webmapp-icon-document wm-trackdetail-icon tertiary" start></i>
        <div>
          <div class="wm-trackdetail-item-description">{{track?.description|wmtrans}}</div>
        </div>
      </ion-item>

      <ion-item class="wm-trackdetail-item" lines="none" *ngIf="track?.activity">
        <i class="webmapp-icon-document wm-trackdetail-icon primary" start></i>
        {{track?.activity|wmtrans}}
      </ion-item>

      <ion-item
        class="wm-trackdetail-item"
        lines="none"
        *ngIf="track.photos != null && track.photos.length > 0"
      >
        <i class="webmapp-icon-camera wm-trackdetail-icon secondary" start></i>
        {{'pages.trackdetail.photos'|wmtrans}}
      </ion-item>
    </ion-list>
    <ng-container *ngIf="track!= null &&track.photos != null && track.photos.length >0">
      <ion-slides
        pager="false"
        [options]="sliderOptions"
        class="wm-trackdetail-photoslider"
        #slider
      >
        <ion-slide *ngFor="let photo of track.photos;let idx = index">
          <div class="wm-trackdetail-photocontainer">
            <ion-img [src]="photo|wmCreateBlob" class="wm-trackdetail-photo"></ion-img>
          </div>
        </ion-slide>
      </ion-slides>
    </ng-container>

    <div class="wm-trackdetail-details">{{'pages.trackdetail.details'|wmtrans}}</div>

    <ion-list>
      <ng-container *ngIf="trackTime$|async as trackTime">
        <ion-item class="wm-trackdetail-detail">
          <ion-label class="wm-trackdetail-detail-name">
            {{'pages.trackdetail.time' | wmtrans}}
          </ion-label>
          <ion-label slot="end" class="wm-trackdetail-detail-value">
            {{trackTime?.hours | number : '2.0-0'}}:{{trackTime?.minutes| number :
            '2.0-0'}}:{{trackTime?.seconds| number : '2.0-0'}}
          </ion-label>
        </ion-item>
      </ng-container>
      <ion-item class="wm-trackdetail-detail">
        <ion-label class="wm-trackdetail-detail-name">
          {{'pages.trackdetail.distance' | wmtrans}}
        </ion-label>
        <ion-label slot="end" class="wm-trackdetail-detail-value">
          {{trackDistance$| async | number:'1.0-0'}}
        </ion-label>
      </ion-item>
      <ion-item class="wm-trackdetail-detail">
        <ion-label class="wm-trackdetail-detail-name">
          {{'pages.trackdetail.slope' | wmtrans}}
        </ion-label>
        <ion-label slot="end" class="wm-trackdetail-detail-value">
          {{trackSlope$ | async | number:'1.0-0'}}m
        </ion-label>
      </ion-item>
      <ion-item class="wm-trackdetail-detail">
        <ion-label class="wm-trackdetail-detail-name">
          {{'pages.trackdetail.avgspeed' | wmtrans}}
        </ion-label>
        <ion-label slot="end" class="wm-trackdetail-detail-value">
          {{trackAvgSpeed$| async | number:'1.1-1'}} km/h
        </ion-label>
      </ion-item>
      <ion-item class="wm-trackdetail-detail">
        <ion-label class="wm-trackdetail-detail-name">
          {{'pages.trackdetail.topspeed' | wmtrans}}
        </ion-label>
        <ion-label slot="end" class="wm-trackdetail-detail-value">
          {{trackTopSpeed$ | async | number:'1.1-1'}} km/h
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ng-container>
