@import "src/theme/mixins.scss";

.webmapp-favourites-header-toolbar-header {
    --border-style: 0;
    .webmapp-favourites-header-toolbar-title {
        font-size: var(--wm-font-xxlg);
        font-weight: var(--wm-font-weight-bold);
        color: var(--wm-color-dark);
    }
}

.webmapp-favourites-nodata {
    padding: 30px;
    display: block;
    color: var(--wm-color-darkgrey);
}

.webmapp-favourites-card {
    width: 100%;
    padding: 15px;
    // height: 137px;
    position: relative;
    --detail-icon-color: var(--wm-color-primary);
    --detail-icon-opacity: 1;
    // @include box-shadow-light;
    .webmapp-favourites-image {
        width: 118px;
        height: 138px;
        border-radius: 15px;
        overflow: hidden;

        &::part(image) {
            object-fit: cover;
        }
    }

    .webmapp-favourites-info {
        left: 116px;
        position: absolute;
        padding: 10px;
        top: 0px;

        .webmapp-favourites-info-label {
            display: block;
            color: var(--wm-color-dark);
            text-align: left;
            min-height: 30px;
        }

        .webmapp-favourites-info-name {
            font-weight: var(--wm-font-weight-bold);
            font-size: var(--wm-font-sm);
            min-height: 40px;
        }
        .webmapp-favourites-info-time {
            font-size: var(--wm-font-xsm);
        }
        .webmapp-favourites-info-difficulty {
            font-size: var(--wm-font-sm);
            font-weight: var(--wm-font-weight-light);
        }
        .webmapp-favourites-info-distance {
            font-size: var(--wm-font-sm);
            font-weight: var(--wm-font-weight-light);
        }
        .webmapp-favourites-info-icon {
            color: var(--wm-color-secondary);
        }
    }
    .webmapp-favourites-remove {
        position: absolute;
        bottom: -5px;
        right: -5px;
        display: block;
        padding: 10px;
        text-decoration: underline;
        cursor: pointer;
        z-index: 900;
        color: var(--wm-color-darkgrey);
        font-size: var(--wm-font-sm);
        font-weight: var(--wm-font-weight-light);
    }
}
