<ion-header>
  <ion-toolbar class="webmapp-favourites-header-toolbar-header">
    <ion-title mode="md" class="webmapp-favourites-header-toolbar-title">
      {{'pages.favourites.title' | wmtrans}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="isLoggedIn$|async;else nologged">
    <ng-container *ngIf="tracks$|async as tracks">
      <ion-label class="webmapp-favourites-nodata" *ngIf="!tracks || !tracks.length"
        >{{'pages.favourites.nodata' | wmtrans}}</ion-label
      >
      <ion-list>
        <webmapp-card-track
          *ngFor="let track of tracks"
          [track]="track"
          (open)="open($event)"
          (remove)="remove($event)"
        >
        </webmapp-card-track> </ion-list
    ></ng-container>
  </ng-container>
  <ng-template #nologged>
    <ion-label class="webmapp-favourites-nodata">
      {{'non sei loggato. puoi loggare da'|wmtrans}}
      <ion-button [routerLink]="['/profile']">{{'qui'|wmtrans}}</ion-button></ion-label
    >
  </ng-template>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
