<ion-header>
  <ion-toolbar class="webmapp-favourites-header-toolbar-header">
    <ion-title mode="md" class="webmapp-favourites-header-toolbar-title">
      {{'pages.favourites.title' | wmtrans}}
    </ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="showLayersSegment$|async">
    <ion-segment [value]="selectedSegment" (ionChange)="onSegmentChange($any($event.detail.value))">
      <ion-segment-button value="layers">
        <ion-label>{{'Layers' | wmtrans}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tracks">
        <ion-label>{{'Sentieri' | wmtrans}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" *ngIf="selectedSegment === 'tracks'">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="isLogged$|async;else nologged">
    <ng-container *ngIf="selectedSegment === 'tracks'">
      <ng-container *ngIf="tracks$|async as tracks">
        <ion-label class="webmapp-favourites-nodata" *ngIf="!tracks || !tracks.length"
          >{{'pages.favourites.nodata' | wmtrans}}</ion-label
        >
        <ion-list>
          <webmapp-card-track
            *ngFor="let track of tracks"
            [track]="track"
            (open)="open($event)"
            (remove)="remove($event)"
          >
          </webmapp-card-track> </ion-list
      ></ng-container>
    </ng-container>

    <webmapp-favourites-layers *ngIf="selectedSegment === 'layers'"></webmapp-favourites-layers>
  </ng-container>
  <ng-template #nologged>
    <ion-label class="webmapp-favourites-nodata">
      {{'non sei loggato. puoi loggare da'|wmtrans}}
      <ion-button [routerLink]="['/profile']">{{'qui'|wmtrans}}</ion-button></ion-label
    >
  </ng-template>

  <ion-infinite-scroll
    *ngIf="selectedSegment === 'tracks'"
    threshold="100px"
    (ionInfinite)="loadData($event)"
  >
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
