<ng-container *ngIf="currentPoiProperties$|async as properties">
  <div class="wm-poi-properties-body">
    <ion-label>
      {{"Distanza da te" | wmtrans}}
      <span>{{distanceFromCurrentPoi$|async|distance:'auto':0}}</span>
    </ion-label>
    <wm-excerpt *ngIf="properties?.excerpt as excerpt" [excerpt]="excerpt"></wm-excerpt>
    <wm-tab-image-gallery
      *ngIf="properties?.image_gallery?.length"
      [imageGallery]="properties?.image_gallery"
    ></wm-tab-image-gallery>
    <wm-tab-detail
      *ngIf="showTechnicalDetails$|async"
      [properties]="properties"
    ></wm-tab-detail>
    <wm-tab-description
      *ngIf="properties?.description"
      [description]="properties?.description"
    ></wm-tab-description>
    <wm-feature-useful-urls *ngIf="showUsefulUrls$|async">
      <wm-phone *ngIf="properties?.contact_phone as phone" [phone]="phone"></wm-phone>
      <wm-email *ngIf="properties?.contact_email as email" [email]="email"></wm-email>
      <wm-related-urls *ngIf="properties?.related_url as relatedUrl" [relatedUrls]="relatedUrl">
      </wm-related-urls>
    </wm-feature-useful-urls>
    <div *ngIf="properties?.osm_url as osm" target="_blank">
      <ion-icon class="wm-icn " name="link-outline" slot="start"></ion-icon>
      <a class="webmapp-track-download-urls-item-label" [href]="osm">
        {{ "Vedi su OpenStreetMap" | wmtrans }}
      </a>
    </div>
    <wm-track-audio *ngIf="properties?.audio" [audio]="properties?.audio"></wm-track-audio>
  </div>
</ng-container>
