@import 'src/theme/mixins.scss';
webmapp-modal-waypoint-save {
  .webmapp-modalwaypoint-map {
    height: 210px;
    width: 100%;
    display: block;
  }
  wm-map {
    height: 30%;
  }
  .webmapp-modalwaypoint-extrinfo {
    position: absolute;
    background-color: var(--wm-color-dark);
    color: var(--wm-color-light);
    top: 182px;
    height: 56px;
    width: 221px;
    padding: 10px;
    border-radius: 15px;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    @include box-shadow-light;
    z-index: 99;

    .webmapp-modalwaypoint-extrinfo-icon {
      font-size: var(--wm-font-xxxlg);
      display: inline-block;
      padding: 5px;
    }
    .webmapp-modalwaypoint-extrinfo-text {
      display: inline-block;
      .webmapp-modalwaypoint-extrinfo-textcity {
        color: var(--wm-color-light);
      }
      .webmapp-modalwaypoint-extrinfo-textposition {
        color: var(--wm-color-lightgray);
      }
    }
  }

  .webmapp-modalwaypoint-itemlist {
    padding-top: 30px;
    .webmapp-modalwaypoint-itemlist-select {
      width: 100%;
      min-width: 100%;
      margin-left: -20px;
    }
  }
  .webmapp-modalwaypoint-footer {
    text-align: center;
    min-height: 80px;

    .webmapp-modalwaypoint-savebtn {
      margin-top: 20px;
      --border-radius: 20px;

      --padding-start: 100px;
      --padding-end: 100px;

      @include box-shadow-light;
      border-radius: 20px;
    }
  }
}
