@import "src/theme/mixins.scss";

.webmapp-modalwaypoint-map {
    height: 210px;
    width: 100%;
    display: block;
}

.webmapp-modalwaypoint-icon {
    position: absolute;
    left: -28px;
    top: 10px;

    &.primary {
        color: var(--wm-color-primary);
    }

    &.secondary {
        color: var(--wm-color-secondary);
    }

    &.tertiary {
        color: var(--wm-color-tertiary);
    }
}

.webmapp-modalwaypoint-extrinfo {
    position: absolute;
    background-color: var(--wm-color-secondary);
    color: var(--wm-color-light);
    top: 182px;
    height: 56px;
    width: 221px;
    padding: 10px;
    border-radius: 15px;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    @include box-shadow-light;
    z-index: 99;

    .webmapp-modalwaypoint-extrinfo-icon {
        font-size: var(--wm-font-xxxlg);
        display: inline-block;
        padding: 5px;
    }
    .webmapp-modalwaypoint-extrinfo-text {
        display: inline-block;
        .webmapp-modalwaypoint-extrinfo-textcity {
            color: var(--wm-color-light);
        }
        .webmapp-modalwaypoint-extrinfo-textposition {
            color: var(--wm-color-lightgray);
        }
    }
}

.webmapp-modalwaypoint-itemlist {
    padding-top: 30px;
    .webmapp-modalwaypoint-item {
        padding: 22px 15px 10px 22px;
        overflow: visible;

        .webmapp-modalwaypoint-label {
            font-weight: var(--wm-font-weight-bold);
            .webmapp-modalwaypoint-label-secondary {
                font-weight: var(--wm-font-weight-light);
            }
        }
    }
}
.webmapp-modalwaypoint-footer {
    text-align: center;

    .webmapp-modalwaypoint-savebtn {
        // position: absolute;
        // bottom: 10px;
        --border-radius: 20px;
        // left: 50%;
        // transform: translateX(-50%);
        // -ms-transform: translateX(-50%);

        --padding-start: 100px;
        --padding-end: 100px;

        @include box-shadow-light;
        border-radius: 20px;
    }
}
