<ion-header class="webmapp-modalwaypoint-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="close()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ "pages.waypoint.modalsave.title" | wmtrans }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true">
  <wm-map
    class="webmapp-pagewaypoint-map-container"
    [wmMapConf]="confMap$|async"
    [wmMapGeojson]="position"
  ></wm-map>

  <ion-list class="webmapp-modalwaypoint-itemlist" #formContainer>
    <ion-item class="webmapp-formfield-item">
      <ion-label class="webmapp-formfield-label" position="stacked">
        {{  nominatim?.display_name  | wmtrans }}
      </ion-label>
    </ion-item>
    <wm-form [confPOIFORMS]="acquisitionFORM$|async" (formGroupEvt)="setFormGroup($event)">
      <webmapp-form-field
        [icon]="'webmapp-icon-camera'"
        [iconColor]="'secondary'"
        [label]="'pages.waypoint.modalsave.formphotos'"
        [noline]="true"
        ><span></span
      ></webmapp-form-field>

      <wm-image-picker
        (startAddPhotos)="startAddPhotos()"
        (endAddPhotos)="endAddPhotos()"
        (photosChanged)="onPhotosAdded($event)"
      ></wm-image-picker>
    </wm-form>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar class="webmapp-modalwaypoint-footer">
    <ion-button
      class="webmapp-modalwaypoint-savebtn"
      (click)="save()"
      [disabled]="formGroup == null || (formGroup != null &&formGroup.invalid) || !(seeAllForm$|async)"
    >
      {{ "pages.waypoint.modalsave.save" | wmtrans }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
