.webmapp-map-clustermarker-container {
    position: relative;
    width: 30px;
    height: 60px;
    .webmapp-map-clustermarker-img {
        position: absolute;
        width: 61px;
        height: 67px;
        left: 0px;
        top: 0px;
        &.webmapp-map-clustermarker-img3 {
            width: 51px;
            height: 57px;
            left: -16px;
            top: 5px;
        }
        &.webmapp-map-clustermarker-img2 {
            width: 51px;
            height: 57px;
            left: 25px;
            top: 5px;
        }
    }
    .webmapp-map-clustermarker-counter {
        position: absolute;
        width: 28px;
        height: 28px;
        top: -4px;
        text-align: center;
        left: 35px;
        background-color: var(--wm-color-secondary);
        color: var(--wm-color-light);
        border-radius: 50%;
        border: 2px solid var(--wm-color-light);
        padding-top: 3px;
        font-size: var(--wm-font-sm);
    }

    .webmapp-map-clustermarker-favourite{
        position: absolute;
        top: 5px;
        left: 40px;
        color: var(--wm-color-primary);
    }
}

.webmapp-map-clustermarker-clickarea {
    width: 110px;
    height: 77px;
    top: -5px;
    left: -25px;
    position: absolute;
    border-radius: 50%;
    background: #ffffff02;
}
