<div class="webmapp-searchbar-main">
  <ion-item class="webmapp-searchbar-textcontainer">
    <i slot="start" class="webmapp-icon-search-outline"></i>
    <ion-input type="text" class="webmapp-searchbar-textinput"></ion-input>
    <i slot="end" class="webmapp-icon-settings-outline webmapp-searchbar-rightbtn"></i>
  </ion-item>


  <ion-slides pager="false" [options]="sliderOptions" class="webmapp-searchbar-categoryslider" #slider>
    <ion-slide *ngFor="let category of categories">
      <div class="webmapp-searchbar-categorybtn"
        [ngClass]="{'webmapp-searchbar-categorybtn-selected':category.selected}" (click)="select(category)">
        <i  class="webmapp-icon-{{category.icon}} webmapp-searchbar-categorybtn-icon"></i>
        {{category.name}}
      </div>
    </ion-slide>
  </ion-slides>

</div>