<div class="webmapp-gallery-backdrop">
  <ion-icon name="close-outline" class="webmapp-gallery-closebtn" (click)="close()"></ion-icon>

  <swiper-container
    #slider
    [initialSlide]="sliderOptions.initialSlide"
    [slidesPerView]="sliderOptions.slidesPerView"
    [preloadImages]="sliderOptions.preloadImages"
    class="webmapp-gallery-slider"
    (swiperslidechange)="changeIndex($event)"
  >
    <swiper-slide *ngFor="let image of images; let idx = index" class="webmapp-gallery-slide">
      <wm-img [src]="image" class="webmapp-gallery-image" alt="loading"> </wm-img>
    </swiper-slide>
  </swiper-container>

  <ion-label class="webmapp-gallery-legend"> {{actualIndex}} / {{images?.length}} </ion-label>
</div>
