<ion-content>
  <div class="webmapp-modalgiftcoin">

    <div class="ios-filling"></div>


    <div class="webmapp-modalgiftcoin-header">
      <ion-icon name="close-outline" class="webmapp-modalgiftcoin-closebtn" (click)="close()"></ion-icon>
    </div>

    <ion-label class="webmapp-modalgiftcoin-title">
      {{ 'modals.giftcoin.title' | translate }}
    </ion-label>

    <ion-label class="webmapp-modalgiftcoin-info-main">
      {{ 'modals.giftcoin.info' | translate }}
    </ion-label>

    <ion-img class="webmapp-modalgiftcoin-image" src="assets/images/coinswelcome.png"></ion-img>


    <div class="wwebmapp-modalgiftcoin-buttoncontainer">

      <ion-button expand="block" class="wwebmapp-modalgiftcoin-button" (click)="close()">
        {{ 'modals.giftcoin.button' | translate }}
      </ion-button>      

    </div>



  </div>

</ion-content>