webmapp-page-home {
  .webmapp-home-content {
    --padding-bottom: 15px;
    --background: var(--wm-color-greybackground);
    .wm-home-header-container {
      height: 200px;
      padding-top: 36px;

      // &:before {
      //   content: "";
      //   display: block;
      //   position: absolute;
      //   top: 0;
      //   z-index: -1;
      //   width: 100%;
      //   height: 310px;
      //   background: var(--wm-color-secondary);
      //   border-radius: 0 0 75% 75% / 0 0 120px 120px;
      //   transform: scaleX(1.4);
      // }

      .wm-home-hader-label {
        color: var(--wm-color-dark);
        display: block;
        font-size: var(--wm-font-xxxlg);
        font-weight: var(--wm-font-weight-bold);
        padding: 30px 20px;
      }

      .wm-home-hader-button {
        color: var(--wm-color-light);
        border-radius: 25px;
        --border-radius: 25px;
        --padding-start: 20px;
        --padding-end: 20px;
      }

      .wm-home-logo-container {
        padding: 0 18%;
        #wm-home-logo {
          max-width: 100%;
          max-height: 50px;
        }
      }
    }
    webmapp-card-big,
    webmapp-card-slider,
    webmapp-slider-box,
    webmapp-base-box,
    h3 {
      margin-inline: 10px;
    }
    h3 {
      margin-left: 20px;
    }
  }
}
