wm-page-home {
  top: calc(56px + constant(safe-area-inset-top));
  top: calc(56px + env(safe-area-inset-top));
  ion-breadcrumbs,
  .layer-details {
    width: 90%;
    margin: auto;
  }
  .layer-details {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    a,
    p {
      margin: auto;
      flex: 0 1 auto;
      align-self: auto;
    }
  }
  .webmapp-home-content {
    --padding-bottom: 15px;
    --background: var(--wm-color-greybackground);

    .home-base-box {
      background-color: red;
      height: 100%;
      width: 100%;
      max-height: 186px;
      .wm-base-box-container,
      ion-card {
        width: auto;
      }
      .wm-base-box-container {
        margin: 0px 10px;
      }
    }
    .wm-home-header-container {
      padding-top: 10px;
      display: block;
      ion-label {
        color: var(--wm-color-dark);
        display: block;
        font-size: var(--wm-font-xxxlg);
        font-weight: var(--wm-font-weight-bold);
      }

      webmapp-search-bar {
        height: 59px;
        display: block;
      }

      wm-btn-filter {
        font-family: var(--ion-font-family, inherit);
        margin-inline: 10px;
        position: absolute;
        height: 59px;
        right: 0;
      }
    }
    webmapp-card-big,
    webmapp-card-slider,
    wm-slider-box,
    wm-base-box,
    h3 {
      margin-inline: 10px;
    }
    h3 {
      margin-left: 20px;
    }
  }
}
