<ion-content class="webmapp-home-content">
  <div class="wm-home-header-container">
    <webmapp-home-intro class="wm-home-header-intro"> </webmapp-home-intro>

    <ion-label [innerHTML]="sanitizer.bypassSecurityTrustHtml((confAPP$|async).welcome | wmtrans)">
    </ion-label>
    <webmapp-search-bar
      *ngIf="online$|async"
      [initSearch]="title"
      (isTypings)="isTyping$.next($event)"
      (words)="currentSearch$.next($event)"
    >
    </webmapp-search-bar>
    <wm-btn-filter
      *ngIf="poiCards$|async"
      [filters]="confPOISFilter$|async"
      [initSelectedFilters]="selectedFilters$|async"
      (selectedFilters)="setCurrentFilters($event)"
    ></wm-btn-filter>
  </div>

  <ng-container *ngIf="(online$|async) === false">
    <downloaded-tracks-box></downloaded-tracks-box>
  </ng-container>
  <ng-container *ngIf="online$|async">
    <ng-container *ngIf="currentLayer$|async as currentLayer;else noLayer">
      <ion-breadcrumbs>
        <ion-breadcrumb (click)="goToHome()">Home</ion-breadcrumb>
        <ion-breadcrumb> {{currentLayer.title}}</ion-breadcrumb>
      </ion-breadcrumbs>
      <ng-container *ngIf="(isTyping$|async);else noType">
        <wm-search-list
          [cards]="elasticSearchFilteredByLayer$|async"
          [currentTab]="'tracks'"
          (selectedTrackEvt)="searchCard($event)"
          (selectedPoiEvt)="setPoi(+$event)"
        ></wm-search-list>
      </ng-container>
      <ng-template #noType>
        <wm-search-list
          [cards]="layerCards$|async"
          [currentTab]="'tracks'"
          (selectedTrackEvt)="searchCard($event)"
          (selectedPoiEvt)="setPoi(+$event)"
        ></wm-search-list>
      </ng-template>
    </ng-container>
    <ng-template #noLayer>
      <ng-container
        #noLayer
        *ngIf="(isTyping$|async)||(selectedFilters$|async).length>0 else myhome"
      >
        <ng-container
          *ngIf="(isTyping$|async)==false && (selectedFilters$|async).length  == 0 &&(currentLayer$|async) as currentLayer; else  list"
        >
          <wm-search-list
            [cards]="layerCards$|async"
            [currentTab]="'tracks'"
            (selectedTrackEvt)="searchCard($event)"
            (selectedPoiEvt)="setPoi(+$event)"
          ></wm-search-list>
        </ng-container>
        <ng-template #list>
          <wm-search-list
            [cards]="elasticSearch$|async"
            [pois]="poiCards$|async"
            [currentTab]="currentTab$|async"
            (selectedTrackEvt)="searchCard($event)"
            (selectedPoiEvt)="setPoi(+$event)"
          ></wm-search-list>
        </ng-template>
      </ng-container>
    </ng-template>

    <ng-template #myhome>
      <wm-home
        [conf]="confHOME$|async"
        (openSlugEvt)="openSlug($event)"
        (selectedLayerEvt)="setLayer($event)"
        (selectedTrackEvt)="searchCard($event)"
      ></wm-home>
    </ng-template>
  </ng-container>
</ion-content>
