webmapp-page-home {
  .webmapp-home-content {
    --padding-bottom: 15px;
    --background: var(--wm-color-greybackground);
    .wm-home-header-container {
      padding-top: 36px;
      padding-bottom: 45px;
      display: block;
      ion-label {
        color: var(--wm-color-dark);
        display: block;
        font-size: var(--wm-font-xxxlg);
        font-weight: var(--wm-font-weight-bold);
        padding: 30px 20px;
      }

      webmapp-search-bar {
        height: 59px;
        display: block;
      }
      wm-btn-filter {
        font-family: var(--ion-font-family, inherit);
        margin-inline: 10px;
        position: absolute;
        height: 59px;
        right: 0;
      }
    }
    webmapp-card-big,
    webmapp-card-slider,
    webmapp-slider-box,
    webmapp-base-box,
    h3 {
      margin-inline: 10px;
    }
    h3 {
      margin-left: 20px;
    }
  }
}
