<ion-content class="webmapp-home-content">

  <div class="wm-home-header-container">
    <!-- <div class="wm-home-logo-container">
      <img id="wm-home-logo" src="assets/images/homepage-logo.svg" />
    </div> -->
    <ion-label class="wm-home-hader-label">{{'pages.home.welcome' | translate}}</ion-label>
    <!-- <ion-button class="wm-home-hader-button" (click)="start()">{{'pages.home.button' | translate}}</ion-button> -->
    <webmapp-search-bar
      class="webmapp-home-searchbar"
      (searchChange)="updateSearch()"
    >
    </webmapp-search-bar>
  </div>

  <ng-container *ngFor="let home of confHOME$|async">
    <h3 *ngIf="home.view === 'title'" class="webmapp-home-title">
      {{home.title}}
    </h3>
    <ng-container *ngIf="home.view === 'compact-horizontal'">
        <webmapp-layer-box
          *ngFor="let term of home.terms"
          [data]="term"
          (clickEVT)="setLayer(term)"
        >
        </webmapp-layer-box>
    </ng-container>
  </ng-container>
  <webmapp-card-slider
    [title]="'pages.home.mostViewedTracks' | translate"
    [data]="mostViewedRoutes"
  ></webmapp-card-slider>
  <webmapp-card-slider
    [title]="'pages.home.closerTracks' | translate"
    [nodata]="'pages.home.nocloserTracks' | translate"
    [data]="nearRoutes"
    [showDistance]="true"
  ></webmapp-card-slider>
</ion-content>
