<div #map id="ol-initerary-map" class="webmapp-map-fullpage"></div>

<div
  class="webmapp-map-fabcontainer webmapp-map-fabcontainer-right"
  [ngClass]="{
    'webmapp-map-fabcontainer-bottom': btnposition == 'bottom',
    'webmapp-map-fabcontainer-middle': btnposition == 'middle'
  }"
>
  <webmapp-btn-layer class="webmapp-map-fab" *ngIf="(registering && !static) || showLayer">
  </webmapp-btn-layer>

  <webmapp-btn-register
    class="webmapp-map-fab"
    [registering]="registering"
    *ngIf="!static && !hideRegister && isLoggedIn && isRecordEnabled"
  >
  </webmapp-btn-register>

  <webmapp-btn-geolocation
    class="webmapp-map-fab"
    color="light"
    [state]="locationState"
    *ngIf="!static && !hidePosition"
    (btn-click)="btnLocationClick()"
  >
  </webmapp-btn-geolocation>

  <webmapp-btn-orientation
    *ngIf="focus === false"
    class="webmapp-map-fab"
    [degrees]="mapDegrees"
    (click)="orientNorth()"
  >
  </webmapp-btn-orientation>
</div>

<div
  class="
    webmapp-map-fabcontainer
    webmapp-map-fabcontainer-bottom
    webmapp-map-fabcontainer-center
  "
>
  <webmapp-btn-rec
    *ngIf="registering && showRecBtn && !isRecording"
    (move)="recBtnMove($event)"
    (unlocked)="recBtnUnlocked($event)"
  >
  </webmapp-btn-rec>
</div>
<div
  #scaleLineContainer
  class="webmapp-map-scale-line-container"
  [ngClass]="{
  'top-scale': btnposition == 'bottom'}"
></div>
<div
  class="webmapp-map-attribution-container"
  [ngClass]="{
  'top': btnposition == 'bottom'}"
>
  <div class="webmapp-map-attribution">
    <a class="wm-clickable webmapp-map-attribution-link" href="http://webmapp.it" target="blank">
      © Webmapp
    </a>
    <a
      class="wm-clickable webmapp-map-attribution-link"
      href="https://www.openstreetmap.org/about/"
      target="blank"
      >© OpenStreetMap
    </a>
  </div>
</div>

<div
  id="container"
  style="width: 120px; height: 120px; position: absolute; left: -10000px"
  [wmMapMap]="itineraryMap"
  wmMapPosition
  [wmMapPositionfocus]="focus"
  [wmMapPositioncurrentLocation]="currentPosition$|async"
  (locationEvt)="currentLocation($event)"
  wmAttribution
>
  <canvas id="canvas" width="100" height="100"></canvas>
</div>
