/* Home */

:root {
  --wm-home-translate-y: -77px;

  --wm-75-font-family-title: 'Playfair Display', serif;
  --wm-75-font-family-utility: 'Montserrat', sans-serif;

  --wm-font-size-xs: 12px;
  --wm-font-size-sm: 14px;
  --wm-font-size-base: 16px;
  --wm-font-size-lg: 18px;
  --wm-font-size-xl: 20px;
  --wm-font-size-2xl: 22px;
  --wm-font-size-4xl: 26px;

  --ion-text-color: #131313;
  --wm-feature-details-title-color: #131313 !important;
  --wm-feature-details-title-font-weight: 700 !important;
  --wm-feature-details-title-font-size: var(--wm-font-size-xl) !important;
  --wm-feature-details-title-font-family: var(--wm-75-font-family-title) !important;
}

webmapp-page-tabs ion-tabs ion-tab-bar {
  --wm-font-tabicon: 20px;
  height: 69px;
}
ion-tab-button {
  --color: #585b78 !important;
}
webmapp-page-tabs ion-tabs ion-tab-bar ion-label {
  font-family: var(--wm-75-font-family-utility) !important;
  font-size: var(--wm-font-size-xs) !important;
  margin-top: 4px !important;
}

wm-home .root {
  padding: 0px !important;
}
wm-home wm-searchbar ion-item ion-icon {
  color: #585b78 !important;
  margin-right: 12px !important;
}
wm-home wm-searchbar ion-input {
  --placeholder-color: #585b78 !important;
  --placeholder-opacity: 1 !important;
  font-family: var(--wm-75-font-family-utility) !important;
  font-size: var(--wm-font-size-sm) !important;
}

.wm-home-header-container {
  padding-top: 0px !important;
}

wm-searchbar {
  transform: translateY(var(--wm-home-translate-y));
  display: block;
  padding: 10px 15px !important;
}

wm-home-landing {
  transform: translateY(var(--wm-home-translate-y));
  display: block;
  margin-top: 25px !important;
}
wm-home-landing webmapp-title {
  padding-left: 16px !important;
  font-size: var(--wm-font-size-4xl) !important;
  font-family: var(--wm-75-font-family-title) !important;
}
wm-home-landing webmapp-title:nth-of-type(1) {
  padding-top: 0px !important;
}
wm-home-landing webmapp-title:nth-of-type(2) {
  padding-top: 26px !important;
  padding-bottom: 0px !important;
}
wm-home-landing wm-layer-box:first-of-type wm-layer-features-counter-badge {
  display: none !important;
}
wm-layer-features-counter-badge > div > div span {
  font-family: var(--wm-75-font-family-utility) !important;
}

wm-layer-box .wm-box {
  margin: 10px 16px !important;
  min-height: 151px;
}
wm-layer-box .wm-box::after {
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;
  background-color: white;
  color: black;
  border-radius: 50%;
  content: '\e985';
  font-family: 'webmapp' !important;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  z-index: 2;
}
wm-layer-box .wm-box wm-img {
  position: relative;
  flex: 1;
}
wm-features-box wm-box .wm-box::before,
wm-layer-box .wm-box wm-img::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 26.9%, rgba(0, 0, 0, 0.95) 100%);
  border-radius: 16px;
  z-index: 1;
}
wm-features-box wm-box .wm-box img,
wm-layer-box .wm-box wm-img img {
  filter: none !important;
}

wm-features-box wm-box {
  margin-right: 0px !important;
  min-width: 168px !important;
}
wm-features-box wm-box:first-child {
  min-width: 178px !important;
}
wm-features-box wm-box .wm-box {
  height: 168px !important;
  margin: 6px !important;
}
wm-features-box wm-box:first-child .wm-box {
  margin-left: 16px !important;
}
wm-features-box wm-box .wm-box .wm-box-title {
  padding: 16px !important;
  font-size: var(--wm-font-size-base) !important;
}
wm-features-box .wm-features-wrapper .wm-features-arrow {
  display: none !important;
}

wm-box .wm-box .wm-box-title,
wm-layer-box .wm-box .wm-box-title {
  font-family: var(--wm-75-font-family-title) !important;
  font-size: var(--wm-font-size-xl) !important;
  line-height: initial !important;
  z-index: 1;
}
wm-layer-box .wm-box .wm-box-title {
  padding: 16px 55px 16px 16px !important;
}

/* Perocorsi */
wm-filters .filter-button {
  font-family: var(--wm-75-font-family-utility) !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}
wm-filters .filter-button ion-icon {
  font-size: 22px !important;
}

wm-map .map-container .ol-zoom {
  top: unset !important;
  bottom: 50px !important;
}

wm-track-properties ion-header {
  order: 1 !important;
}
wm-track-properties wm-tab-description {
  order: 2 !important;
}
wm-track-properties wm-track-alert {
  order: 3 !important;
}
wm-track-properties wm-track-edges {
  order: 4 !important;
}
wm-travel-mode {
  order: 5 !important;
}
wm-track-properties .wm-flowline {
  order: 6 !important;
}
wm-track-properties wm-slope-chart {
  order: 7 !important;
}
wm-track-properties wm-get-directions {
  order: 8 !important;
}
wm-track-properties wm-tab-detail {
  display: none;
  order: 9 !important;
}
wm-track-properties wm-tab-howto {
  order: 10 !important;
}
wm-track-properties wm-tab-image-gallery {
  display: none;
  order: 11 !important;
}
wm-track-properties .wm-track-details-track-related-poi {
  order: 12 !important;
}
wm-track-properties wm-tab-audio {
  order: 13 !important;
}
wm-track-properties .wm-track-details-download {
  display: none;
  order: 14 !important;
}

wm-map-details ion-card ion-card-header ion-title {
  font-family: var(--wm-75-font-family-title) !important;
  font-size: var(--wm-font-size-4xl);
  color: var(--ion-text-color);
  font-weight: 700;
  padding: 8px;
}

wm-tab-description,
wm-get-directions {
  margin-top: 0px !important;
}
wm-tab-description,
wm-get-directions,
wm-tab-image-gallery,
wm-track-related-poi {
  position: relative;
}
wm-tab-description::after,
wm-get-directions::after,
wm-tab-image-gallery::after,
wm-track-related-poi::after {
  content: '';
  position: absolute;
  bottom: -24px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--ion-color-light-shade);
}
wm-map-details ion-card {
  position: relative;
}
wm-map-details ion-card::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: white;
  border-radius: 10px 10px 0 0;
  z-index: 1;
}

wm-tab-description ion-label {
  display: none;
}
wm-tab-description .webmapp-pageroute-tabdescription-description {
  font-size: var(--wm-font-size-base) !important;
  line-height: 26px !important;
  padding: 0px !important;
  margin-bottom: 0px !important;
}
wm-tab-description .webmapp-pageroute-tabdescription-description span {
  font-family: 'Merriweather' !important;
  font-size: var(--wm-font-size-base) !important;
  line-height: 26px !important;
}
wm-tab-description .wm-expand-button {
  margin-top: 0px !important;
  font-size: var(--wm-font-size-base) !important;
  line-height: 26px !important;
}

wm-track-related-poi {
  --height: 71px !important;
}
wm-track-related-poi .webmapp-track-poi-list {
  padding: 5px 0px !important;
}
wm-track-related-poi .webmapp-track-poi-distance-from-current-location {
  font-family: var(--wm-75-font-family-utility) !important;
  line-height: 26px !important;
}
wm-track-related-poi .webmapp-track-poi-btns {
  display: none !important;
}
wm-track-related-poi .webmapp-track-poi-title {
  font-family: var(--wm-75-font-family-title) !important;
}
wm-track-related-poi > ion-label {
  margin-bottom: 8px;
}
wm-track-related-poi > ion-button {
  font-family: var(--wm-75-font-family-utility) !important;
}

wm-get-directions ion-button {
  --background: #f8f8fe;
  --border-radius: 25px;
  height: 36px !important;
}
wm-get-directions ion-button ion-icon {
  font-size: 20px !important;
}
wm-get-directions ion-button ion-label {
  font-size: var(--wm-font-size-sm) !important;
  font-family: var(--wm-75-font-family-utility) !important;
}

wm-travel-mode {
  margin-bottom: 0px !important;
}
wm-travel-mode ion-segment {
  --background: #f8f8fe;
}
wm-travel-mode ion-segment ion-segment-button {
  --color: #585b78 !important;
  --indicator-box-shadow: 0px 4px 4px -1px rgba(12, 12, 13, 0.05),
    0px 4px 4px -1px rgba(12, 12, 13, 0.1) !important;
}
wm-travel-mode ion-grid ion-row ion-col div {
  font-family: var(--wm-75-font-family-utility) !important;
}
wm-travel-mode ion-grid ion-row ion-col div:first-of-type {
  font-size: var(--wm-font-size-4xl) !important;
}
wm-travel-mode ion-grid ion-row ion-col div:first-of-type.to-delete {
  font-size: 48px !important;
  line-height: 39px !important;
}
