wm-track-recorder {
  .wm-track-recorder-close-btn {
    position: absolute;
    top: calc(16px + constant(safe-area-inset-top, 30px));
    top: calc(16px + env(safe-area-inset-top, 30px));
    left: calc(16px + constant(safe-area-inset-left, 30px));
    left: calc(16px + env(safe-area-inset-left, 30px));
    margin: 0;
    z-index: 1000;
  }

  ion-card {
    position: absolute;
    left: calc(50px + env(safe-area-inset-left, 30px));
    right: calc(50px + env(safe-area-inset-right, 30px));
    top: calc(6px + env(safe-area-inset-top, 30px));
    border-radius: 15px;

    .wm-recorder-infopanel-buttons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-bottom: 1px solid var(--wm-color-lightgray);
      padding: 4px;

      ion-button {
        --background: var(--wm-color-light);
        --color: var(--wm-color-dark);
        --box-shadow: none;
        margin: 0;

        .rec {
          color: var(--wm-color-danger);
          font-size: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 1px solid var(--wm-color-danger);
        }
      }
    }

    .wm-recorder-infopanel-top {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid var(--wm-color-lightgray);
      text-align: center;
      padding: 10px;

      .wm-recorder-infopanel-top-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .wm-recorder-infopanel-top-title {
          text-transform: uppercase;
          color: var(--wm-color-darkgrey);
          font-weight: var(--wm-font-weight-normal);
          font-size: var(--wm-font-xsm);
        }

        .wm-recorder-infopanel-top-data {
          color: var(--wm-color-dark);
          font-weight: var(--wm-font-weight-xbold);
          font-size: var(--wm-font-xxlg);
          padding: 4px;
        }
      }
    }

    .wm-recorder-infopanel-bottom {
      width: 33%;
      display: inline-block;
      text-align: center;
      padding: 10px 5px;

      &.wm-recorder-infopanel-bottom-middle {
        border-left: 1px solid var(--wm-color-lightgray);
        border-right: 1px solid var(--wm-color-lightgray);
      }

      .wm-recorder-infopanel-bottom-title {
        text-transform: uppercase;
        color: var(--wm-color-darkgrey);
        font-weight: var(--wm-font-weight-normal);
        font-size: var(--wm-font-xsm);
      }

      .wm-recorder-infopanel-bottom-data {
        color: var(--wm-color-dark);
        font-weight: var(--wm-font-weight-xbold);
        font-size: var(--wm-font-md);
        padding: 4px;

        span {
          font-size: var(--wm-font-sm);
          font-weight: var(--wm-font-weight-light);
        }
      }
    }
  }

  .wm-recorder-btnrec-container {
    position: absolute;
    margin: auto;
    bottom: 50px;
    left: 0;
    right: 0;
    width: fit-content;
    z-index: 1000;
    transition: bottom 0.4s ease-in-out;
  }
}
