<ion-fab-button
  (click)="backToMap()"
  color="light"
  size="small"
  class="wm-track-recorder-close-btn"
  [ngStyle]="{
    'opacity': 1 - opacity
  }"
>
  <ion-icon name="arrow-back-outline"></ion-icon>
</ion-fab-button>

<ion-card
  [ngStyle]="{
      'opacity': opacity
    }"
>
  <div class="wm-recorder-infopanel-buttons">
    <ion-button (click)="resume()" *ngIf="isPaused; else pauseButton" e2e-recorder-resume-btn>
      <ion-icon name="ellipse" class="rec"></ion-icon>
    </ion-button>
    <ng-template #pauseButton>
      <ion-button (click)="pause()" e2e-recorder-pause-btn>
        <ion-icon name="pause-outline"></ion-icon>
      </ion-button>
    </ng-template>
    <ion-button (click)="stop()" e2e-recorder-stop-btn>
      <ion-icon name="save-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="waypoint()" e2e-recorder-waypoint-btn>
      <ion-icon name="pin-outline"></ion-icon>
    </ion-button>
  </div>
  <div class="wm-recorder-infopanel-top">
    <div class="wm-recorder-infopanel-top-center">
      <div class="wm-recorder-infopanel-top-title">
        {{'pages.register.time' | wmtrans}}
      </div>
      <div class="wm-recorder-infopanel-top-data">
        {{time?.hours | number : '2.0-0'}}:{{time?.minutes| number : '2.0-0'}}:{{time?.seconds|
          number : '2.0-0'}}
      </div>
    </div>
  </div>
  <div class="wm-recorder-infopanel-bottom">
    <div class="wm-recorder-infopanel-bottom-title">
      {{'pages.register.currentspeed' | wmtrans}}
    </div>
    <div class="wm-recorder-infopanel-bottom-data">
      {{actualSpeed | number:'1.0-0'}}<span>km/h</span>
    </div>
  </div>
  <div
    class="
        wm-recorder-infopanel-bottom
        wm-recorder-infopanel-bottom-middle
      "
  >
    <div class="wm-recorder-infopanel-bottom-title">
      {{'pages.register.averagespeed' | wmtrans}}
    </div>
    <div class="wm-recorder-infopanel-bottom-data">
      {{averageSpeed | number:'1.0-0'}}<span>km/h</span>
    </div>
  </div>
  <div class="wm-recorder-infopanel-bottom">
    <div class="wm-recorder-infopanel-bottom-title">
      {{'pages.register.odo' | wmtrans}}
    </div>
    <div class="wm-recorder-infopanel-bottom-data">{{length | number:'1.2-2'}}</div>
  </div>
</ion-card>

<div class="wm-recorder-btnrec-container" *ngIf="!(onRecord$|async)">
  <wm-btn-rec (move)="recordMove($event)" (unlocked)="recordStart($event)"> </wm-btn-rec>
</div>
