@import 'src/theme/mixins.scss';
downloaded-tracks-box {
  margin-top: calc(146px + constant(safe-area-inset-top));
  margin-top: calc(146px + env(safe-area-inset-top));
  top: calc(146px + constant(safe-area-inset-top));
  top: calc(146px + env(safe-area-inset-top));
  height: 100%;

  ion-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: flex-end;
    height: calc(46px + env(safe-area-inset-top));
    min-height: 80px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 5px;
    box-sizing: border-box;
    z-index: 999;

    h1,
    ion-icon {
      order: 0;
      flex: 0 1 auto;
      align-self: center;
    }
  }
  .downloaded-tracks-box-content {
    margin-top: calc(86px + env(safe-area-inset-top));
    box-sizing: border-box;
  }
}
