@import 'src/theme/mixins.scss';

.webmapp-register-modalsave-footer {
  text-align: center;
  height: 130px;

  .webmapp-register-modalsave-savebtn {
    --border-radius: 22px;
    --padding-start: 100px;
    --padding-end: 100px;
    font-weight: var(--wm-font-weight-bold);
    margin: 20px;
    @include box-shadow-light;
    border-radius: 32px;
    // letter-spacing: 1px;
  }

  .webmapp-register-modalsave-deletebtn {
    display: inline-block;
    color: var(--wm-color-darkgrey);
  }
}
