<ion-item class="webmapp-formfield-item">
  <i class="{{icon}} webmapp-formfield-icon {{iconColor}}"></i>
  <ion-label class="webmapp-formfield-label" position="stacked">
    {{ label | translate }}
    <span *ngIf="secondary" class="webmapp-formfield-label-secondary">
      ({{ secondary | translate }})
    </span>
    <span *ngIf="required" class="webmapp-formfield-label-required">
      *
    </span>
  </ion-label>
  <ion-input *ngIf="!textArea" [(ngModel)]="value" (ngModelChange)="valueChanged()"></ion-input>
  <ion-textarea auto-grow="true" *ngIf="textArea" [(ngModel)]="value" (ngModelChange)="valueChanged()"></ion-textarea>

</ion-item>
  <div class="webmapp-formfield-error" *ngIf="!isValid && validate">
    {{ error | translate }}
  </div>
