<ng-container *ngIf="disabled === false && (forms$|async) as forms">
  <ng-container *ngIf="forms.length> 1">
    <ion-list>
      <ion-item lines="none">
        <ion-select class="wm-form-field-select" [(ngModel)]="formId">
          <ion-select-option
            *ngFor="let form of forms; let idx=index"
            [value]="idx"
            >{{form.label|wmtrans}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item lines="none" *ngIf="(currentForm$|async).helper as helper">
        <ion-note>{{helper|wmtrans}}</ion-note>
      </ion-item>
    </ion-list>
  </ng-container>
</ng-container>
<form [formGroup]="formGroup">
  <ion-card *ngIf="disabled;else modifiable">
    <ng-container *ngIf="(currentForm$|async) as currentForm">
      <ion-card-header>
        <ion-icon name="keypad-outline"></ion-icon>
        <ion-badge>{{currentForm.label|wmtrans}}</ion-badge>
        <ng-content select="[header]"></ng-content>
      </ion-card-header>
      <ion-card-content>
        <ng-container *ngFor="let field of currentForm.fields;let idx = index">
          <ion-card-subtitle>
            <i class="{{field.type|getFormFieldIcn}} wm-form-field-icon secondary"></i>
            {{ field.label | wmtrans }}
          </ion-card-subtitle>
          <ng-container *ngIf="field.type!= 'select'">
            <ion-label>
              {{formGroup.value[field.name]}}
            </ion-label>
          </ng-container>
          <ng-container *ngIf="field.type === 'select'">
            <ion-label>
              {{field.values|getFormFieldValue:formGroup.value[field.name]|wmtrans}}
            </ion-label>
          </ng-container>
        </ng-container>
      </ion-card-content>
    </ng-container>

    <ng-content></ng-content>
  </ion-card>

  <ng-template #modifiable>
    <ng-container *ngFor="let field of (currentForm$|async).fields">
      <ion-item class="wm-form-field">
        <i class="{{field.type|getFormFieldIcn}} wm-form-field-icon secondary"></i>
        <ion-label class="wm-form-field-label" position="stacked">
          {{ field.label | wmtrans }}
          <span *ngIf="field.required" class="wm-form-field-label-required"> * </span>
        </ion-label>
        <container-element [ngSwitch]="field.type">
          <ion-input
            *ngSwitchCase="'text'"
            [placeholder]="field.placeholder | wmtrans"
            [formControlName]="field.name"
            [disabled]="disabled"
          ></ion-input>

          <ion-textarea
            *ngSwitchCase="'textarea'"
            [formControlName]="field.name"
            [placeholder]="field.placeholder | wmtrans"
            [disabled]="disabled"
          ></ion-textarea>
          <ion-select
            *ngSwitchCase="'select'"
            class="wm-form-field-select"
            [formControlName]="field.name"
            [placeholder]="field.placeholder|wmtrans"
            [disabled]="disabled"
          >
            <ion-select-option
              *ngFor="let opt of field.values"
              [value]="opt.value"
              >{{opt.label|wmtrans}}</ion-select-option
            >
          </ion-select>
        </container-element>
      </ion-item>

      <div class="wm-form-field-error" *ngIf="formGroup.controls[field.name]?.errors as errors">
        <ng-container
          *ngIf="errors.required"
          >{{'questo campo è obbligatorio'|wmtrans}}</ng-container
        >
      </div>
      <ion-note
        class="wm-form-field-helper"
        *ngIf="field.helper as helper"
        >{{helper|wmtrans}}</ion-note
      >
    </ng-container>
  </ng-template>
</form>
