<ion-tabs>
  <ion-tab-bar slot="bottom" [hidden]="isBarHidden()">
    <ion-tab-button tab="home">
      <i class="webmapp-icon-home-outline"></i>
      <ion-label class="webmapp-tabs-label">
        {{'tabs.home' | translate}}
      </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="map">
      <i class="webmapp-icon-map-outline"></i>
      <ion-label class="webmapp-tabs-label">
        {{'tabs.map' | translate}}
      </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="favourites">
      <i class="webmapp-icon-heart-outline"></i>
      <ion-label class="webmapp-tabs-label">
        {{'tabs.favourites' | translate}}
      </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <i class="webmapp-icon-user-outline"></i>
      <ion-label class="webmapp-tabs-label">
        {{'tabs.profile' | translate}}
      </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
