i[class^="webmapp-icon-"] {
  font-size: calc(var(--wm-font-xxxlg-multiplier) * 1em);
}

.webmapp-tabs-label {
  font-size: var(--wm-font-xsm);
  &::first-letter {
    text-transform: capitalize;
  }
}

ion-tab-button {
  --color-selected: var(--wm-color-primary);
  --color: var(--wm-color-darkgrey);
}
