<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{'tabs.home' | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>{{'tabs.map' | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{'tabs.profile' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
