<wm-modal-header
  [title]="'modals.settings.title' | wmtrans"
  (dismiss)="dismiss()"
></wm-modal-header>
<ion-content>
  <ion-list class="webmapp-settings-list">
    <ion-item
      *ngIf="isLogged$|async"
      class="webmapp-settings-button"
      button
      (click)="logout()"
      mode="md"
    >
      <ion-label> {{ "modals.settings.logout" | wmtrans }} </ion-label>
      <i class="icon-outline-chevron-right-outline" slot="end"></i>
    </ion-item>
    <ion-item class="webmapp-settings-version" mode="md">
      <ion-label> {{ "modals.settings.version" | wmtrans }} {{ APP_VERSION }}</ion-label>
    </ion-item>
    <wm-lang-selector
      [langs]="(langs$|async)?.available"
      [defaultLang]="(langs$|async)?.default"
    ></wm-lang-selector>
    <ion-item-group *ngIf="(confMap$|async)?.record_track_show">
      <ion-item-divider>
        <ion-label>GPS</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-note>
          <h5>
            {{ "Per registrare tracce e poi correttamente, abilita l'autorizzazione alla posizione nelle impostazioni" | wmtrans }}.
          </h5>
        </ion-note>
      </ion-item>
      <ion-item
        button
        (click)="openAppSettings()"
        class="webmapp-settings-button"
        mode="md"
      >
        <ion-label>{{'Apri impostazioni App'|wmtrans}}</ion-label>
        <i class="icon-outline-chevron-right-outline" slot="end"></i>
      </ion-item>
      <ion-item>
        <ion-note>
          <h5>
            {{'la distanza espressa in metri che indica la cadenza di rilevamento posizione, più il distance filter è minore piu il consumo della batteria sarà maggiore.'|wmtrans}}
          </h5>
          <br />
          {{gpsAccuracy[currentDistanceFilter]|wmtrans}}
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-segment [value]="currentDistanceFilter" (ionChange)="changeDistanceFilter($event)">
          <ion-segment-button
            *ngFor="let df of gpsAccuracy|keyvalue:orderOriginal"
            [value]="df.key"
          >
            <ion-label>{{df.key}} {{'metri'|wmtrans}}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
      <br />
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>{{'rimani acceso'|wmtrans}}</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>{{'forza il dispositivo a non spegnersi'|wmtrans}}</ion-label>
        <ion-toggle [checked]="keepAwake" (ionChange)="changeKeepAwake($event)"></ion-toggle>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>{{'PAGINE'|wmtrans}}</ion-label>
      </ion-item-divider>
      <div class="webmapp-profile-links">
        <ion-button
          (click)="openCmp('project')"
          size="small"
          fill="outline"
          >{{'pages.profile.projectlink'|wmtrans}}</ion-button
        >
        <ion-button
          (click)="openCmp('disclaimer')"
          size="small"
          fill="outline"
          >{{'pages.profile.disclaimerlink'|wmtrans}}</ion-button
        >
        <ion-button
          (click)="openCmp('credits')"
          size="small"
          fill="outline"
          >{{'pages.profile.creditslink'|wmtrans}}</ion-button
        >
        <ion-button
          (click)="openCmp('privacy')"
          size="small"
          fill="outline"
          >{{'pages.profile.privacylink'|wmtrans}}</ion-button
        >
      </div>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>{{'MEMORIA'|wmtrans}}</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-button
          (click)="clear()"
          size="small"
          fill="outline"
          >{{'resetta la memoria'|wmtrans}}</ion-button
        >
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
