<webmapp-modal-header
  [title]="'modals.settings.title' | wmtrans"
  (dismiss)="dismiss()"
></webmapp-modal-header>
<ion-content>
  <ion-list class="webmapp-settings-list">
    <ion-item
      *ngIf="isLoggedIn"
      class="webmapp-settings-button"
      button
      (click)="logout()"
      mode="md"
    >
      <ion-label> {{ "modals.settings.logout" | wmtrans }} </ion-label>
      <i class="icon-outline-chevron-right-outline" slot="end"></i>
    </ion-item>
    <ion-item class="webmapp-settings-version" mode="md" *ngIf="false">
      <ion-label> {{ "modals.settings.version" | wmtrans }} {{ version }}</ion-label>
    </ion-item>
    <wm-lang-selector
      [langs]="(langs$|async)?.available"
      [defaultLang]="(langs$|async)?.default"
    ></wm-lang-selector>
  </ion-list>
  <div class="webmapp-profile-links">
    <ion-button
      (click)="openCmp('project')"
      size="small"
      fill="outline"
      >{{'pages.profile.projectlink'|wmtrans}}</ion-button
    >
    <ion-button
      (click)="openCmp('disclaimer')"
      size="small"
      fill="outline"
      >{{'pages.profile.disclaimerlink'|wmtrans}}</ion-button
    >
    <ion-button
      (click)="openCmp('credits')"
      size="small"
      fill="outline"
      >{{'pages.profile.creditslink'|wmtrans}}</ion-button
    >
  </div>
</ion-content>
