<div class="wm-homeintro-container">
  <ion-icon class="wm-homeintro-btnmenu" name="menu-outline" (click)="menuOpen()"></ion-icon>

  <ion-label class="wm-homeintro-title">
    {{title}}
  </ion-label>
</div>

<ion-menu side="start" menuId="appMenu" class="wm-sidemenu" contentId="main">
  <ion-content>
    <div class="wm-sidemenu-header">
      <img class="wm-sidemenu-logo" src="assets/images/menu-logo.png" />
      <ion-title class="wm-sidemenu-title">Regione Lombardia</ion-title>
    </div>
    <ion-list class="wm-sidemenu-list">
      <ion-item
        button
        lines="none"
        (click)="goTo('project')"
        >{{"sidemenu.project" | wmtrans}}</ion-item
      >
      <ion-item
        button
        lines="none"
        (click)="goTo('offline')"
        >{{"sidemenu.offline" | wmtrans}}</ion-item
      >
      <ion-item
        button
        lines="none"
        (click)="goTo('profile')"
        >{{"sidemenu.settings" | wmtrans}}</ion-item
      >
    </ion-list>
    <ion-list class="wm-sidemenu-list">
      <ion-item
        button
        lines="none"
        (click)="goTo('credits')"
        >{{"sidemenu.credits" | wmtrans}}</ion-item
      >
      <ion-item
        button
        lines="none"
        (click)="goTo('disclaimer')"
        >{{"sidemenu.disclaimer" | wmtrans}}</ion-item
      >
    </ion-list>
  </ion-content>
</ion-menu>
