<div class="webmapp-map-register-title">
  {{'components.map.register.title' | translate}}
</div>
<div class="webmapp-map-register-element ion-activatable ripple-parent" (click)="track()" *ngIf="!registering">
  <i class="webmapp-icon-directions-outline"></i> {{'components.map.register.track' | translate}}
  <ion-ripple-effect></ion-ripple-effect>
</div>
<div class="webmapp-map-register-element ion-activatable ripple-parent" (click)="photo()">
  <i class="webmapp-icon-camera-outline"></i> {{'components.map.register.photo' | translate}}
  <ion-ripple-effect></ion-ripple-effect>
</div>
<div class="webmapp-map-register-element ion-activatable ripple-parent" (click)="waypoint()">
  <i class="webmapp-icon-pin-outline"></i> {{'components.map.register.waypoint' | translate}}
  <ion-ripple-effect></ion-ripple-effect>
</div>
<div class="webmapp-map-register-element ion-activatable ripple-parent" (click)="vocal()">
  <i class="webmapp-icon-recording-outline"></i> {{'components.map.register.vocal' | translate}}
  <ion-ripple-effect></ion-ripple-effect>
</div>