<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        mode="ios"
        defaultHref="register"
        icon="close-outline"
        text=""
        class="webmapp-backbutton webmapp-backbutton-dark"
        (click)="close()"
      >
      </ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!track">{{
      "pages.register.modalsave.title" | wmtrans
    }}</ion-title>
    <ion-title *ngIf="track">{{
      "pages.register.modalsave.titleEdit" | wmtrans
    }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-list>
  <wm-form [confPOIFORMS]="acquisitionFORM$|async" (formGroupEvt)="fg = $event">
    <webmapp-form-field
      [icon]="'webmapp-icon-camera'"
      [iconColor]="'secondary'"
      [label]="'pages.register.modalsave.formphotos'"
      [noline]="true"
      ><span></span
    ></webmapp-form-field>
    <ion-grid>
      <ion-row *ngIf="!photos?.length && !track">
        <ion-col size="12">
          <div class="webmapp-register-modalsave-loadphoto-wrapper">
            <div class="webmapp-register-modalsave-loadphoto" (click)="addPhotos()">
              <div class="webmapp-register-modalsave-loadphoto-text">
                <div class="webmapp-register-modalsave-loadphoto-action">
                  {{ "pages.register.modalsave.photoaction" | wmtrans }}
                </div>
                {{ "pages.register.modalsave.phototext" | wmtrans }}
              </div>
              <div class="webmapp-register-modalsave-loadphoto-advice">
                {{ "pages.register.modalsave.photoadvice" | wmtrans }}
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4" *ngIf="photos?.length && !track">
          <div
            class="webmapp-register-modalsave-imagecontainer
                webmapp-register-modalsave-addimagecontainer
                webmapp-register-modalsave-loadphoto"
            (click)="addPhotos()"
          >
            <div class="webmapp-register-modalsave-loadphoto-text">
              <div class="webmapp-register-modalsave-loadphoto-action">
                {{ "pages.register.modalsave.photoactionshort" | wmtrans }}
              </div>
              {{ "pages.register.modalsave.phototextshort" | wmtrans }}
            </div>
            <div class="webmapp-register-modalsave-loadphoto-advice">
              {{ "pages.register.modalsave.photoadviceshort" | wmtrans }}
            </div>
          </div>
        </ion-col>
        <ion-col size="4" *ngFor="let image of photos">
          <div class="webmapp-register-modalsave-imagecontainer">
            <ion-icon
              name="close-outline"
              class="webmapp-register-modalsave-remove"
              (click)="remove(image)"
            >
            </ion-icon>
            <!-- <img class="webmapp-register-modalsave-image" [src]="image.thumbnailURL | cdvphotolibrary"> -->
            <wm-img
              class="webmapp-register-modalsave-image"
              [src]="image.properties.photo.webPath"
            ></wm-img>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </wm-form>
</ion-list>
</ion-content>

<ion-footer class="webmapp-register-modalsave-footer">
  <ion-button
    class="webmapp-register-modalsave-savebtn"
    (click)="save()"
    [disabled]="fg ==null || (fg!=null &&fg.invalid)"
  >
    {{ "pages.register.modalsave.savebtn" | wmtrans }}</ion-button
  >

  <ion-label (click)="exit()" class="webmapp-register-modalsave-deletebtn">
    {{ 'pages.register.modalsave.deletebtn' | wmtrans }}
  </ion-label>
</ion-footer>
