<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        mode="ios"
        defaultHref="register"
        icon="close-outline"
        text=""
        class="webmapp-backbutton webmapp-backbutton-dark"
        (click)="close()"
      >
      </ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!track">{{
      "pages.register.modalsave.title" | translate
    }}</ion-title>
    <ion-title *ngIf="track">{{
      "pages.register.modalsave.titleEdit" | translate
    }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      
    <webmapp-form-field
      [required]="true"
      [(value)]="title"
      [icon]="'webmapp-icon-list'"
      [iconColor]="'secondary'"
      [label]="'pages.register.modalsave.formtitle'"
      [placeholder]="'pages.register.modalsave.formtitleplaceholder'"
      [error]="'pages.register.modalsave.formtitleerror'"
      [validate]="validate"
      (validChange)="setIsValid(0,$event)"
    ></webmapp-form-field>

    <webmapp-form-field
    [required]="true"
    [(value)]="activity"
    [icon]="'webmapp-icon-activities'"
    [iconColor]="'primary'"
    [label]="'pages.register.modalsave.formactivity'"
    [error]="'pages.register.modalsave.formactivityerror'"
    [validate]="validate"
    (validChange)="setIsValid(1,$event)"
  >
  <ion-select [(ngModel)]="activity" placeholder="{{'pages.register.modalsave.formactivityplaceholder'|translate}}">
    <ion-select-option value="run">Corsa</ion-select-option>
    <ion-select-option value="bike">Bicicletta</ion-select-option>
        </ion-select>
  </webmapp-form-field>

    <webmapp-form-field
    [(value)]="description"
    [icon]="'webmapp-icon-document'"
    [iconColor]="'tertiary'"
    [label]="'pages.register.modalsave.formdescription'"
    [placeholder]="'pages.register.modalsave.formdescriptionplaceholder'"
    [textArea]='true'
  ></webmapp-form-field>


      
<webmapp-form-field
[icon]="'webmapp-icon-camera'"
[iconColor]="'secondary'"
[label]="'pages.register.modalsave.formphotos'"
[noline]="true"
><span></span></webmapp-form-field>

  </ion-list>

  <ion-grid>
    <ion-row *ngIf="!photos?.length && !track">
      <ion-col size="12">
        <div class="webmapp-register-modalsave-loadphoto-wrapper">
          <div
            class="webmapp-register-modalsave-loadphoto"
            (click)="addPhotos()"
          >
            <div class="webmapp-register-modalsave-loadphoto-text">
              <div class="webmapp-register-modalsave-loadphoto-action">
                {{ "pages.register.modalsave.photoaction" | translate }}
              </div>
              {{ "pages.register.modalsave.phototext" | translate }}
            </div>
            <div class="webmapp-register-modalsave-loadphoto-advice">
              {{ "pages.register.modalsave.photoadvice" | translate }}
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4" *ngIf="photos?.length && !track">
        <div
          class="            webmapp-register-modalsave-imagecontainer
            webmapp-register-modalsave-addimagecontainer
            webmapp-register-modalsave-loadphoto
          "
          (click)="addPhotos()"
        >
          <div class="webmapp-register-modalsave-loadphoto-text">
            <div class="webmapp-register-modalsave-loadphoto-action">
              {{ "pages.register.modalsave.photoactionshort" | translate }}
            </div>
            {{ "pages.register.modalsave.phototextshort" | translate }}
          </div>
          <div class="webmapp-register-modalsave-loadphoto-advice">
            {{ "pages.register.modalsave.photoadviceshort" | translate }}
          </div>
        </div>
      </ion-col>
      <ion-col size="4" *ngFor="let image of photos">
        <div class="webmapp-register-modalsave-imagecontainer">
          <ion-icon
            name="close-outline"
            class="webmapp-register-modalsave-remove"
            (click)="remove(image)"
          >
          </ion-icon>
          <!-- <img class="webmapp-register-modalsave-image" [src]="image.thumbnailURL | cdvphotolibrary"> -->
          <ion-img
            class="webmapp-register-modalsave-image"
            [src]="image?.rawData ? image?.rawData : image?.datasrc"
          ></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="webmapp-register-modalsave-footer">
  <ion-button
    class="webmapp-register-modalsave-savebtn"
    (click)="save()"
  >
    {{ "pages.register.modalsave.savebtn" | translate }}</ion-button
  >
</ion-footer>
