@import "src/theme/mixins.scss";

.webmapp-pageregister-map-container {
  width: 100%;
  height: 100%;
}

.webmapp-pageregister-infopanel {
  position: absolute;
  height: 169px;
  //   width: 345px;
  left: 15px;
  right: 15px;
  top: 34px;
  border-radius: 15px;

  .webmapp-pageregister-infopanel-top {
    height: 83px;
    border-bottom: 1px solid var(--wm-color-lightgray);
    text-align: center;
    padding: 18px 5px;

    .webmapp-pageregister-infopanel-top-title {
      text-transform: uppercase;
      color: var(--wm-color-darkgrey);
      font-weight: var(--wm-font-weight-normal);
      font-size: var(--wm-font-sm);
    }

    .webmapp-pageregister-infopanel-top-data {
      color: var(--wm-color-dark);
      font-weight: var(--wm-font-weight-xbold);
      font-size: var(--wm-font-xxxlg);
      padding: 4px;
    }
  }

  .webmapp-pageregister-infopanel-bottom {
    width: 33%;
    display: inline-block;
    text-align: center;
    padding: 10px 5px;

    &.webmapp-pageregister-infopanel-bottom-middle {
      border-left: 1px solid var(--wm-color-lightgray);
      border-right: 1px solid var(--wm-color-lightgray);
    }

    .webmapp-pageregister-infopanel-bottom-title {
      text-transform: uppercase;
      color: var(--wm-color-darkgrey);
      font-weight: var(--wm-font-weight-normal);
      font-size: var(--wm-font-sm);
    }

    .webmapp-pageregister-infopanel-bottom-data {
      color: var(--wm-color-dark);
      font-weight: var(--wm-font-weight-xbold);
      font-size: var(--wm-font-lg);
      padding: 4px;
    }
  }
}

.webmapp-pageregister-backgroundbtn {
  position: absolute;
  text-align: center;
  top: 238px;
  width: 100%;

  .webmapp-pageregister-backgroundbtn-button {
    --border-radius: 22px;
    font-size: var(--wm-font-sm);
    @include box-shadow-light;
    border-radius: 32px;

    i {
      margin-right: 10px;
    }
  }
}

.webmapp-pageregister-header {
  position: absolute;
}

.webmapp-pageregister-btnbottomcenter {
  display: inline-block;
  @include box-shadow-light;
  border-radius: 32px;

  &.webmapp-pageregister-resumebtn {
    --color: var(--wm-color-primary);
    --background: var(--wm-color-light);
    --background-activated: var(--wm-color-primary);
    --background-activated-opacity: 0.25;
    --background-focused: var(--wm-color-light);
    --background-focused-opacity: 0;
    --background-hover: var(--wm-color-light);
    --background-hover-opacity: 0;
    --border-color: var(--wm-color-primary);
    --border-style: solid;
    --border-width: 1px;
    margin-left: -40px;
    margin-right: 15px;
  }

  &.webmapp-pageregister-pausebtn {
    --color: var(--wm-color-primary);
    --background: var(--wm-color-light);
    --background-activated: var(--wm-color-primary);
    --background-activated-opacity: 0.25;
    --background-focused: var(--wm-color-light);
    --background-focused-opacity: 0;
    --background-hover: var(--wm-color-light);
    --background-hover-opacity: 0;
    --border-color: var(--wm-color-primary);
    --border-style: solid;
    --border-width: 1px;
    margin-left: -40px;
    margin-right: 15px;
  }

  &.webmapp-pageregister-stopbtn {
    &.webmapp-pageregister-recording {
      box-shadow: 0px 0px 1px 5px rgba(255, 126, 107, 0.3);
    }
  }

  .webmapp-pageregister-btncontent {
    i {
      display: block;
    }

    .webmapp-pageregister-btntext {
      font-size: var(--wm-font-xxsm);
    }
  }
}

.webmapp-pageregister-btnicon {
  font-size: var(--wm-font-icon);
}

.webmapp-pageregister-bottomfab {
  bottom: 30px;
}

.webmapp-pageregister-btnbottomleft {
  position: absolute;
  bottom: 20px;
  left: 10px;
}

.wm-fab-container{
  bottom: 33px;
  ion-fab-button{
    --background: var(--wm-color-light);
  }
}
