.webmapp-pageregister-map-container {
  width: 100%;
  height: 100%;
}

.webmapp-pageregister-infopanel {
  position: absolute;
  height: 169px;
  //   width: 345px;
  left: 15px;
  right: 15px;
  top: 34px;
  border-radius: 15px;

  .webmapp-pageregister-infopanel-top {
    height: 83px;
    border-bottom: 1px solid var(--wm-color-lightgray);
    text-align: center;
    padding: 18px 5px;

    .webmapp-pageregister-infopanel-top-title {
      text-transform: uppercase;
      color: var(--wm-color-darkgrey);
      font-weight: var(--wm-font-weight-normal);
      font-size: var(--wm-font-sm);
    }

    .webmapp-pageregister-infopanel-top-data {
      color: var(--wm-color-dark);
      font-weight: var(--wm-font-weight-xbold);
      font-size: var(--wm-font-xxxlg);
      padding: 4px;
    }

  }

  .webmapp-pageregister-infopanel-bottom {
    width: 33%;
    display: inline-block;
    text-align: center;
    padding: 10px 5px;

    &.webmapp-pageregister-infopanel-bottom-middle {
      border-left: 1px solid var(--wm-color-lightgray);
      border-right: 1px solid var(--wm-color-lightgray);

    }

    .webmapp-pageregister-infopanel-bottom-title {
      text-transform: uppercase;
      color: var(--wm-color-darkgrey);
      font-weight: var(--wm-font-weight-normal);
      font-size: var(--wm-font-sm);
    }

    .webmapp-pageregister-infopanel-bottom-data {
      color: var(--wm-color-dark);
      font-weight: var(--wm-font-weight-xbold);
      font-size: var(--wm-font-lg);
      padding: 4px;
    }

  }

}

.webmapp-pageregister-backgroundbtn {
  position: absolute;
  text-align: center;
  top: 238px;
  width: 100%;

  .webmapp-pageregister-backgroundbtn-button {
    --border-radius:22px;
    font-size: var(--wm-font-sm);
    i {
      margin-right: 10px;
    }

  }
}

.webmapp-pageregister-header {
  position: absolute;
}



.webmapp-pageregister-btnbottomcenter {
  display: inline-block;
}


.webmapp-pageregister-btnbottomleft {
  position: absolute;
  bottom: 20px;
  left: 10px;
}
