<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>method</key>
  <string>app-store</string>
  <key>teamID</key>
  <string>BSTW6XXE23</string>
  <key>teamName</key>
  <string>WEBMAPP SRL</string>
  <key>provisioningProfiles</key>
  <dict>
    <key>{{WM_APP_ID}}</key>
    <string>{{WM_PROVISIONING_PROFILE}}</string>
  </dict>
</dict>
</plist>
