<ion-content class="webmapp-modalsuccess">
  <div class="ios-filling"></div>
  <div class="webmapp-modalsuccess-header">
    <ion-icon
      name="close-outline"
      class="webmapp-modalsuccess-closebtn"
      (click)="close()"
    ></ion-icon>
  </div>
  <div class="webmapp-modalsuccess-body">
    <img class="webmapp-modalsuccess-img" src="assets/images/registersuccess.svg" *ngIf="isTrack" />
    <img class="webmapp-modalsuccess-img" src="assets/images/photosuccess.png" *ngIf="isPhotos" />
    <img
      class="webmapp-modalsuccess-img"
      src="assets/images/waypointsuccess.png"
      *ngIf="isWaypoint"
    />
    <div class="webmapp-modalsuccess-title" *ngIf="isTrack">
      {{'modals.success.track.title' | wmtrans}}
    </div>
    <div class="webmapp-modalsuccess-title" *ngIf="isPhotos">
      {{'modals.success.photos.title' | wmtrans}}
    </div>
    <div class="webmapp-modalsuccess-title" *ngIf="isWaypoint">
      {{'modals.success.waypoint.title' | wmtrans}}
    </div>
    <div class="webmapp-modalsuccess-text" *ngIf="isTrack">
      {{'modals.success.track.text' | wmtrans}}
    </div>
    <div class="webmapp-modalsuccess-text" *ngIf="isPhotos">
      {{'modals.success.photos.text' | wmtrans}}
    </div>
    <div class="webmapp-modalsuccess-text" *ngIf="isWaypoint">
      {{'Hai salvato correttamente il tuo waypoint. Puoi visualizzarlo accedendo al tuo profilo.' | wmtrans}}
    </div>
    <ion-card class="webmapp-modalsuccess-infopanel" *ngIf="isTrack" (click)="openTrack(track)">
      <div class="webmapp-modalsuccess-infopanel-top">
        <div class="webmapp-modalsuccess-infopanel-top-map">
          <wm-map
            [wmMapConf]="confMap$|async"
            [wmMapOnly]="true"
            [wmMapGeojson]="track.geojson"
          ></wm-map>
        </div>
        <div class="webmapp-modalsuccess-infopanel-top-info">
          <div class="webmapp-modalsuccess-infopanel-top-name">{{track.title}}</div>
          <div class="webmapp-modalsuccess-infopanel-top-date">{{trackDate | date}}</div>
        </div>
      </div>

      <div class="webmapp-modalsuccess-infopanel-middle">
        <i class="webmapp-icon-duration-outline webmapp-modalsuccess-infopanel-icon"></i>
        {{trackTime?.hours | number : '2.0-0'}}:{{trackTime?.minutes| number :
        '2.0-0'










        }}:{{trackTime?.seconds| number : '2.0-0'}}
      </div>
      <div class="webmapp-modalsuccess-infopanel-middle">
        <i class="webmapp-icon-distance webmapp-modalsuccess-infopanel-icon"></i>
        {{trackodo | number : '1.1-1'}}km
      </div>
      <div class="webmapp-modalsuccess-infopanel-middle">
        <i class="webmapp-icon-downhill-outline webmapp-modalsuccess-infopanel-icon"></i>
        {{trackSlope | number:'1.0-00'}}m
      </div>
      <div
        class="webmapp-modalsuccess-infopanel-photobottom"
        *ngIf="track.photos && track.photos.length"
      >
        <div
          class="webmapp-modalsuccess-infopanel-photocontainer"
          *ngFor="let photo of track.photos  | slice:0:3;let idx = index"
        >
          <div *ngIf="idx<3">
            <ion-img [src]="photo.datasrc" class="webmapp-modalsuccess-infopanel-photo"></ion-img>
            <div
              class="webmapp-modalsuccess-infopanel-photoextra"
              *ngIf="idx===2 && track.photos.length>3"
            >
              +{{track.photos.length-3}}
            </div>
          </div>
        </div>
      </div>
    </ion-card>

    <div class="webmapp-modalsuccess-photogallery" *ngIf="isPhotos" (click)="gotoPhotos()">
      <div
        class="webmapp-modalsuccess-photocontainer"
        *ngFor="let photo of photos | slice:0:3;let idx = index;"
      >
        <div *ngIf="idx<3">
          <ion-img [src]="photo.datasrc" class="webmapp-modalsuccess-photo"></ion-img>
          <div class="webmapp-modalsuccess-photoextra" *ngIf="idx===2 && photos.length>3">
            +{{photos.length-3}}
          </div>
        </div>
      </div>
    </div>
    <ion-card
      class="webmapp-modalsuccess-infopanel"
      *ngIf="isWaypoint"
      (click)="openWaypoint(waypoint)"
    >
      <div class="webmapp-modalsuccess-infopanel-top">
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <div class="webmapp-modalsuccess-infopanel-top-map">
                <wm-map
                  [wmMapConf]="confMap$|async"
                  [wmMapOnly]="true"
                  [wmMapGeojson]="displayPosition"
                ></wm-map>
              </div>
            </ion-col>
            <ion-col
              size="8"
              class="webmapp-modalsuccess-infopanel-top-info webmapp-modalsuccess-infopanel-top-info"
            >
              <div class="webmapp-modalsuccess-infopanel-top-name">{{waypoint.title}}</div>
              <div class="webmapp-modalsuccess-infopanel-top-date">{{today | date }}</div>
              <div class="webmapp-modalsuccess-infopanel-section">
                <i class="webmapp-icon-pin-outline webmapp-modalsuccess-infopanel-sectionicon"></i>
                <div class="webmapp-modalsuccess-infopanel-top-text">
                  {{waypoint.position.latitude}} , {{waypoint.position.longitude}}
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div
        class="webmapp-modalsuccess-infopanel-photobottom"
        *ngIf="waypoint.photos && waypoint.photos.length"
      >
        <div
          class="webmapp-modalsuccess-infopanel-photocontainer"
          *ngFor="let photo of waypoint.photos | slice:0:3;let idx = index"
        >
          <div *ngIf="idx<3">
            <ion-img [src]="photo.datasrc" class="webmapp-modalsuccess-infopanel-photo"></ion-img>
            <div
              class="webmapp-modalsuccess-infopanel-photoextra"
              *ngIf="idx===2 && waypoint.photos.length>3"
            >
              +{{waypoint.photos.length-3}}
            </div>
          </div>
        </div>
      </div>
    </ion-card>
  </div>
  <div class="webmapp-modalsuccess-footer" (click)="close()">
    {{'modals.success.return' | wmtrans}}
  </div>
</ion-content>
