@import "src/theme/mixins.scss";

.webmapp-modalsuccess {
  width: 100%;
  height: 100%;
  --background: var(--wm-color-dark);

  .webmapp-modalsuccess-header {
    .webmapp-modalsuccess-closebtn {
      margin: 10px;
      width: 24px;
      height: 24px;
      color: var(--wm-color-light);
      font-size: var(--wm-font-icon);
    }
  }

  .webmapp-modalsuccess-body {
    .webmapp-modalsuccess-img {
      object-fit: cover;
      padding: 0px 30px;
    }

    .webmapp-modalsuccess-title {
      font-weight: var(--wm-font-weight-bold);
      font-size: var(--wm-font-xxxlg);
      color: var(--wm-color-light);
      text-align: center;
      padding: 14px 25px;
    }

    .webmapp-modalsuccess-text {
      font-weight: var(--wm-font-weight-normal);
      font-size: var(--wm-font-md);
      text-align: center;
      color: var(--wm-color-grey);
      padding: 2px 20px;
    }
    .webmapp-modalsuccess-photoslider {
      padding: 40px 0;
      overflow: visible;
      .webmapp-modalsuccess-photocontainer {
        position: relative;
        .webmapp-modalsuccess-photo {
          height: 120px;
          width: 120px;
          &::part(image) {
            object-fit: cover;
            border-radius: 15px;
          }
        }
        .webmapp-modalsuccess-photodescription {
          color: var(--wm-color-light);
          position: absolute;
          width: 110px;
          height: 120px;

          height: 99px;
          overflow: hidden;
          text-overflow: ellipsis;
          left: 5px;
          bottom: 10px;

          font-size: var(--wm-font-md);
          font-weight: var(--wm-font-weight-bold);
        }
      }
    }

    .webmapp-modalsuccess-photogallery{
      text-align: center;
      padding-top:32px;
    .webmapp-modalsuccess-photocontainer{
      position: relative;
      width: 33%;
      display: inline-block;
      text-align: center;
    .webmapp-modalsuccess-photo{
      height: 108px;
      width: 108px;
      display: inline-block;
      border: solid 1px var(--wm-color-light);
      border-radius: 8px;
      &::part(image) {
        object-fit: cover;
        border-radius: 8px;
      }}
    .webmapp-modalsuccess-photoextra{
      position: absolute;
      width: 108px;
      height: 108px;
      top: 0;
      vertical-align: middle;
      background: #00000088;
      border-radius: 8px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 31px;
      color: #fff;
      padding-top: 20px;}
    }}

    .webmapp-modalsuccess-infopanel {
      border-radius: 15px;

      .webmapp-modalsuccess-infopanel-top {
        display: inline-block;
        width: 100%;
        padding: 16px;
        border-bottom: solid 1px var(--wm-color-grey);

        .webmapp-modalsuccess-infopanel-top-map {
          display: inline-block;
          width: 100px;
          height: 100px;
          border-radius: 15px;
          overflow: hidden;
        }

        .webmapp-modalsuccess-infopanel-top-info {
          display: inline-block;
          vertical-align: top;
          padding-left: 15px;
          width: 65%;

          .webmapp-modalsuccess-infopanel-top-name {
            padding: 5px;
            font-weight: var(--wm-font-weight-bold);
            font-size: var(--wm-font-md);
            color: var(--wm-color-dark);
          }

          .webmapp-modalsuccess-infopanel-top-date {
            padding: 5px;
            font-weight: var(--wm-font-weight-light);
            font-size: var(--wm-font-sm);
            color: var(--wm-color-darkgrey);
          }
        }
      }

      .webmapp-modalsuccess-infopanel-middle {
        width: 33%;
        display: inline-block;
        text-align: center;
        padding: 10px 5px;
        // border: 1px solid var(--wm-color-lightgray);
        // border-right: 0px;
        font-weight: bold;
        font-size: 16px;
        color: var(--wm-color-dark);
        .webmapp-modalsuccess-infopanel-icon {
          vertical-align: sub;
        }
      }

      .webmapp-modalsuccess-infopanel-content {
        width: 100%;
        padding: 15px;
        display: inline-block;
        border: 1px solid var(--wm-color-lightgray);
      }

      .webmapp-modalsuccess-infopanel-top-info-limited {
        width: 60%;
      }

      .webmapp-modalsuccess-infopanel-bottom {
        width: 33%;
        display: inline-block;
        text-align: center;
        padding: 10px 5px;

        &.webmapp-modalsuccess-infopanel-bottom-middle {
          border-left: 1px solid var(--wm-color-lightgray);
          border-right: 1px solid var(--wm-color-lightgray);
        }
      }

      .webmapp-modalsuccess-infopanel-photobottom {
        border-top: solid 1px var(--wm-color-grey);
        padding-top: 20px;
        height: 120px;
        text-align: center;

        .webmapp-modalsuccess-infopanel-photocontainer {
          position: relative;
          width: 33%;
          display: inline-block;
          text-align: center;
        }

        .webmapp-modalsuccess-infopanel-photo {
          height: 77px;
          width: 92px;
          display: inline-block;
          &::part(image) {
            object-fit: cover;
            border-radius: 8px;
          }
        }

        .webmapp-modalsuccess-infopanel-photoextra {
          position: absolute;
          width: 92px;
          height: 77px;
          top: 0;
          vertical-align: middle;
          background: #00000088;
          border-radius: 8px;
          left: 50%;
          transform: translateX(-50%);
          font-size: 31px;
          color: #fff;
          padding-top: 20px;
        }
      }

      .webmapp-modalsuccess-infopanel-section {
        text-align: start;
        padding: 3px 1px;
        vertical-align: top;

        .webmapp-modalsuccess-infopanel-sectionicon {
          display: inline-block;
          vertical-align: top;
          color: var(--wm-color-grey);
          &.primary {
            color: var(--wm-color-primary);
          }

          &.secondary {
            color: var(--wm-color-secondary);
          }

          &.tertiary {
            color: var(--wm-color-tertiary);
          }
        }
        .webmapp-modalsuccess-infopanel-title,
        .webmapp-modalsuccess-infopanel-data,
        .webmapp-modalsuccess-infopanel-top-name,
        .webmapp-modalsuccess-infopanel-text,
        .webmapp-modalsuccess-infopanel-top-date {
          display: inline-block;
          width: 90%;
        }
        .webmapp-modalsuccess-infopanel-top-name,
        .webmapp-modalsuccess-infopanel-top-text {
          display: inline-block;
          // width: 60%;
          padding: 0 8px;
        }

        .webmapp-modalsuccess-infopanel-text {
          padding: 0 10px;
        }
      }

      .webmapp-modalsuccess-infopanel-title {
        // text-transform: uppercase;
        color: var(--wm-color-darkgrey);
        font-weight: var(--wm-font-weight-normal);
        font-size: var(--wm-font-sm);
      }

      .webmapp-modalsuccess-infopanel-data {
        color: var(--wm-color-dark);
        font-weight: var(--wm-font-weight-xbold);
        font-size: var(--wm-font-lg);
        padding: 4px;
      }
    }
  }

  .webmapp-modalsuccess-footer {
    font-weight: var(--wm-font-weight-normalplus);
    font-size: var(--wm-font-md);
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    color: var(--wm-color-light);
  }
}
