<div class="webmapp-searchbar-main">
  <ion-item class="webmapp-searchbar-textcontainer">
    <i slot="start" class="webmapp-icon-search-outline"></i>
    <form [formGroup]="searchForm">
      <ion-input
        formControlName="search"
        type="text"
        class="webmapp-searchbar-textinput"
        placeholder="{{'components.searchbar.placeholder'|translate}}"
      >
      </ion-input>
    </form>
    <i slot="end" (click)="reset()" *ngIf="(isTypingsEVT|async) === true">
      <ion-icon name="close"></ion-icon>
    </i>
  </ion-item>
</div>
