@import "src/theme/mixins.scss";

.webmapp-modalstoresuccess {
    //   width: 100%;
    //   height: 100%;
    //   --background: var(--wm-color-secondary);
    padding: 16px;

    .webmapp-modalstoresuccess-title {
        font-weight: var(--wm-font-weight-bold);
        font-size: var(--wm-font-xxxlg);
        color: var(--wm-color-dark);
        padding-top: 5px;
        display: block;
    }

    .webmapp-modalstoresuccess-image {
        padding: 40px;
    }

    .webmapp-modalstoresuccess-info-main {
        padding-top: 30px;
        padding-left: 30px;
        display: inline-block;
        font-size: var(--wm-font-md);
        color: var(--wm-color-dark);
    }

    .webmapp-modalstoresuccess-info-sub {
        padding-top: 30px;
        padding-left: 30px;
        display: inline-block;
        font-size: var(--wm-font-md);
        color: var(--wm-color-dark);
    }

    .wwebmapp-modalstoresuccess-buttoncontainer {
        text-align: center;
        padding: 20px;

        .wwebmapp-modalstoresuccess-buttondownload {
            --border-radius: 20px;
            margin: 20px 0;
            .webmapp-modalstoresuccess-buttondownload-icon {
                margin-right: 15px;
                margin-left: 15px;
            }
        }

        .webmapp-modalstoresuccess-buttonor {
            display: block;
            padding: 30px;
            font-size: var(--wm-font-sm);
            color: var(--wm-color-grey);
        }

        .webmapp-modalstoresuccess-anchorback {
            color: var(--wm-color-secondary);
            font-weight: var(--wm-font-weight-bold);
            font-size: var(--wm-font-md);
        }
    }
}
