@import "src/theme/mixins.scss";

.webmapp-register-modalphotos-footer {
  text-align: center;

  .webmapp-register-modalphotos-savebtn {
    --border-radius: 22px;
    --padding-start: 100px;
    --padding-end: 100px;
    font-weight: var(--wm-font-weight-bold);
    margin: 20px;
    @include box-shadow-light;
    border-radius: 32px;
    letter-spacing: 1px;
  }
}

.webmapp-register-modalphotos-selectcontainer {
  text-align: right;

  .webmapp-register-modalphotos-selectall {
    margin: 16px;

    --border-radius: 22px;
    @include box-shadow-light;
    border-radius: 32px;
    letter-spacing: 1px;
    font-size: var(--wm-font-xsm);

    height: 28px;
    --background: var(--wm-color-light);
    --background-activated: var(--wm-color-dark);
    --background-activated-opacity: 0.25;
    --background-focused: var(--wm-color-light);
    --background-focused-opacity: 0;
    --background-hover: var(--wm-color-light);
    --background-hover-opacity: 0;
    --color: var(--wm-color-primary);
    --border-color: var(--wm-color-primary);
    --border-style: solid;
    --border-width: 1px;


    .webmapp-register-modalphotos-deselectall {

      --background: var(--wm-color-primary);
      --color: var(--wm-color-light);
      --background-activated: var(--wm-color-primary);
      --background-activated-opacity: 0.25;
      --background-focused: var(--wm-color-primary);
      --background-focused-opacity: 0;
      --background-hover: var(--wm-color-primary);
      --background-hover-opacity: 0;
    }
  }

}

.webmapp-register-modalphotos-imagecontainer {
  text-align: center;
  height: 101px;
  width: 108px;
  position: relative;

  .webmapp-register-modalphotos-image {
    border-radius: 15px;
    height: 101px;
    width: 108px;
  }

  .webmapp-register-modalphotos-check {
    position: absolute;
    top: 5px;
    right: 5px;
    --background: rgba(255, 255, 255, 0.4);
    --background-checked: var(--wm-color-light);
    --border-color: var(--wm-color-light);
    --border-color-checked: var(--wm-color-light);
    --checkmark-color: var(--wm-color-primary);
    --size:21px;
    --checkmark-width:2px;

    
    @include box-shadow-light;
    border-radius: 32px;

  }
}
