<div class="webmapp-pageroute-downloadbackpanel"></div>
<div class="webmapp-pageroute-downloadpanel">
  <div class="webmapp-pageroute-downloadpanel-container">
    <ion-img class="webmapp-pageroute-downloadpanel-logo" src="assets/icon/icon.png"></ion-img>
    <i
      class="webmapp-pageroute-downloadpanel-exit icon-outline-close-outline"
      (click)="closeEvt.emit()"
    >
    </i>
    <wm-download-panel
      [track]="track"
      [overlayUrls]="overlayUrls"
      [overlayGeometry]="overlayGeometry"
      [overlayXYZ]="overlayXYZ"
      [boundingBox]="boundingBox"
      (changeStatus)="downloadStatus($event)"
      (exit)="endDownload()"
      (closeDownload)="closeEvt.emit()"
    ></wm-download-panel>
  </div>
</div>
