@import "src/theme/mixins.scss";

.webmapp-modalphotosave-title {
    text-align: center;
}

.webmapp-modalphotosave-formtitle {
    padding: 10px 20px 0;
}

.webmapp-modalphotosave-toolbar {
    ion-button {
        --background: var(--wm-color-lightgray);
        color: var(--wm-color-dark);
    }

    .webmapp-modalphotosave-btnaddphoto {
        height: 33px;
        font-size: var(--wm-font-sm);
        --border-radius: 30px;
        margin: 11px 15px 0;
        .webmapp-modalphotosave-btnaddphotoicon {
            border-radius: 10px;
            background-color: var(--wm-color-secondary);
            color: var(--wm-color-light);
            margin: 0 5px 0 -5px;
        }
    }
    .webmapp-modalphotosave-btnview {
        height: 40px;
        width: 40px;
        --border-radius: 4px;
        float: right;
        margin: 5px 15px 1px -5px;
    }
    .webmapp-modalphotosave-btnviewselected {
        color: var(--wm-color-primary);
        --border-color: var(--wm-color-primary);
        --border-style: solid;
        --border-width: 1px;
    }
}

.webmapp-modalphotosave-itemboxlist {
    width: 100%;
    .webmapp-modalphotosave-itembox {
        width: 95%;
        height: 142px;
        border-radius: 15px;
        overflow: hidden;
        margin: auto;
        position: relative;

        .webmapp-modalphotosave-itembox-remove {
            position: absolute;
            right: 10px;
            top: 10px;
            background: var(--wm-color-light);
            border-radius: 15px;
            width: 19px;
            height: 19px;
            @include box-shadow-light;
        }

        .webmapp-modalphotosave-itembox-edit {
            position: absolute;
            left: 10px;
            bottom: 10px;
            background: transparent;
            color: var(--wm-color-light);
            font-size: var(--wm-font-md);
        }

        .webmapp-modalphotosave-itembox-image {
            // width: 168px;
            height: 142px;
            &::part(image) {
                object-fit: cover;
            }
        }

        .webmapp-modalphotosave-itembox-imagedrop {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 142px;
            background: linear-gradient(0deg, black 0%, transparent 32%);
            border-radius: 15px;
        }

        .webmapp-modalphotosave-itembox-imagetitle {
            position: absolute;
            left: 35px;
            bottom: 10px;
            max-width: 75%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            background: transparent;
            color: var(--wm-color-light);
        }
    }
}

.webmapp-modalphotosave-item {
    padding: 15px 0px;

    .webmapp-modalphotosave-item-photo {
        width: 108px;
        height: 100px;
        margin: 0;
        &::part(image) {
            border-radius: 15px;
            object-fit: cover;
        }
    }

    .webmapp-modalphotosave-item-imagedrop {
        width: 108px;
        height: 100px;
        background: linear-gradient(0deg, black 0%, transparent 30%);
        border-radius: 15px;
        position: absolute;
        bottom: -1px;
    }

    .webmapp-modalphotosave-item-edit {
        position: absolute;
        left: 29px;
        bottom: 7px;
        background: transparent;
        color: var(--wm-color-light);
        font-size: 16px;
    }

    .webmapp-modalphotosave-item-inputwrapper {
        padding: 10px 10px;
        position: absolute;
        bottom: -8px;
        width: 95%;

        .webmapp-modalphotosave-item-icon {
            font-size: var(--wm-font-lg);
            color: var(--wm-color-secondary);
        }

        .webmapp-modalphotosave-item-label {
            font-style: normal;
            font-weight: bold;
            font-size: var(--wm-font-sm);
            color: var(--wm-color-dark);
        }
        .webmapp-modalphotosave-item-input {
            border-bottom: 1px solid var(--wm-color-grey);
            font-size: 14px;
        }
    }
}

.webmapp-modalphotosave-footer {
    text-align: center;
    .webmapp-modalphotosave-savebtn {
        --border-radius: 22px;
        --padding-start: 100px;
        --padding-end: 100px;
        font-weight: var(--wm-font-weight-bold);
        margin: 20px;
        @include box-shadow-light;
        border-radius: 32px;
    }
}
