<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="register" icon="close-outline" text="" class="webmapp-backbutton" (click)="close()">
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{'modals.photo.save.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list>
    <ion-item class="webmapp-register-modalsave-item">      
      <i class="webmapp-icon-list webmapp-register-modalsave-icon secondary"></i>
      <ion-label class="webmapp-register-modalsave-label" position="stacked">{{'modals.photo.save.formtitle' |
        translate}}</ion-label>
    </ion-item>
    <ion-item class="webmapp-register-modalsave-item" *ngFor="photo of photos">
      <i class="webmapp-icon-activities webmapp-register-modalsave-icon primary"></i>
      <ion-label class="webmapp-register-modalsave-label" position="stacked">{{'modals.photo.save.formphototitle' |
        translate}}</ion-label>
      <ion-input [(ngModel)]="description"></ion-input>
      
    </ion-item>
    
  </ion-list> -->

</ion-content>


<ion-footer class="webmapp-register-modalsave-footer">
  <ion-button class="webmapp-register-modalsave-savebtn" (click)="save()" [disabled]="!isValid()">
    {{'modals.photo.save.savebtn' | translate}}</ion-button>
</ion-footer>