<ion-content>
    <h3 class="webmapp-profile-records-title"> {{"pages.profile.records.title" | translate}}</h3>
    <ion-list>
        <ion-item (click)="open('tracks')" button detail>
            {{"pages.profile.records.tracks" | translate}}
        </ion-item>
        <ion-item (click)="open('photos')" button detail>
            {{"pages.profile.records.photos" | translate}}
        </ion-item>
        <ion-item (click)="open('waypoints')" button detail>
            {{"pages.profile.records.waypoints" | translate}}
        </ion-item>
        <ion-item (click)="open('vocals')" button detail>
            {{"pages.profile.records.vocals" | translate}}
        </ion-item>
    </ion-list>
</ion-content>