<ion-content>
  <h3 class="webmapp-profile-records-title">{{"pages.profile.records.title" | wmtrans}}</h3>
  <ion-list>
    <ion-item (click)="open('tracks')" button detail>
      {{"pages.profile.records.tracks" | wmtrans}}
    </ion-item>
    <ion-item (click)="open('photos')" button detail>
      {{"pages.profile.records.photos" | wmtrans}}
    </ion-item>
    <ion-item (click)="open('waypoints')" button detail>
      {{"pages.profile.records.waypoints" | wmtrans}}
    </ion-item>
    <ion-item (click)="open('vocals')" button detail>
      {{"pages.profile.records.vocals" | wmtrans}}
    </ion-item>
  </ion-list>
</ion-content>
