@import "src/theme/mixins.scss";

.webmapp-modalphotosingle-title {
    text-align: center;
}
.webmapp-modalphotosingle-item {
    padding: 15px;
    .webmapp-modalphotosingle-item-photo {
        max-height: 70vh;  
        padding: 10px;     
            
        &::part(image) {
            max-height: 70vh; 
            object-fit: cover;            
            // max-width: 90%;
            border-radius: 15px;
            margin: auto;
        }
    }
    .webmapp-modalphotosingle-item-inputwrapper {
        padding: 0px 15px 0px 0px;
    .webmapp-modalphotosingle-item-label {
        font-weight: var(--wm-font-weight-bold);
    }
    .webmapp-modalphotosingle-item-input {
        border-bottom: 1px solid var(--wm-color-secondary);
    }
    }
}

.webmapp-modalphotosingle-footer {
    text-align: center;
    .webmapp-modalphotosingle-savebtn {
        --border-radius: 22px;
        --padding-start: 100px;
        --padding-end: 100px;
        font-weight: var(--wm-font-weight-bold);
        margin: 20px;
        @include box-shadow-light;
        border-radius: 32px;
    }
}
