.webmapp-pageroute-tabdetail-chart {
    height: 100px;
    text-align: center;
    padding-top: 40px;
}

.webmapp-pageroute-tabdetail-label{
    color: var(--wm-color-dark);
}

.webmapp-pageroute-tabdetail-value{
    color: var(--wm-color-dark);
    font-weight: var(--wm-font-weight-bold);
}
