<ion-content scrollY="true">

  <div *ngIf="route?.properties.image_gallery?.length">
    <ion-label class="webmapp-pageroute-tabdescription-title">{{'pages.route.description.gallery' | translate}}
    </ion-label>

    <ion-slides pager="false" [options]="sliderOptions" class="webmapp-pageroute-tabdescription-photoslider" #slider>
      <ion-slide *ngFor="let photo of route?.properties.image_gallery; let idx = index">
        <div class="webmapp-pageroute-tabdescription-photocontainer">
          <ion-img [src]="getImage(photo.sizes)" class="webmapp-pageroute-tabdescription-photo" (click)="showPhoto(idx)"></ion-img>
        </div>
      </ion-slide>
    </ion-slides>


  </div>
  <div>
    <ion-label class="webmapp-pageroute-tabdescription-title">{{'pages.route.description.description' |
      translate}}</ion-label>
    <div class="webmapp-pageroute-tabdescription-description" [innerHTML]="this.route.properties.description | wmtrans">
    </div>
  </div>

</ion-content>
