.webmapp-registeruser-header {
    color: #000;
}

.webmapp-registeruser-form {
    padding: 15px;
    .webmapp-registeruser-label {
        font-size: var(--wm-font-sm);
        font-weight: var(--wm-font-weight-bold);
    }
    .webmapp-registeruser-field-container {
        margin-bottom: 15px;
        .webmapp-registeruser-field {
            --padding-start: 0;

            &.item-has-focus {
                --border-color: var(--wm-color-secondary);
            }
            &.webmapp-registeruser-field-has-error {
                --border-color: var(--ion-color-danger);
            }
        }
        .webmapp-registeruser-field-error {
            color: var(--ion-color-danger);
            font-size: var(--wm-font-sm);
        }
    }

    .webmapp-registeruser-policy {
        display: block;
        padding: 10px 40px;
        font-size: var(--wm-font-sm);
        color: var(--wm-color-grey);
        .webmapp-registeruser-policylink {
            text-decoration: none;
        }
    }

    .webmapp-registeruser-buttoncontainer {
        width: 100%;
        text-align: center;
        padding: 20px 0;
        .webmapp-registeruser-button {
            --border-radius: 20px;
            --padding-start: 80px;
            --padding-end: 80px;
        }
    }
}
