<ion-header class="webmapp-registeruser-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" class="webmapp-backbutton webmapp-backbutton-dark"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'pages.registeruser.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form class="webmapp-registeruser-form" (ngSubmit)="register()" [formGroup]="registerForm">

    <div class="webmapp-registeruser-field-container">
      <ion-label class="webmapp-registeruser-label">
        {{ "pages.registeruser.email" | translate }}
      </ion-label>
      <ion-item class="webmapp-registeruser-field"
        [ngClass]="{'webmapp-registeruser-field-has-error': isSubmitted && !!errorControl.email.errors}">
        <ion-input type="text" inputmode="email" placeholder="{{ 'pages.registeruser.emailph' | translate }}" required
          #email class="webmapp-registeruser-input" formControlName="email">
        </ion-input>
      </ion-item>
      <ng-container *ngIf="isSubmitted && !!errorControl.email.errors">
        <span class="webmapp-registeruser-field-error" *ngIf="errorControl.email.errors?.required">
          {{ "pages.registeruser.errors.form.emailRequired" | translate }}
        </span>
        <span class="webmapp-registeruser-field-error" *ngIf="errorControl.email.errors?.email">
          {{ "pages.registeruser.errors.form.emailInvalid" | translate }}
        </span>
      </ng-container>
    </div>

    <div class="webmapp-registeruser-field-container">
      <ion-label class="webmapp-registeruser-label">
        {{ "pages.registeruser.cf" | translate }}
      </ion-label>

      <div class="webmapp-registeruser-extrainfo" (click)="showCfInfo($event)">
        <i class="webmapp-icon-info"></i>
        {{ "pages.registeruser.cfextra" | translate }}
      </div>

      <ion-item class="webmapp-registeruser-field"
        [ngClass]="{'webmapp-registeruser-field-has-error': isSubmitted && !!errorControl.cf.errors}">
        <ion-input type="text" #cf placeholder="{{ 'pages.registeruser.cfph' | translate }}"
          class="webmapp-registeruser-input" formControlName="cf">
        </ion-input>
      </ion-item>
      <ng-container *ngIf="isSubmitted && !!errorControl.cf.errors">
        <span class="webmapp-registeruser-field-error" *ngIf="errorControl.cf.errors?.pattern">
          {{ "pages.registeruser.errors.form.cfInvalid" | translate }}
        </span>
      </ng-container>
    </div>


    <div class="webmapp-registeruser-field-container">
      <ion-label class="webmapp-registeruser-label">
        {{ "pages.registeruser.password" | translate }}
      </ion-label>
      <ion-item class="webmapp-registeruser-field"
        [ngClass]="{'webmapp-registeruser-field-has-error': isSubmitted && !!errorControl.password.errors}">
        <ion-input type="text" type="password" placeholder="{{ 'pages.registeruser.passwordph' | translate }}" required
          #password class="webmapp-registeruser-input" formControlName="password">
        </ion-input>
      </ion-item>
      <ng-container *ngIf="isSubmitted && !!errorControl.password.errors">
        <span class="webmapp-registeruser-field-error" *ngIf="errorControl.password.errors?.required">
          {{ "pages.registeruser.errors.form.passwordRequired" | translate }}
        </span>
      </ng-container>
    </div>

    <div class="webmapp-registeruser-field-container">
      <ion-label class="webmapp-registeruser-label">
        {{ "pages.registeruser.confirmPassword" | translate }}
      </ion-label>
      <ion-item class="webmapp-registeruser-field"
        [ngClass]="{'webmapp-registeruser-field-has-error': isSubmitted && !!errorControl.confirmPassword.errors}">
        <ion-input type="text" type="password" placeholder="{{ 'pages.registeruser.confirmPasswordph' | translate }}"
          required #confirmPassword class="webmapp-registeruser-input" formControlName="confirmPassword">
        </ion-input>
      </ion-item>
      <ng-container *ngIf="isSubmitted && !!errorControl.confirmPassword.errors">
        <span class="webmapp-registeruser-field-error" *ngIf="errorControl.confirmPassword.errors?.required">
          {{ "pages.registeruser.errors.form.confirmPasswordRequired" | translate }}
        </span>
      </ng-container>
      <ng-container *ngIf="isSubmitted && !! registerForm.hasError('notSame')">
        <span class="webmapp-registeruser-field-error">
          {{ "pages.registeruser.errors.form.confirmPasswordInvalid" | translate }}
        </span>
      </ng-container>
    </div>

    <ion-label class="webmapp-registeruser-policy">
      {{ "pages.registeruser.privacy1" | translate }}
      <a class="webmapp-registeruser-policylink" href="#">{{ "pages.registeruser.privacylink1" | translate }}</a>
      {{ "pages.registeruser.privacy2" | translate }}
      <a class="webmapp-registeruser-policylink" href="#">{{ "pages.registeruser.privacylink2" | translate }}</a>
      {{ "pages.registeruser.privacy3" | translate }}
    </ion-label>

    <div class="webmapp-registeruser-buttoncontainer">
    <ion-button (click)="register()" class="webmapp-registeruser-button">
      {{ "pages.registeruser.registerbutton" | translate }}
    </ion-button>
  </div>
  </form>

</ion-content>