<ion-header class="webmapp-registeruser-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        mode="ios"
        text=""
        class="webmapp-backbutton webmapp-backbutton-dark"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{'pages.registeruser.title' | wmtrans}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="webmapp-registeruser-form"  [formGroup]="registerForm">
    <div class="webmapp-registeruser-field-container">
      <ion-label class="webmapp-registeruser-label">
        {{ "pages.registeruser.name" | wmtrans }}
      </ion-label>
      <ion-item
        class="webmapp-registeruser-field"
        [ngClass]="{'webmapp-registeruser-field-has-error': !!errorControl.name.errors && (errorControl.name.dirty || errorControl.name.touched)}"
      >
        <ion-input
          type="text"
          placeholder="{{ 'pages.registeruser.nameph' | wmtrans }}"
          required
          #name
          class="webmapp-registeruser-input"
          formControlName="name"
        >
        </ion-input>
      </ion-item>
      <ng-container *ngIf="!!errorControl.name.errors && (errorControl.name.dirty || errorControl.name.touched)">
        <span class="webmapp-registeruser-field-error" *ngIf="errorControl.name.errors?.required">
          {{ "pages.registeruser.errors.form.nameRequired" | wmtrans }}
        </span>
      </ng-container>
    </div>

    <div class="webmapp-registeruser-field-container">
      <ion-label class="webmapp-registeruser-label">
        {{ "pages.registeruser.email" | wmtrans }}
      </ion-label>
      <ion-item
        class="webmapp-registeruser-field"
        [ngClass]="{'webmapp-registeruser-field-has-error': !!errorControl.email.errors && (errorControl.email.dirty || errorControl.email.touched)}"
      >
        <ion-input
          type="text"
          inputmode="email"
          placeholder="{{ 'pages.registeruser.emailph' | wmtrans }}"
          required
          #email
          class="webmapp-registeruser-input"
          formControlName="email"
        >
        </ion-input>
      </ion-item>
      <ng-container *ngIf="!!errorControl.email.errors && (errorControl.email.dirty || errorControl.email.touched)">
        <span class="webmapp-registeruser-field-error" *ngIf="errorControl.email.errors?.required">
          {{ "pages.registeruser.errors.form.emailRequired" | wmtrans }}
        </span>
        <span class="webmapp-registeruser-field-error" *ngIf="errorControl.email.errors?.email">
          {{ "pages.registeruser.errors.form.emailInvalid" | wmtrans }}
        </span>
      </ng-container>
    </div>

    <div class="webmapp-registeruser-field-container" *ngIf="false">
      <ion-label class="webmapp-registeruser-label">
        {{ "pages.registeruser.cf" | wmtrans }}
      </ion-label>

      <div class="webmapp-registeruser-extrainfo" (click)="showCfInfo($event)">
        <i class="webmapp-icon-info"></i>
        {{ "pages.registeruser.cfextra" | wmtrans }}
      </div>

      <ion-item
        class="webmapp-registeruser-field"
        [ngClass]="{'webmapp-registeruser-field-has-error':!!errorControl.cf.errors && (errorControl.cf.dirty || errorControl.cf.touched)}"
      >
        <ion-input
          type="text"
          #cf
          placeholder="{{ 'pages.registeruser.cfph' | wmtrans }}"
          class="webmapp-registeruser-input"
          formControlName="cf"
        >
        </ion-input>
      </ion-item>
      <ng-container *ngIf="!!errorControl.cf.errors && (errorControl.cf.dirty || errorControl.cf.touched)">
        <span class="webmapp-registeruser-field-error" *ngIf="errorControl.cf.errors?.pattern">
          {{ "pages.registeruser.errors.form.cfInvalid" | wmtrans }}
        </span>
      </ng-container>
    </div>

    <div class="webmapp-registeruser-field-container">
      <ion-label class="webmapp-registeruser-label">
        {{ "pages.registeruser.password" | wmtrans }}
      </ion-label>
      <ion-item
        class="webmapp-registeruser-field"
        [ngClass]="{'webmapp-registeruser-field-has-error': !!errorControl.password.errors && (errorControl.password.dirty || errorControl.password.touched)}"
      >
        <ion-input
          type="text"
          type="password"
          placeholder="{{ 'pages.registeruser.passwordph' | wmtrans }}"
          required
          #password
          class="webmapp-registeruser-input"
          formControlName="password"
        >
        </ion-input>
      </ion-item>
      <ng-container *ngIf="!!errorControl.password.errors && (errorControl.password.dirty || errorControl.password.touched)">
        <span
          class="webmapp-registeruser-field-error"
          *ngIf="errorControl.password.errors?.required"
        >
          {{ "pages.registeruser.errors.form.passwordRequired" | wmtrans }}
        </span>
      </ng-container>
    </div>

    <div class="webmapp-registeruser-field-container">
      <ion-label class="webmapp-registeruser-label">
        {{ "pages.registeruser.confirmPassword" | wmtrans }}
      </ion-label>
      <ion-item
        class="webmapp-registeruser-field"
        [ngClass]="{'webmapp-registeruser-field-has-error': !!errorControl.confirmPassword.errors && (errorControl.confirmPassword.dirty || errorControl.confirmPassword.touched)}"
      >
        <ion-input
          type="text"
          type="password"
          placeholder="{{ 'pages.registeruser.confirmPasswordph' | wmtrans }}"
          required
          #confirmPassword
          class="webmapp-registeruser-input"
          formControlName="confirmPassword"
        >
        </ion-input>
      </ion-item>
      <ng-container *ngIf="!!errorControl.confirmPassword.errors && (errorControl.confirmPassword.dirty || errorControl.confirmPassword.touched)">
        <span
          class="webmapp-registeruser-field-error"
          *ngIf="errorControl.confirmPassword.errors?.required"
        >
          {{ "pages.registeruser.errors.form.confirmPasswordRequired" | wmtrans }}
        </span>
      </ng-container>
      <ng-container *ngIf="!! registerForm.hasError('notSame')">
        <span class="webmapp-registeruser-field-error">
          {{ "pages.registeruser.errors.form.confirmPasswordInvalid" | wmtrans }}
        </span>
      </ng-container>
    </div>

    <ion-label class="webmapp-registeruser-policy">
      <ng-container *ngIf="(confPrivacy$ | async) as privacy; else wmDefaultPrivacy">
        <ng-container *ngIf="privacy!= null && privacy.html != null; else wmDefaultPrivacy">
          <a class="webmapp-registeruser-policylink" (click)="openCmp(privacy)">
            {{ "pages.registeruser.privacylink1" | wmtrans }}
          </a>
        </ng-container>
      </ng-container>
      <ng-template #wmDefaultPrivacy>
        <a
          class="webmapp-registeruser-policylink"
          target="_blank"
          href="https://webmapp.it/privacy-policy/"
        >
          {{ "pages.registeruser.privacylink1" | wmtrans }}
        </a>
      </ng-template>
      {{ "pages.registeruser.privacy2" | wmtrans }}
      <a
        class="webmapp-registeruser-policylink"
        target="_blank"
        href="https://webmapp.it/privacy-policy/"
        >{{ "pages.registeruser.privacylink2" | wmtrans }}</a
      >
      {{ "pages.registeruser.privacy3" | wmtrans }}
    </ion-label>

    <div class="webmapp-registeruser-buttoncontainer">
      <ion-button [disabled]="!(isValid$|async)" (click)="register()" class="webmapp-registeruser-button">
        {{ "pages.registeruser.registerbutton" | wmtrans }}
      </ion-button>
    </div>
  </form>

  <ion-label *ngIf="showError" class="webmapp-registeruser-field-error">
    {{ "pages.registeruser.genericError" | wmtrans }}
  </ion-label>
</ion-content>
