<ng-container *ngIf="currentTrackProperties$|async as properties">
  <div *ngIf="properties.image_gallery?.length">
    <ion-label class="webmapp-pageroute-tabdescription-title"
      >{{'pages.route.description.gallery' | wmtrans}}
    </ion-label>

    <ion-slides
      pager="false"
      [options]="sliderOptions"
      class="webmapp-pageroute-tabdescription-photoslider"
      #slider
    >
      <ion-slide *ngFor="let photo of properties.image_gallery; let idx = index">
        <webmapp-img
          [src]="photo"
          size="250x150"
          class="webmapp-pageroute-tabdescription-photo"
        ></webmapp-img>
      </ion-slide>
    </ion-slides>
  </div>
  <div *ngIf="properties?.description">
    <ion-label class="webmapp-pageroute-tabdescription-title">{{'pages.route.description.description' |
      wmtrans}}</ion-label>
    <div
      class="webmapp-pageroute-tabdescription-description"
      [innerHTML]="properties?.description | wmtrans"
    ></div>
  </div>
</ng-container>
