<ng-container *ngIf="currentTrackProperties$|async as properties">
  <div *ngIf="properties.image_gallery?.length">
    <ion-label class="webmapp-pageroute-tabdescription-title"
      >{{'pages.route.description.gallery' | wmtrans}}
    </ion-label>
    <wm-image-gallery [imageGallery]="properties.image_gallery"></wm-image-gallery>
  </div>
  <div *ngIf="properties?.description">
    <ion-label class="webmapp-pageroute-tabdescription-title">{{'pages.route.description.description' |
      wmtrans}}</ion-label>
    <div
      class="webmapp-pageroute-tabdescription-description"
      [innerHTML]="domSanitazer.bypassSecurityTrustHtml(properties?.description | wmtrans)"
    ></div>
  </div>
</ng-container>
