wm-map-track-details {
  height: 0;
  .wm-drag {
    width: 100%;
    height: auto;
    text-align: center;
    display: block;
    position: fixed;
    background-color: white;
    z-index: 99;
    .wm-drag-btn {

      .wm-drag-handle {
        background-color: var(--wm-color-grey);
        display: inline-block;
        width: 55px;
        height: 5px;
        border-radius: 5px;
      }
    }
  }
  .wm-header {
    width: 100%;
    height: auto;
    text-align: center;
    display: block;
    position: absolute;
    background-color: white;
    z-index: 99;
  }
  ion-card {
    margin: 20px 0 0 0 !important;
    margin-inline: 0 !important;
    overflow: auto;
    padding: 10px;
    height: 100%;
  }

}
