.webmapp-pageroute-tabviability {
    .webmapp-pageroute-tabviability-title {
        padding: 20px;
        font-size: var(--wm-font-lg);
        font-weight: var(--wm-font-weight-normalplus);
        color: var(--wm-color-dark);
    }
    .webmapp-pageroute-tabviability-viaslider {
        padding: 10px;

        .webmapp-pageroute-tabviability-viacontainer {
            width: 80px;
            height: 82px;

            background: var(--ion-color-secondary-shade);
            border-radius: 15px;
            text-align: left;
            padding: 10px;

            .webmapp-pageroute-tabviability-viaicon {
                color: var(--wm-color-tertiary);
                display: block;
                padding: 5px;
                font-size: var(--wm-font-xxlg);
            }
            .webmapp-pageroute-tabviability-vianame {
                font-size: var(--wm-font-sm);
                color: var(--wm-color-dark);
                padding-top: 5px;
                display: block;
            }
        }
    }
}
