<ng-container *ngIf="waypoint$|async as waypoint">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button
          mode="ios"
          defaultHref="map"
          text=""
          class="webmapp-backbutton webmapp-backbutton-dark"
        ></ion-back-button>
      </ion-buttons>
      <ion-title>{{'pages.waypointdetail.title'|wmtrans}}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="delete()">
          <ion-icon name="trash-outline" start></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content id="main">
    <old-webmapp-map
      class="wm-waypointdetail-map"
      #map
      [static]="true"
      [position]="waypoint.displayPosition"
      [zoomEnabled]="true"
    ></old-webmapp-map>

    <ion-list class="wm-waypointdetail-itemlist" lines="none">
      <wm-form [confPOIFORMS]="confPOIFORMS$|async" [init]="waypoint$|async" [disabled]="true">
        <div header class="wm-waypointdetail-date">{{waypoint.date | date : "dd MMMM YYYY"}}</div>
        <ion-item
          class="wm-waypointdetail-item"
          lines="none"
          *ngIf="waypoint.nominatim as nominatim"
          header
        >
          <i class="webmapp-icon-pin-outline wm-waypointdetail-icon secondary" start></i>
          <div>
            <div class="wm-waypointdetail-item-city" *ngIf="nominatim.display_name as displayName">
              {{displayName}}
            </div>
            <div class="wm-waypointdetail-item-position" *ngIf="waypoint.position as position">
              lat: {{position.latitude}}, lon: {{ position.longitude }}
            </div>
          </div>
        </ion-item>
        <ion-item
          class="wm-waypointdetail-item"
          lines="none"
          *ngIf="waypoint.photos != null && waypoint.photos.length > 0"
        >
          <i class="webmapp-icon-camera wm-trackdetail-icon secondary" start></i>
          {{'pages.trackdetail.photos'|wmtrans}}
        </ion-item>

        <ng-container
          *ngIf="waypoint!= null &&waypoint.photos != null && waypoint.photos.length >0"
        >
          <ion-slides
            pager="false"
            [options]="sliderOptions"
            class="wm-waypointdetail-photoslider"
            #slider
          >
            <ion-slide *ngFor="let photo of waypoint.photos;let idx = index">
              <div class="wm-waypointdetail-photocontainer">
                <ion-img [src]="photo|wmCreateBlob" class="wm-waypointdetail-photo"></ion-img>
              </div>
            </ion-slide>
          </ion-slides>
        </ng-container>
      </wm-form>
    </ion-list>
  </ion-content>
</ng-container>
