.webmapp-waypointdetail-map {
    height: 210px;
    width: 100%;
    display: block;
}

.webmapp-waypointdetail-date {
    padding: 15px 15px 0;
    font-size: var(--wm-font-sm);
    color: var(--wm-color-darkgrey);
}

.webmapp-waypointdetail-item {
    color: var(--wm-color-dark);
    .webmapp-waypointdetail-icon {
        margin-right: 10px;
        &.primary {
            color: var(--wm-color-primary);
        }

        &.secondary {
            color: var(--wm-color-secondary);
        }

        &.tertiary {
            color: var(--wm-color-tertiary);
        }
    }

    .webmapp-waypointdetail-item-title {
        font-weight: var(--wm-font-weight-bold);
    }

    .webmapp-waypointdetail-item-city {
        display: block;
    }

    .webmapp-waypointdetail-item-position {
        display: block;
    }
}
.webmapp-waypointdetail-menuopen {
    padding: 15px;
}
.webmapp-waypointdetail-menuclose {
    font-size: 28px;
    padding: 15px;
}
.webmapp-waypointdetail-menuitem{
    padding: 5px 20px;
}
