  @import "src/theme/mixins.scss";

  .webmapp-pagemap-recordingbtn-button {
    --border-radius: 15px;
    @include box-shadow-light;

    // border-radius: 32px;
    .webmapp-pagemap-recordingbtn-content {
      padding: 3px 10px;
      font-size: var(--wm-font-xxsm);
      text-align: left;

         .webmapp-pagemap-recordingbtn-content-text {
            padding: 3px 0;
         }

      .webmapp-pagemap-recordingbtn-content-time {
        font-weight: var(--wm-font-weight-bold);
      }
    }
  }
