<ion-menu side="end" menuId="optionMenu" contentId="webmapp-pageroute-main">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-icon
          name="close-outline"
          class="webmapp-pageroute-menuclose"
          (click)="closeMenu()"
        ></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <i class="webmapp-icon-directions-outline" start></i>
        <div class="webmapp-pageroute-menuitem">{{'pages.route.directions' | wmtrans}}</div>
      </ion-item>
      <ion-item (click)="download()">
        <i class="webmapp-icon-donwload-outline" start></i>
        <div class="webmapp-pageroute-menuitem">{{'pages.route.download' | wmtrans}}</div>
      </ion-item>
      <ion-item (click)="share()">
        <i class="webmapp-icon-share-outline"></i>
        <div class="webmapp-pageroute-menuitem">{{'pages.route.share' | wmtrans}}</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content scrollY="false" class="webmapp-pageroute-content" id="webmapp-pageroute-main">
  <div #header class="webmapp-pageroute-header">
    <ion-header
      class="webmapp-pageroute-header"
      [ngClass]="{'webmapp-pageroute-header-hide':modeFullMap}"
    >
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button
            mode="ios"
            defaultHref="back"
            text=""
            class="webmapp-backbutton webmapp-backbutton-dark"
          >
          </ion-back-button>
        </ion-buttons>
        <ion-title>{{(currentTrackProperties$|async)?.name | wmtrans}}</ion-title>
        <ion-buttons slot="end">
          <ion-icon
            name="ellipsis-vertical"
            class="webmapp-pageroute-menuopen"
            (click)="menu()"
          ></ion-icon>
        </ion-buttons>
      </ion-toolbar>
      <div class="webmapp-pageroute-header-backdrop" [hidden]="opacity>0.5"></div>
    </ion-header>
  </div>

  <div #mapcontainer class="webmapp-pageroute-map-container">
    <itinerary-webmapp-map
      #map
      [static]="false"
      [animation]="useAnimation"
      [track]="(currentTrack$|async)?.geometry"
      [hideRegister]="true"
      [hidePosition]="true"
      [btnposition]="modeFullMap?'bottom': 'middle'"
      [noPoiSelection]="true"
      [focus]="focus$|async"
      (clickpoi)="clickPoi($event)"
      [height]="mapHeigth()"
      [slopeChartElements]="trackElevationChartHoverElements$|async"
      [cache]="useCache"
      (rotate)="mapRotation($event)"
      (touch)="resetFocus()"
    ></itinerary-webmapp-map>
  </div>

  <div
    class="webmapp-pageroute-infopanel"
    #dragHandleContainer
    [ngClass]="{'webmapp-pageroute-infopanel-hide':modeFullMap}"
    [ngStyle]="{
      'bottom': (minInfoheight-maxInfoheight) + 'px'
    }"
  >
    <ion-card
      class="webmapp-pageroute-infopanel-card"
      [ngStyle]="{
        'height': maxInfoheight + 'px'
      }"
    >
      <div class="webmapp-pageroute-infopanel-drag" #dragHandleIcon (click)="handleClick()">
        <div class="webmapp-pageroute-infopanel-drag-handle"></div>
        <div #lessdetails class="webmapp-pageroute-infopanel-lessdetails">
          <ion-label class="webmapp-pageroute-infopanel-name">
            {{(currentTrackProperties$|async)?.name | wmtrans}}
          </ion-label>
        </div>
      </div>
      <ion-content #moredetails scrollY="true" scroll-events="true" (ionScroll)="scroll($event)">
        <webmapp-tab-detail
          class="webmapp-route-tab"
          (slopeChartHover)="setTrackElevationChartHoverElements($event)"
        ></webmapp-tab-detail>
        <webmapp-tab-howto class="webmapp-route-tab"></webmapp-tab-howto>
        <webmapp-tab-description class="webmapp-route-tab"></webmapp-tab-description>
        <ng-container *ngIf="(currentTrackProperties$|async)?.audio">
          <ion-title>{{'Descrizione Audio'|wmtrans}}</ion-title>
          <webmapp-track-audio
            [audio]="(currentTrackProperties$|async)?.audio"
          ></webmapp-track-audio>
        </ng-container>
      </ion-content>
    </ion-card>
  </div>

  <div class="webmapp-pageroute-downloadbackpanel" [hidden]="!showDownload"></div>
  <div class="webmapp-pageroute-downloadpanel" [hidden]="!showDownload">
    <div class="webmapp-pageroute-downloadpanel-container">
      <ion-img
        class="webmapp-pageroute-downloadpanel-logo"
        src="assets/images/logo46.png"
      ></ion-img>
      <i
        class="webmapp-pageroute-downloadpanel-exit webmapp-icon-close-outline"
        (click)="endDownload(true)"
      >
      </i>
      <webmapp-download-panel
        (changeStatus)="downloadStatus($event)"
        (exit)="endDownload()"
      ></webmapp-download-panel>
    </div>
  </div>

  <ion-fab
    [vertical]="'top'"
    horizontal="end"
    class="webmapp-pageroute-fabbottom webmapp-pageroute-fabbottom-top"
    [ngClass]="{'webmapp-pageroute-fabbottom-top-fullmap':modeFullMap}"
  >
  </ion-fab>
  <ion-fab vertical="top" horizontal="end" [ngStyle]="{      'opacity': opacity    }" *ngIf="false">
    <ion-fab-button (click)="menu()" size="small" class="webmapp-pageroute-btntop">
      <i class="webmapp-icon-kebab"></i>
    </ion-fab-button>
  </ion-fab>

  <ion-fab
    vertical="top"
    horizontal="start"
    [ngStyle]="{      'opacity': opacity    }"
    *ngIf="false"
  >
    <ion-fab-button (click)="back()" size="small" class="webmapp-pageroute-btntop">
      <i class="webmapp-icon-chevron-left-outline"></i>
    </ion-fab-button>
  </ion-fab>

  <div
    *ngIf="(focus$|async) === false"
    class="webmapp-pageroute-toolbox"
    [ngClass]="
    {'webmapp-pageroute-toolbox-over':showToolBarOver && opacity < 0.9,
    'webmapp-pageroute-toolbox-hide':opacity < 0.9,
    'webmapp-pageroute-toolbox-hideover':hideToolBarOver,
    'webmapp-pageroute-toolbox-fullmap':modeFullMap}"
  >
    <div
      (click)="download()"
      *ngIf="(currentTrackProperties$|async)?.size == null"
      class="webmapp-pageroute-toolbox-button ion-activatable"
    >
      <i class="icon-outline-donwload"></i>
      {{ 'pages.route.btndownload' | wmtrans }}
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <div (click)="share()" class="webmapp-pageroute-toolbox-button ion-activatable">
      <i class="icon-outline-share-outline"></i>
      {{ 'pages.route.btnshare' | wmtrans }}
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <div (click)="navigate()" class="webmapp-pageroute-toolbox-button ion-activatable">
      <i class="icon-outline-nav-outline"></i>
      {{ 'pages.route.btndnavigate' | wmtrans }}
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <div
      *ngIf="authEnable$|async"
      (click)="favourite()"
      class="webmapp-pageroute-toolbox-button ion-activatable"
    >
      <i *ngIf="isFavourite$|async" class="icon-fill-heart"></i>
      <i *ngIf="!(isFavourite$|async)" class="icon-outline-heart"></i>
      {{ 'pages.route.btnfavourite' | wmtrans }}
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>

  <ion-button
    class="webmapp-pageroute-btnfullmap"
    [hidden]="opacity < 0.5"
    [ngClass]="{'webmapp-pageroute-btnfullmap-full':modeFullMap}"
    (click)="toogleFullMap()"
  >
    <div [hidden]="!modeFullMap">
      <ion-icon name="close-outline"></ion-icon>
    </div>
    <div [hidden]="modeFullMap">
      <ion-icon name="resize-outline"></ion-icon>
    </div>
  </ion-button>
</ion-content>
