<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon
        name="chevron-back"
        [routerLink]="['/home']"
        class="webmapp-backbutton webmapp-backbutton-chevron"
      >
      </ion-icon>
    </ion-buttons>
    <ion-title>{{"pages.disclaimer.title" | wmtrans}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="disclaimer__paragraph">
    <span [innerHTML]="'pages.disclaimer.content' | wmtrans : appNameObj"></span>
  </div>
</ion-content>
