<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-button color="medium" (click)="cancel()" *ngIf="false">
          <ion-icon name="chevron-back" class="webmapp-backbutton webmapp-backbutton-chevron">
          </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>{{"pages.disclaimer.title" | wmtrans}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="disclaimer__paragraph">
    <span [innerHTML]="'pages.disclaimer.content' | wmtrans :'stelvio'"></span>
  </div>
</ion-content>
