<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon name="chevron-back" class="webmapp-backbutton webmapp-backbutton-chevron">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{"pages.project.title" | wmtrans}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    class="wm-project-content"
    *ngIf="innerHtml$|async as inner;else empty"
    [innerHTML]="sanitizer.bypassSecurityTrustHtml(inner.HTML)"
  ></div>
  <ng-template #empty>
    <div class="wm-project-content"></div>
  </ng-template>
</ion-content>
