<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon
        name="chevron-back"
        [routerLink]="['/home']"
        class="webmapp-backbutton webmapp-backbutton-chevron"
      >
      </ion-icon>
    </ion-buttons>
    <ion-title>{{"pages.credits.title" | wmtrans}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="credits__content">
  <div class="credits__paragraph">
    <span class="credits__p-title">{{'pages.credits.cartographicData' | wmtrans}}</span>
    <span [innerHTML]="'pages.credits.cartographicDataContent' | wmtrans"></span>
  </div>
  <div class="credits__paragraph">
    <span class="credits__p-title">{{'pages.credits.map' | wmtrans}}</span>
    <span [innerHTML]="'pages.credits.mapContent' | wmtrans"></span>
  </div>
  <div class="credits__paragraph">
    <span class="credits__p-title">Webmapp</span>
    <span [innerHTML]="'pages.credits.webmappContent1' | wmtrans : appNameObj"></span>
    <span><a href="http://www.webmapp.it/">webmapp.it</a></span>
    <span [innerHTML]="'pages.credits.webmappContent2' | wmtrans"></span>
  </div>
</ion-content>
