<ng-container *ngFor="let box of conf">
  <h3 *ngIf="box.box_type === 'title'" class="webmapp-home-title">{{box.title}}</h3>
  <wm-slug-box *ngIf="box.box_type === 'slug'" [data]="box" (clickEVT)="openSlug(box.slug)">
  </wm-slug-box>
  <wm-layer-box *ngIf="box.box_type === 'layer'" [data]="box" (clickEVT)="selectLayer(box.layer)">
  </wm-layer-box>
  <wm-track-box
    *ngIf="box.box_type == 'track'"
    class="home-base-box"
    [data]="box"
    (clickEVT)="selectTrack(box.track_id)"
  ></wm-track-box>
  <wm-slider-box
    *ngIf="box.box_type == 'base'"
    [data]="box"
    [width]="deviceService.width"
    (clickEVT)="selectTrack($event)"
  ></wm-slider-box>
  <wm-external-url-box *ngIf="box.box_type ===  'external_url'" [data]="box"></wm-external-url-box>
</ng-container>
