<ion-content scrollY="false">
  <div class="webmapp-pageroute-map-container">
    <wm-map
      #wmap
      [wmMapConf]="confMap$|async"
      [wmMapMap]="(wmap.map$|async)"
      wmMapLayer
      [wmMapLayerLayer]="currentLayer$|async"
      [wmMapLayerDataLayerUrls]="dataLayerUrls$|async"
      [wmMapLayerDisableLayers]="(currentFilters$|async).length > 0"
      [wmMapLayerOpacity]="layerOpacity$|async"
      (trackSelectedFromLayerEVT)="goToTrack($event)"
      wmMapPois
      [wmMapPoisPoi]="currentPoiID$|async"
      [wmMapPoisPois]="pois$|async"
      [wmMapPoisFilters]="currentFilters$|async"
      [WmMapPoisUnselectPoi]="this.resetSelectedPoi$|async"
      [onClick]="wmap.clickEVT$"
      (currentPoiEvt)="setPoi($event)"
      wmMapPosition
      [wmMapPositioncurrentLocation]="currentPosition$|async"
      [wmMapPositionCenter]="centerPositionEvt$|async"
      [wmMapOverlay]="enableOverLay$|async"
      [wmMapOverlayUrl]="'https://geohub.webmapp.it/api/taxonomy/where/geojson/13'"
      wmMapTrack
      [track]="currentTrack$|async"
      [trackElevationChartElements]="trackElevationChartHoverElements$|async"
      wmMapTrackRelatedPois
      (related-poi-next)="currentPoiNextID$.next(+$event)"
      (wmMapTrackRelatedPoisNearestPoiEvt)="nearestPoi$.next($event)"
      (related-poi)="setCurrentPoi($event)"
    >
      <div top-left>
        <ng-container *ngIf="(trackid$|async)!= null||(currentPoi$|async)!= null">
          <ion-fab-button
            (click)="close();this.showDownload$.next(false)"
            size="small"
            class="webmapp-pagepoi-btntop"
          >
            <i class="icon-outline-close"></i>
          </ion-fab-button>
        </ng-container>
      </div>
      <div top-right>
        <ng-container *ngIf="confPOIS$|async as confPois">
          <wm-btn-filter
            *ngIf="confPois.apppoisApiLayer"
            [filters]="confPOISFilter$|async"
            [initSelectedFilters]="currentFilters$|async"
            (selectedFilters)="setCurrentFilters($event)"
          ></wm-btn-filter>
        </ng-container>
      </div>
      <div bottom-right>
        <ion-fab
          #fab1
          class="social"
          slot="fixed"
          vertical="top"
          horizontal="start"
          *ngIf="trackid$|async as trackId"
          (click)="fab2?.close();fab3?.close()"
        >
          <ion-fab-button>
            <ion-icon name="share-social-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="start">
            <ion-fab-button (click)="openTrackDownload()">
              <ion-icon name="download-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="openTrackShare(trackId)">
              <ion-icon name="share-social-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
        <ion-fab
          #fab2
          class="social"
          slot="fixed"
          vertical="top"
          horizontal="start"
          (click)="fab1?.close();fab3?.close()"
          *ngIf="(trackid$|async)!= null"
        >
          <ion-fab-button>
            <ion-icon name="locate-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="start">
            <wm-btn-orientation
              *ngIf="(trackid$|async)!= null"
              class="webmapp-map-fab"
              [degrees]="wmap.mapDegrees"
              (click)="wmap.orientNorth()"
            >
            </wm-btn-orientation>
            <ion-fab-button>
              <ion-icon name="navigate-outline"></ion-icon>
            </ion-fab-button>
            <wm-btn-center-position
              *ngIf="false"
              (click)="centerPositionEvt$.next((!centerPositionEvt$.value)||false)"
            ></wm-btn-center-position>
          </ion-fab-list>
        </ion-fab>
        <ion-fab
          slot="fixed"
          vertical="top"
          horizontal="start"
          #fab3
          *ngIf="isTrackRecordingEnable$|async"
          (click)="fab2?.close();fab1?.close()"
        >
          <ion-fab-button size="small" class="wm-btn-register-fab">
            <i class="icon-outline-recording"></i>
          </ion-fab-button>
          <wm-btn-track-recording
            [isLogged]="isLoggedIn$|async"
            (start-recording)="startRecording$.next($event)"
          ></wm-btn-track-recording>
        </ion-fab>
      </div>
    </wm-map>
    <wm-map-track-details #details>
      <div header>
        <div class="webmapp-info-header-container">
          <ng-container *ngIf="poiProperties$|async as properties;else trackHeader;">
            <div class="webmapp-pagepoi-info-header">
              <div
                class="webmapp-pagepoi-info-header-pre-title"
                *ngIf="properties?.taxonomy.poi_type as poiType"
              >
                {{ poiType.name | wmtrans}}
              </div>
              <div class="webmapp-pagepoi-info-header-title" *ngIf="properties?.name as name">
                {{ name | wmtrans}}
              </div>

              <div class="webmapp-pagepoi-info-header-arrows" *ngIf="properties?.isRelated">
                <div class="ripple-parent ion-activatable webmapp-pagepoi-info-header-arrow">
                  <i class="icon-outline-arrow-left" (click)="poiPrev()"></i>
                  <ion-ripple-effect></ion-ripple-effect>
                </div>
                <div class="ripple-parent ion-activatable webmapp-pagepoi-info-header-arrow">
                  <i
                    class="icon-outline-arrow-right webmapp-pagepoi-info-header-arrow-icon"
                    (click)="poiNext()"
                  ></i>
                  <ion-ripple-effect></ion-ripple-effect>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #trackHeader>
            <ion-title #trackHeader *ngIf="currentTrack$|async as currentTrack;">
              {{currentTrack?.properties?.name | wmtrans}}
            </ion-title>
          </ng-template>
        </div>
        <ion-fab class="close-menu" slot="fixed" vertical="top" horizontal="end">
          <ion-fab-button top-right (click)="toogleFullMap()">
            <div>
              <ion-icon [attr.name]="modeFullMap?'resize-outline':'close-outline'"></ion-icon>
            </div>
          </ion-fab-button>
        </ion-fab>
      </div>
      <ng-container *ngIf="poiProperties$|async as properties;else track;">
        <ion-content class="webmapp-pagepoi-info-body" scrollY="true">
          <wm-poi-properties [properties]="properties"></wm-poi-properties>
        </ion-content>
      </ng-container>
      <ng-template #track>
        <ion-content scrollY="true" scroll-events="true">
          <ng-container *ngIf="currentTrack$|async as currentTrack; else skeleton">
            <div header></div>

            <ng-container *ngIf="currentTrack.properties as prop">
              <ion-label *ngIf="flowPopoverText$|async as flowPopoverText">
                <div [innerHTML]="flowPopoverText"></div>
              </ion-label>
              <ng-container *ngIf="(confMap$|async).alert_poi_show">
                <wm-tab-nearest-poi
                  *ngIf="nearestPoi$|async as nearestPoi"
                  [nearestPoi]="nearestPoi"
                  (click)="setNearestPoi(nearestPoi)"
                ></wm-tab-nearest-poi>
              </ng-container>
              <wm-slope-chart
                [currentTrack]="currentTrack$|async"
                (hover)="setTrackElevationChartHoverElements($event)"
              ></wm-slope-chart>
              <wm-tab-detail class="webmapp-route-tab" [properties]="prop"></wm-tab-detail>
              <wm-tab-howto [properties]="prop"></wm-tab-howto>
              <wm-tab-image-gallery
                *ngIf="prop?.image_gallery?.length"
                [imageGallery]="prop.image_gallery"
              ></wm-tab-image-gallery>
              <wm-tab-description
                *ngIf="prop?.description != null"
                [description]="prop.description"
              ></wm-tab-description>
              <wm-track-audio *ngIf="prop?.audio" [audio]="prop.audio"></wm-track-audio>
            </ng-container>
          </ng-container>
        </ion-content>
      </ng-template>

      <ng-template #skeleton>
        <ion-skeleton-text
          [animated]="true"
          style="height:15px;width: 90%;margin:auto"
        ></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="height:80px;width: 100%"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="height:20px;width: 100%"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="height:20px;width: 100%"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="height:20px;width: 100%"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="height:20px;width: 100%"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="height:20px;width: 100%"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="height:20px;width: 100%"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="height:20px;width: 100%"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="height:20px;width: 100%"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="height:20px;width: 100%"></ion-skeleton-text>
      </ng-template>
    </wm-map-track-details>

    <wm-download
      *ngIf="showDownload$|async"
      [track]="currentTrack$|async"
      (closeEvt)="closeDownload()"
    ></wm-download>
  </div>
</ion-content>
