<ion-content scrollY="false">
  <div class="webmapp-pageroute-map-container">
    <wm-map
      #wmap
      [wmMapConf]="confMap$|async"
      [wmMapMap]="(wmap.map$|async)"
      wmMapLayer
      [wmMapLayerLayer]="currentLayer$|async"
      [wmMapLayerDataLayerUrls]="dataLayerUrls$|async"
      [wmMapLayerDisableLayers]="(currentFilters$|async).length > 0"
      [wmMapLayerOpacity]="layerOpacity$|async"
      (trackSelectedFromLayerEVT)="goToTrack($event)"
      wmMapPois
      [wmMapPoisPoi]="currentPoiID$|async"
      [wmMapPoisPois]="pois$|async"
      [wmMapPoisFilters]="currentFilters$|async"
      [WmMapPoisUnselectPoi]="this.resetSelectedPoi$|async"
      [onClick]="wmap.clickEVT$"
      (poi-click)="openPoi($event)"
      (currentPoiEvt)="setPoi($event)"
      wmMapPosition
      [wmMapPositioncurrentLocation]="currentPosition$|async"
      [wmMapPositionCenter]="centerPositionEvt$|async"
      [wmMapOverlay]="enableOverLay$|async"
      [wmMapOverlayUrl]="'https://geohub.webmapp.it/api/taxonomy/where/geojson/13'"
      wmMapTrack
      [track]="currentTrack$|async"
      wmMapTrackRelatedPois
    >
    <div top-left>
      <ion-fab-button *ngIf="(trackid$|async)!= null" (click)="goToTrack(null)"size="small" class="webmapp-pagepoi-btntop">
        <i class="icon-outline-close"></i>
      </ion-fab-button>
    </div>
      <div top-right>
        <ng-container *ngIf="confPOIS$|async as confPois">
          <wm-btn-filter
            *ngIf="confPois.apppoisApiLayer"
            [filters]="confPOISFilter$|async"
            [initSelectedFilters]="currentFilters$|async"
            (selectedFilters)="setCurrentFilters($event)"
          ></wm-btn-filter>
        </ng-container>
      </div>
      <div bottom-right>
        <wm-btn-orientation
          *ngIf="(trackid$|async)!= null"
          class="webmapp-map-fab"
          [degrees]="wmap.mapDegrees"
          (click)="wmap.orientNorth()"
        >
        </wm-btn-orientation>
        <wm-btn-track-recording
          *ngIf="isTrackRecordingEnable$|async"
          [isLogged]="isLoggedIn$|async"
          (start-recording)="startRecording$.next($event)"
        ></wm-btn-track-recording>
        <wm-btn-center-position
          *ngIf="false"
          (click)="centerPositionEvt$.next((!centerPositionEvt$.value)||false)"
        ></wm-btn-center-position>
      </div>
    </wm-map>
    <wm-map-track-details></wm-map-track-details>
  </div>
</ion-content>
