<ion-content
  scrollY="false"
  [ngClass]="mapDetailsStatus$|async"
  [class.move-bottom]="hasFeatureInViewport$|async"
  [class.register-panel-enabled]="enableRecorderPanel$|async"
>
  <wm-geobox-map #geoboxMap (openPopupEVT)="openPopup($event)">
    <wm-map-details #details (closeEVT)="close()">
      <div header *ngIf="(currentEcImageGalleryIndex$|async) == null">
        <div class="webmapp-info-header-container">
          <ng-container *ngIf="currentPoiProperties$|async as properties">
            <div class="webmapp-pagepoi-info-header">
              <ng-container *ngIf="properties?.taxonom?.poi_types as poiTypes;else poiTypeTemplate">
                <ng-container *ngFor="let poiType of poiTypes">
                  <div class="webmapp-pagepoi-info-header-pre-title">{{ poiType.name|wmtrans}}</div>
                </ng-container>
              </ng-container>
              <ng-template #poiTypeTemplate>
                <div
                  class="webmapp-pagepoi-info-header-pre-title"
                  *ngIf="properties?.taxonomy?.poi_type as poiType"
                >
                  {{ poiType.name|wmtrans}}
                </div>
              </ng-template>
              <div class="webmapp-pagepoi-info-header-title" *ngIf="properties?.name as name">
                <div>{{name|wmtrans}}</div>
                <wm-related-pois-navigator></wm-related-pois-navigator>
              </div>
            </div>
          </ng-container>
          <ng-container
            *ngIf="(currentUgcPoiProperties$|async) as ugcPoiProperties;else titleTrack"
          >
            <ion-label e2e-map-details-title>
              {{ugcPoiProperties.name|wmtrans}}
              <wm-updated-at [updatedAt]="ugcPoiProperties?.updatedAt"></wm-updated-at>
            </ion-label>
          </ng-container>
          <ng-template #titleTrack>
            <ng-container *ngIf="currentTrack$|async as currentTrack;">
              <ion-label e2e-map-details-title>
                {{currentTrack?.properties?.name|wmtrans }}
                <wm-updated-at [updatedAt]="currentTrack?.properties?.updatedAt"></wm-updated-at
              ></ion-label>
            </ng-container>
          </ng-template>
        </div>
      </div>
      <wm-inner-component-html
        *ngIf="popup$|async as popup else noPopup"
        [html]="popup.html"
        [enableDismiss]="false"
      ></wm-inner-component-html>
      <ng-template #noPopup>
        <ng-container *ngIf="(currentEcImageGalleryIndex$|async) != null; else noImageSelected">
          <wm-image-detail></wm-image-detail>
        </ng-container>
        <ng-template #noImageSelected>
          <ng-container *ngIf="!(featureOpened$|async)">
            <wm-status-filter (removeLayerEVT)="closeDetails()"></wm-status-filter>
            <wm-home-ugc *ngIf="(ugcOpened$|async);else layerView"></wm-home-ugc>
            <ng-template #layerView>
              <wm-home-layer></wm-home-layer>
            </ng-template>
            <wm-home-result></wm-home-result>
          </ng-container>
          <ng-container *ngIf="currentPoiProperties$|async as properties; else ecTrack">
            <wm-poi-properties></wm-poi-properties>
          </ng-container>
          <ng-template #ecTrack>
            <wm-track-properties
              (dismiss)="updateEcTrack()"
              (click)="savePosition()"
              class="webmapp-track-details"
            >
              <ng-container *ngIf="(confOPTIONS$|async) as opt">
                <ng-container *ngIf="currentEcTrackProperties$|async as currentEcTrackProperties">
                  <ion-item
                    *ngIf="opt.print_track_enable != null && opt.print_track_enable === true"
                    [href]="'https://geohub.webmapp.it/track/pdf/'+currentEcTrackProperties?.id+'/?app_id='+(geohubId$|async)"
                    class="wm-feature-useful-urls-item"
                    target="_blank"
                  >
                    <ion-icon name="link-outline" slot="start"></ion-icon>
                    <ion-label class="wm-feature-useful-urls-item-label">
                      {{"Apri pdf"|wmtrans}}
                    </ion-label>
                  </ion-item>
                </ng-container>
              </ng-container>
            </wm-track-properties>
          </ng-template>
          <ng-container *ngIf="currentUgcPoiProperties$|async as ugcPoiProperties; else ugcTrack">
            <wm-ugc-poi-properties></wm-ugc-poi-properties>
          </ng-container>
          <ng-template #ugcTrack>
            <wm-ugc-track-properties
              *ngIf="(ugcTrack$|async) as ugcTrack"
              [track]="ugcTrack"
              (poi-click)="setCurrentRelatedPoi($event)"
            ></wm-ugc-track-properties>
          </ng-template>
        </ng-template>
        <ng-template #skeleton>
          <ion-skeleton-text [animated]="true" style="height:100%;width: 100%"></ion-skeleton-text>
        </ng-template>
      </ng-template>
    </wm-map-details>
    <div bottom-right>
      <ng-container
        *ngIf="(authEnable$|async) && (isLogged$|async) && (currentEcTrackProperties$|async) as trackProperties"
      >
        <ion-fab slot="fixed" vertical="top" horizontal="start">
          <ion-fab-button (click)="favourite(trackProperties?.id)">
            <ion-icon *ngIf="isFavourite$|async" class="icon-fill-heart"></ion-icon>
            <ion-icon
              *ngIf="!(isFavourite$|async)"
              class="icon-outline-heart"
              color="dark"
            ></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ng-container>
      <ng-container *ngIf="currentEcTrackProperties$|async as trackProperties">
        <ion-fab slot="fixed" vertical="top" horizontal="start">
          <ion-fab-button (click)="openTrackShare(trackProperties.id)">
            <ion-icon name="share-social-outline" color="dark"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <ion-fab slot="fixed" vertical="top" horizontal="start">
          <ion-fab-button (click)="openTrackDownload()">
            <ion-icon name="download-outline" color="dark"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ng-container>
      <ng-container *ngIf="currentEcPoiId$|async as poiId">
        <ion-fab slot="fixed" vertical="top" horizontal="start">
          <ion-fab-button (click)="openPoiShare(poiId)">
            <ion-icon name="share-social-outline" color="dark"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ng-container>
      <ion-fab slot="fixed" vertical="top" horizontal="start">
        <ion-fab-button (click)="toggleTilesDownload()" e2e-map-tiles-download-button>
          <ion-icon name="scan-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-fab
        #fab2
        slot="fixed"
        vertical="top"
        horizontal="start"
        (click)="fab1?.close();fab3?.close()"
      >
        <ion-fab-button>
          <ion-icon name="locate-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
          <wm-btn-orientation
            class="webmapp-map-fab"
            [degrees]="geoboxMap?.mapCmp?.mapDegrees"
            (click)="geoboxMap?.mapCmp?.orientNorth()"
          >
          </wm-btn-orientation>
          <ion-fab-button (click)="geoboxMap.navigation()">
            <ion-icon name="navigate-outline"></ion-icon>
          </ion-fab-button>
          <wm-btn-center-position
            *ngIf="false"
            (click)="centerPositionEvt$.next((!centerPositionEvt$.value)||false)"
          ></wm-btn-center-position>
        </ion-fab-list>
      </ion-fab>
      <ion-fab
        slot="fixed"
        vertical="top"
        horizontal="start"
        #fab3
        *ngIf="(isTrackRecordingEnable$|async) && !(enableTilesDownload$|async)"
        (click)="fab2?.close();fab1?.close()"
      >
        <ion-fab-button size="small" class="wm-btn-register-fab">
          <i class="icon-outline-recording"></i>
        </ion-fab-button>
        <wm-btn-track-recording
          [isLogged]="isLogged$|async"
          (start-recording)="startRecording$.next($event)"
        ></wm-btn-track-recording>
      </ion-fab>
      <ion-fab
        slot="fixed"
        vertical="top"
        horizontal="start"
        *ngIf="overlayFeatureCollections$|async as url"
      >
        <ion-fab-button>
          <ion-icon name="download-outline" (click)="downloadOverlay()"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>

    <wm-download
      *ngIf="showDownload$|async"
      [track]="currentTrack$|async"
      [overlayUrls]="overlayFeatureCollections$|async"
      [overlayXYZ]="'https://tiles.webmapp.it/carg'"
      [overlayGeometry]="hitMapGeometry$|async"
      [boundingBox]="wmMapTilesBoundingBox$|async"
      (closeEvt)="closeDownload()"
      (goToEvt)="goToPage($event)"
    ></wm-download>

    <wm-track-recorder *ngIf="enableTrackRecorderPanel$|async"></wm-track-recorder>
    <wm-poi-recorder *ngIf="enablePoiRecorderPanel$|async"></wm-poi-recorder>

    <div class="wm-map-tiles-download-button" *ngIf="enableTilesDownload$|async">
      <ion-button (click)="downloadTiles()" [disabled]="disableTilesDownloadButton$|async"
        >Download Tiles</ion-button
      >
    </div>
  </wm-geobox-map>
</ion-content>
