@import 'src/theme/mixins.scss';
webmapp-map-page {
  wm-map-popover {
    display: none;
  }
  ion-toolbar,
  .webmapp-track-title {
    display: none;
  }
  .orange {
    color: orange;
  }
  .green {
    color: green;
  }
  .red {
    color: red;
  }

  ion-progress-bar {
    position: absolute;
    top: 0;
    z-index: 10000;
    left: 0;
    right: 0;
    width: 0%;
  }

  ion-fab-button {
    @include box-shadow-light;

    border-radius: 20px;

    --color: var(--wm-color-primary);
    --background: var(--wm-color-light);
    --background-activated: var(--wm-color-primary);
    --background-activated-opacity: 0.25;
    --background-focused: var(--wm-color-light);
    --background-focused-opacity: 0;
    --background-hover: var(--wm-color-light);
    --background-hover-opacity: 0;
    i {
      width: 42px;
      height: 42px;
      padding: 9px;
      font-size: var(--wm-font-icon);
    }
  }
  ion-fab-list {
    position: absolute;
  }

  .success {
    .progress {
      background: green;
    }
  }

  .webmapp-poi-close {
    position: fixed;
    top: calc(10px + env(safe-area-inset-top));
    left: 5px;
    --color: var(--wm-color-dark);
    --background: var(--wm-color-light);
    --background-activated: var(--wm-color-dark);
    --background-activated-opacity: 0.25;
    --background-focused: var(--wm-color-light);
    --background-focused-opacity: 0;
    --background-hover: var(--wm-color-light);
    --background-hover-opacity: 0;
  }
  .webmapp-info-header-container {
    > ion-label {
      text-align: left;
      font-size: unset;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 6px;
    }
    .webmapp-pagepoi-info-header {
      width: 100%;
      position: relative;
      color: black;
      text-align: left;

      .webmapp-pagepoi-info-header-pre-title {
        color: var(--wm-color-primary);
        font-size: var(--wm-font-lg);
        font-weight: var(--wm-font-weight-bold);
        text-transform: uppercase;
      }
      .webmapp-pagepoi-info-header-title {
        font-size: var(--wm-font-lg);
        font-weight: var(--wm-font-weight-bold);
      }

      .webmapp-pagepoi-info-header-arrows {
        position: absolute;
        right: 0;
        top: 0;
        .webmapp-pagepoi-info-header-arrow {
          display: inline-block;
          width: 50px;
          height: 30px;
          text-align: center;
          padding: 6px;
          border-radius: 30px;

          .webmapp-pagepoi-info-header-arrow-icon {
            font-size: large;
          }
        }
      }
    }
  }
  ion-title {
    font-size: unset;
  }
}
