@import "src/theme/mixins.scss";

.webmapp-pagemap-map-container {
  width: 100%;
  height: 100%;
}

.webmapp-pagemap-recordingbtn {
  position: absolute;
  left: 20px;
  bottom: 27px;
}

.webmapp-pagemap-searcharea {
  position: absolute;
  top: 36px;
  z-index: 100;
  width: 100%;
  text-align: center;
  .webmapp-pagemap-searchbar {
    width: 100%;
  }
  .webmapp-pagemap-searchherebtn {
    color: var(--wm-color-light);
    --background: var(--wm-color-dark);
    border-radius: 15px;
    --border-radius: 15px;
    @include box-shadow-light;
    margin-top: 10px;
    text-transform: none;
    font-size: var(--wm-font-xsm);
    ion-label {
      padding-left: 5px;
    }
  }
}

.webmapp-pagemap-cardslider {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 158px;
}

.webmapp-pagemap-loading {
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  border-radius: 25px;
  background-color: rgba(var( --wm-color-dark-rgb-trans));
  color: var(--wm-color-light);
  border: 1px solid #fff;
  text-align: center;
  padding: 10px;
}
