<div
  id="ol-map"
  class="map-container"
  navMapTrack
  navMapPosition
  [map]="map"
  [track]="track"
  (locationEvt)="setLocation($event)"
></div>
<div
  *ngIf="location$|async as loc"
  style="position: absolute;display:block; background-color: transparent;bottom: 0;left: 0;right: 0;height: auto;background-color: rgba(255,178,61,0.53);"
>
  <pre> DEBUG MODE</pre>
  <pre> long {{loc.longitude}}</pre>
  <pre> lat {{loc.latitude}}</pre>
  <pre> N:0 E:90 S:180 O:270</pre>
  <pre> bearing degrees: {{loc.bearing}} </pre>
  <pre> N:0 E:1,5 S:3,14 O:4,71</pre>
  <pre> bearing radiant: {{((loc.bearing||1) * pi) / 180}}</pre>
</div>
