<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="/profile/profile-records" text="" class="webmapp-backbutton"></ion-back-button> -->
      <ion-icon
        name="chevron-back"
        [routerLink]="['/profile/profile-records']"
        class="webmapp-backbutton webmapp-backbutton-chevron"
      ></ion-icon>
    </ion-buttons>
    <ion-title>{{'pages.photolist.title'|wmtrans}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="medias$|async as medias">
    <div class="webmapp-photolist-noitem" *ngIf="!medias?.length">
      {{'pages.photolist.noitem'|wmtrans}}
    </div>
    <ion-list>
      <ion-item *ngFor="let media of medias" button detail (click)="open(media)">
        <wm-img [src]="media|wmCreateBlob" start class="webmapp-photolist-item-image"></wm-img>
        <div *ngIf="media.properties as prop">
          <div class="webmapp-photolist-item-title">
            {{prop.name != '' ? prop.name: prop.description|wmtrans}}
          </div>
          <div class="webmapp-photolist-item-date">
            {{prop.date??prop.updated_at?? prop.position.time| date : "d MMMM YYYY - HH:mm"}}
          </div>
          <div class="webmapp-photolist-item-date" *ngIf="prop.id">
            {{'sync id'|wmtrans}}: {{prop.id}}
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>
