@import 'src/theme/mixins.scss';

/******************  ion-menu bug fix  ******************/
ion-router-outlet#main {
  pointer-events: auto !important;
}
/*******************************************************/

ion-tab-bar {
  display: none;
}

wm-page-home .webmapp-home-content .wm-home-header-container {
  padding-top: 0 !important;
  ion-label.wm-home-header-welcome {
    display: none;
  }

  .wm-home-header-intro {
    display: block;
    border-bottom: 3px solid var(--wm-color-primary);
    padding: 10px;
  }
}

wm-layer-box {
  .wm-box {
    .webmapp-card-big-image-container.wm-result-img {
      border-radius: 0;

      img.wm-img-image {
        border-radius: 0;
      }
    }
    div.wm-box-click {
      display: none;
    }
    div.wm-box-title {
      top: 20%;
      width: 100%;
      text-align: center;

      @include box-shadow-light;
    }
  }
}

.webmapp-profile-links {
  display: none;
}
