@import 'src/theme/mixins.scss';

/******************  ion-menu bug fix  ******************/
ion-router-outlet#main {
  pointer-events: auto !important;
}
/*******************************************************/
ion-router-outlet {
  top: 0;
}
ion-tab-bar {
  display: none;
}
webmapp-page-home .webmapp-home-content .wm-home-header-container {
  padding-top: 0 !important;
  ion-label.wm-home-header-welcome {
    display: none;
  }
}
webmapp-home-intro {
  display: block;
  border-bottom: 3px solid var(--wm-color-primary);
  padding: 10px;
}

.webmapp-profile-links {
  display: none;
}
