<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="/profile/profile-records" text="" class="webmapp-backbutton"></ion-back-button> -->
      <ion-icon
        name="chevron-back"
        [routerLink]="['/profile/profile-records']"
        class="webmapp-backbutton webmapp-backbutton-chevron"
      ></ion-icon>
    </ion-buttons>
    <ion-title>{{'pages.waypointlist.title'|wmtrans}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="webmapp-waypointlist-noitem" *ngIf="!waypoints?.length>0">
    {{'pages.waypointlist.noitem'|wmtrans}}
  </div>
  <ion-list>
    <ion-item *ngFor="let waypoint of waypoints" button detail (click)="open(waypoint)">
      <div start class="webmapp-waypointlist-item-map">
        <webmapp-map
          [static]="true"
          [animation]="false"
          [position]="waypoint.displayPosition"
        ></webmapp-map>
      </div>
      <div>
        <div class="webmapp-waypointlist-item-title">{{waypoint.title}}</div>
        <div class="webmapp-waypointlist-item-date">
          {{waypoint.date | date : "d MMMM YYYY - HH:mm"}}
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
