<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="/profile/profile-records" text="" class="webmapp-backbutton"></ion-back-button> -->
      <ion-icon
        name="chevron-back"
        [routerLink]="['/profile/profile-records']"
        class="webmapp-backbutton webmapp-backbutton-chevron"
      ></ion-icon>
    </ion-buttons>
    <ion-title>{{'pages.waypointlist.title'|wmtrans}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngIf="waypoints$|async as waypoints;else noWaypoints">
      <ng-container *ngIf="waypoints.length>0;else noWaypoints"></ng-container>
      <ion-item *ngFor="let waypoint of waypoints" button detail (click)="open(waypoint)">
        <div start class="wm-waypointlist-item-map">
          <wm-map
            class="wm-trackdetail-map"
            [wmMapConf]="confMap$|async"
            [wmMapOnly]="true"
            [wmMapGeojson]="waypoint.displayPosition"
          ></wm-map>
        </div>
        <div>
          <div class="wm-waypointlist-item-title">{{waypoint.title}}</div>
          <div class="wm-waypointlist-item-date">
            {{waypoint.date | date : "d MMMM YYYY - HH:mm"}}
          </div>
        </div>
      </ion-item>
    </ng-container>
    <ng-template #noWaypoints>
      <div class="wm-waypointlist-noitem">{{'pages.waypointlist.noitem'|wmtrans}}</div>
    </ng-template>
  </ion-list>
</ion-content>
