webmapp-page-profile {
  .webmapp-profile-header {
    display: flex;
    --border-width: 0;
    .webmapp-profile-header-toolbar {
      .webmapp-profile-header-toolbar-title {
        font-size: var(--wm-font-xxxlg);
        font-weight: var(--wm-font-weight-bold);
      }
      .webmapp-profile-header-toolbar-button {
        font-size: 24px;
        --background: var(--wm-color-light);
        --color: var(--wm-color-primary);
        --box-shadow: none;
        &.webmapp-profile-header-toolbar-button-disabled {
          --color: var(--wm-color-darkgrey);
        }
      }
    }
  }

  .webmapp-profile-container {
    .webmapp-profile-tabs {
      position: relative;
      height: 35% !important;
      margin-top: 2%;
      .webmapp-profile-tabs-tab-bar {
        justify-content: flex-start;
        height: calc(var(--wm-font-sm) + 20px);
        .webmapp-profile-tabs-tab-button {
          flex: unset;
          margin: 0 15px;
          position: relative;
          --color-selected: var(--wm-color-primary);
          --color: var(--wm-color-darkgrey);
          .webmapp-profile-tabs-tab-label {
            text-transform: uppercase;
            display: inline;
          }

          &.tab-selected {
            .webmapp-profile-tabs-tab-button-border {
              position: absolute;
              bottom: -1.5px;
              left: calc(50% - 14px);
              width: 28px;
              height: 5px;
              background: var(--wm-color-primary);
            }
          }
        }
      }
    }
  }

  .wm-profile-privacy-button {
    width: auto;
    margin: 20px auto 10px auto;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
  }

  wm-profile-delete-button {
    width: auto;
    margin: 10px auto 20px auto;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}
