<ion-header class="webmapp-profile-header">
  <ion-toolbar mode="md" class="webmapp-profile-header-toolbar">
    <ion-buttons slot="start" class="webmapp-sidemenuapp">
      <ion-icon
        name="chevron-back"
        [routerLink]="['..']"
        class="webmapp-backbutton webmapp-backbutton-chevron"
      >
      </ion-icon>
    </ion-buttons>
    <ion-title mode="md" class="webmapp-profile-header-toolbar-title">
      {{'pages.profile.title' | wmtrans}}
    </ion-title>
    <ion-fab-button
      slot="end"
      class="webmapp-profile-header-toolbar-button"
      [ngClass]="{
        'webmapp-profile-header-toolbar-button-disabled': !(isLogged$|async)
      }"
      (click)="openSettings()"
    >
      <i class="icon-outline-settings-outline"></i>
    </ion-fab-button>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false" class="webmapp-profile-container">
  <wm-profile-user></wm-profile-user>
  <ng-container *ngIf="hitmapFeatures$|async as hitmapFeatures; else nohitmap">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title>{{'Downloads'|wmtrans}}</ion-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <wm-home-hitmap [downloads]="true"></wm-home-hitmap>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
  <ng-template #nohitmap>
    <ion-tabs
      class="webmapp-profile-tabs"
      [ngStyle]="{'height':(isLogged$|async) ? '100%' : '25%' }"
    >
      <ion-tab-bar slot="top" class="webmapp-profile-tabs-tab-bar">
        <ion-tab-button
          (click)="tabClick($event, '/profile/profile-data')"
          tab="profile-data"
          class="webmapp-profile-tabs-tab-button"
        >
          <ion-label class="webmapp-profile-tabs-tab-label"> {{'I tuoi dati'|wmtrans}} </ion-label>
          <div class="webmapp-profile-tabs-tab-button-border"></div>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ng-template>

  <ng-container *ngIf="(authEnable$|async) === true">
    <wm-profile-auth
      [slide1]="'assets/images/profile/logged_out_slide_1.svg'"
      [slide2]="'assets/images/profile/logged_out_slide_1.svg'"
    ></wm-profile-auth>
  </ng-container>
</ion-content>

<ion-button
  *ngIf="isLogged$|async"
  (click)="deleteUserAlert()"
  size="small"
  expand="block"
  fill="outline"
  color="danger"
  class="wm-profile-delete-button"
>
  <ion-icon name="close-outline"></ion-icon>
  {{'Elimina account'|wmtrans}}
</ion-button>
