<ion-segment [value]="currentTab$|async" (ionChange)="segmentChanged($event)">
  <ng-container>
    <ion-segment-button value="tracks" *ngIf="cards != null && cards.length> 0">
      <ion-label>
        {{'tracks'| wmtrans}} <ion-badge>{{cards.length}} </ion-badge></ion-label
      >
    </ion-segment-button>
  </ng-container>
  <ng-container>
    <ion-segment-button value="pois" *ngIf="pois != null && pois.length> 0">
      <ion-label>
        {{'POI'|wmtrans}} <ion-badge>{{pois.length > 200 ? 200: pois.length}}</ion-badge></ion-label
      >
    </ion-segment-button>
  </ng-container>
</ion-segment>
<ng-container *ngIf="currentTab$|async as currentTab">
  <ng-container *ngIf="currentTab === 'tracks'|| currentTab == null">
    <ng-container *ngFor="let card of cards; let idx=index">
      <wm-search-box *ngIf="idx <200" [data]="card" (clickEVT)="selectTrack(card.id)">
      </wm-search-box>
    </ng-container>
  </ng-container>
  <div *ngIf="currentTab === 'pois'">
    <ng-container *ngFor="let c of pois;let idx=index">
      <wm-poi-box *ngIf="idx <200" [data]="c" (clickEVT)="selectPoi(c.id)"> </wm-poi-box>
    </ng-container>
  </div>
</ng-container>
