<ion-header class="webmapp-pagewaypoint-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        mode="ios"
        defaultHref="map"
        text=""
        class="webmapp-backbutton webmapp-backbutton-dark"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{'pages.waypoint.title' | wmtrans}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <wm-map
    class="webmapp-pagewaypoint-map-container"
    [wmMapConf]="confMap$|async"
    [wmMapGeojson]="location"
    wmMapTrack
    [track]="currentTrack$|async"
  ></wm-map>

  <ion-card class="webmapp-pagewaypoint-infopanel" *ngIf="this.nominatimObj$|async as nominatimObj">
    <div class="webmapp-pagewaypoint-infopanel-top">
      <div class="webmapp-pagewaypoint-infopanel-top-title center">
        {{'pages.waypoint.here' | wmtrans}}
      </div>
    </div>
    <div class="webmapp-pagewaypoint-infopanel-bottom">
      <div class="webmapp-pagewaypoint-infopanel-bottom-title">{{nominatimObj.display_name}}</div>
      <div class="webmapp-pagewaypoint-infopanel-bottom-data">{{locationString}}</div>
    </div>
  </ion-card>

  <ion-button class="webmapp-pagewaypoint-savebtn" [disabled]="!locationString" (click)="save()"
    >{{'pages.waypoint.save' | wmtrans}}</ion-button
  >
</ion-content>
