<ion-content scrollY="false" class="webmapp-pageroute-content" id="webmapp-pageroute-main">
  <div #header class="webmapp-pageroute-header">
    <ion-header
      class="webmapp-pageroute-header"
      [ngClass]="{'webmapp-pageroute-header-hide':modeFullMap}"
    >
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button
            mode="ios"
            defaultHref="map"
            text=""
            class="webmapp-backbutton webmapp-backbutton-dark"
          >
          </ion-back-button>
        </ion-buttons>
        <ion-title>{{(currentTrackProperties$|async)?.name | wmtrans}}</ion-title>
        <ion-buttons slot="end">
          <ion-icon
            name="ellipsis-vertical"
            class="webmapp-pageroute-menuopen"
            (click)="menu()"
          ></ion-icon>
        </ion-buttons>
      </ion-toolbar>
      <div class="webmapp-pageroute-header-backdrop" [hidden]="opacity>0.5"></div>
    </ion-header>
  </div>

  <div #mapcontainer class="webmapp-pageroute-map-container">
    <webmapp-nav-map #map [track]="currentTrack$|async"></webmapp-nav-map>
  </div>

  <div
    class="webmapp-pageroute-infopanel"
    #dragHandleContainer
    [ngClass]="{'webmapp-pageroute-infopanel-hide':modeFullMap}"
    [ngStyle]="{
      'bottom': (minInfoheight-maxInfoheight) + 'px'
    }"
  >
    <ion-card
      class="webmapp-pageroute-infopanel-card"
      [ngStyle]="{
        'height': maxInfoheight + 'px'
      }"
    >
      <div class="webmapp-pageroute-infopanel-drag" #dragHandleIcon (click)="handleClick()">
        <div class="webmapp-pageroute-infopanel-drag-handle"></div>
        <div #lessdetails class="webmapp-pageroute-infopanel-lessdetails">
          <ion-label class="webmapp-pageroute-infopanel-name">
            {{(currentTrackProperties$|async)?.name | wmtrans}}
          </ion-label>
        </div>
      </div>
      <ion-content #moredetails scrollY="true" scroll-events="true" (ionScroll)="scroll($event)">
        <webmapp-tab-detail
          class="webmapp-route-tab"
          (slopeChartHover)="setTrackElevationChartHoverElements($event)"
        ></webmapp-tab-detail>
      </ion-content>
    </ion-card>
  </div>
  <ion-fab
    [vertical]="'top'"
    horizontal="end"
    class="webmapp-pageroute-fabbottom webmapp-pageroute-fabbottom-top"
    [ngClass]="{'webmapp-pageroute-fabbottom-top-fullmap':modeFullMap}"
  >
    <webmapp-btn-orientation
      class="webmapp-pageroute-btnorient"
      [degrees]="mapDegrees"
      (click)="orientNorth()"
      [hidden]="opacity < 0.5"
    >
    </webmapp-btn-orientation>
  </ion-fab>
  <ion-fab vertical="top" horizontal="end" [ngStyle]="{      'opacity': opacity    }" *ngIf="false">
    <ion-fab-button (click)="menu()" size="small" class="webmapp-pageroute-btntop">
      <i class="webmapp-icon-kebab"></i>
    </ion-fab-button>
  </ion-fab>

  <ion-fab
    vertical="top"
    horizontal="start"
    [ngStyle]="{      'opacity': opacity    }"
    *ngIf="false"
  >
    <ion-fab-button (click)="back()" size="small" class="webmapp-pageroute-btntop">
      <i class="webmapp-icon-chevron-left-outline"></i>
    </ion-fab-button>
  </ion-fab>

  <ion-button
    class="webmapp-pageroute-btnfullmap"
    [hidden]="opacity < 0.5"
    [ngClass]="{'webmapp-pageroute-btnfullmap-full':modeFullMap}"
    (click)="toogleFullMap()"
  >
    <div [hidden]="!modeFullMap">
      <ion-icon name="close-outline"></ion-icon>
      {{ 'pages.route.btnFullMapReduce' | translate }}
    </div>
    <div [hidden]="modeFullMap">
      <ion-icon name="resize-outline"></ion-icon>
      {{ 'pages.route.btnFullMapExpand' | translate }}
    </div>
  </ion-button>
</ion-content>
