<div class="webmapp-card-slider-container">
  <h3 class="webmapp-card-slider-header">{{ title }}</h3>
  <swiper-container
    [initialSlide]="sliderOptions.initialSlide"
    [speed]="sliderOptions.speed"
    [spaceBetween]="sliderOptions.spaceBetween"
    [slidesOffsetAfter]="sliderOptions.slidesOffsetAfter"
    [slidesOffsetBefore]="sliderOptions.slidesOffsetBefore"
    [slidesPerView]="sliderOptions.slidesPerView"
    class="webmapp-card-slider">
    <ng-container *ngIf="!data">
      <swiper-slide>
        <webmapp-card-big></webmapp-card-big>
      </swiper-slide>
      <swiper-slide>
        <webmapp-card-big></webmapp-card-big>
      </swiper-slide>
      <swiper-slide>
        <webmapp-card-big></webmapp-card-big>
      </swiper-slide>
    </ng-container>
    <ng-container *ngIf="data && data.length">
      <swiper-slide *ngFor="let item of data">
        <webmapp-card-big [item]="item" [showDistance]="showDistance"></webmapp-card-big>
      </swiper-slide>
    </ng-container>
    <ion-label *ngIf="data && !data.length" class="webmapp-card-slider-nodata">
      {{nodata}}
    </ion-label>
  </swiper-container>
</div>
