@import "src/theme/mixins.scss";

.webmapp-btn-register-fab {
  margin: 0;
  @include box-shadow-light;
  border-radius: 20px;
}

.webmapp-btn-register-click-icon{  
  width: 42px;
  height: 42px;
  padding: 13px;
}
