<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="/profile/profile-records" text="" class="webmapp-backbutton"></ion-back-button> -->
      <ion-icon
        name="chevron-back"
        [routerLink]="['/profile/profile-records']"
        class="webmapp-backbutton webmapp-backbutton-chevron"
      ></ion-icon>
    </ion-buttons>
    <ion-title>{{'pages.tracklist.title'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="webmapp-tracklist-noitem" *ngIf="!tracks?.length">
    {{'pages.tracklist.noitem'|translate}}
  </div>
  <ion-list>
    <ion-item *ngFor="let track of tracks" button detail (click)="open(track)">
      <div start class="webmapp-tracklist-item-map">
        <webmapp-map
          [static]="true"
          [animation]="false"
          [track]="track"
          [height]="60"
        ></webmapp-map>
      </div>
      <div>
        <div class="webmapp-tracklist-item-title">{{track.title}}</div>
        <div class="webmapp-tracklist-item-date">
          {{track.date | date : "d MMMM YYYY - HH:mm"}}
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
