wm-tracklist {
  .wm-tracklist-item-map {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px 5px;
  }

  .wm-tracklist-item-title {
    display: block;
    font-size: var(--wm-font-sm);
    font-weight: var(--wm-font-weight-bold);
  }

  .wm-tracklist-item-date {
    display: block;
    font-size: var(--wm-font-xsm);
    padding: 5px 0;
  }

  .wm-tracklist-noitem {
    padding: 30px 15px;
    text-align: center;
  }
}
