<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon
        name="chevron-back"
        [routerLink]="['/profile/profile-records']"
        class="webmapp-backbutton webmapp-backbutton-chevron"
      ></ion-icon>
    </ion-buttons>
    <ion-title>{{'pages.tracklist.title'|wmtrans}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ng-container *ngIf="(tracks$|async) as tracks;else noTracks">
      <ng-container *ngIf="tracks.length>0;else noTracks"></ng-container>
      <ion-item *ngFor="let track of tracks" button detail (click)="open(track)">
        <div start class="wm-tracklist-item-map">
          <wm-map
            [wmMapConf]="confMap$|async"
            [wmMapOnly]="true"
            [wmMapGeojson]="track"
            [wmMapGeojsonFit]="true"
          ></wm-map>
        </div>
        <ng-container *ngIf="track.properties as prop">
          <div>
            <div class="wm-tracklist-item-title">{{prop.name}}</div>
            <div class="wm-tracklist-item-date">
              {{prop.updated_at | date : "d MMMM YYYY - HH:mm"}}
            </div>
            <div class="wm-tracklist-item-date" *ngIf="prop.id">
              {{'sync id'|wmtrans}}: {{prop.id}}
            </div>
          </div>
        </ng-container>
      </ion-item>
    </ng-container>
    <ng-template #noTracks>
      <div class="wm-tracklist-noitem">{{'pages.tracklist.noitem'|wmtrans}}</div>
    </ng-template>
  </ion-list>
</ion-content>
