<div #mapcontainer class="webmapp-pagepoi-map-container">
  <webmapp-map class="" #map [static]="false" [animation]="useAnimation" [track]="track" [hideRegister]="true"
    [pois]="pois" (clickpoi)="clickPoi($event)" [selectedpoi]="selectedPoi" [cache]="useCache"></webmapp-map>
</div>


<div class="webmapp-pagepoi-info-container">
  <div class="webmapp-pagepoi-info-header">

    <div class="webmapp-pagepoi-info-header-title">
      {{ selectedPoi.properties.name | wmtrans}}
    </div>

    <div class="webmapp-pagepoi-info-header-arrows">
      <div class="ripple-parent ion-activatable webmapp-pagepoi-info-header-arrow">
        <i class="webmapp-icon-arrow-left-outline webmapp-pagepoi-info-header-arrow-icon" (click)="prevPoi()"></i>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <div class="ripple-parent ion-activatable webmapp-pagepoi-info-header-arrow">
        <i class="webmapp-icon-arrow-right-outline webmapp-pagepoi-info-header-arrow-icon" (click)="nextPoi()"></i>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>
  </div>

  <ion-content class="webmapp-pagepoi-info-body" scrollY="true">
    <ion-slides pager="false" [options]="sliderOptions" class="webmapp-pagepoi-info-body-photoslider" #slider>
      <ion-slide *ngFor="let image of selectedPoi.properties.images">
        <div class="webmapp-pagepoi-info-body-photocontainer" >
          <ion-img [src]="getImage(image)" class="webmapp-pagepoi-info-body-photo"></ion-img>
        </div>
      </ion-slide>
    </ion-slides>

    <div [hidden]="!selectedPoi.properties.address"
      class="ripple-parent ion-activatable webmapp-pagepoi-info-reference">
      <i class="webmapp-icon-pin-outline webmapp-pagepoi-info-icon"></i>
      {{ selectedPoi.properties.address}}
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div [hidden]="!selectedPoi.properties.phone" class="ripple-parent ion-activatable webmapp-pagepoi-info-reference"
      (click)="phone(selectedPoi.properties.phone)">
      <a href="tel:{{ selectedPoi.properties.phone}}">
        <i class="webmapp-icon-pin-outline webmapp-pagepoi-info-icon"></i>
        {{ selectedPoi.properties.phone}}</a>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div [hidden]="!selectedPoi.properties.email" class="ripple-parent ion-activatable webmapp-pagepoi-info-reference"
      (click)="email(selectedPoi.properties.email)">
      <a href="mailto:{{ selectedPoi.properties.email}}">
        <i class="webmapp-icon-pin-outline webmapp-pagepoi-info-icon"></i>
        {{ selectedPoi.properties.email}}
        <ion-ripple-effect></ion-ripple-effect>
      </a>
    </div>
    <div [hidden]="!selectedPoi.properties.url" class="ripple-parent ion-activatable webmapp-pagepoi-info-reference"
      (click)="url(selectedPoi.properties.url)">
      <i class="webmapp-icon-pin-outline webmapp-pagepoi-info-icon"></i>
      {{ selectedPoi.properties.url}}
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <div class="webmapp-pagepoi-info-body-description" [innerHTML]="selectedPoi.properties.description | wmtrans">
    </div>
  </ion-content>

</div>



<ion-fab vertical="top" horizontal="start" class="webmapp-pagepoi-top">
  <ion-fab-button (click)="back()" size="small" class="webmapp-pagepoi-btntop">
    <i class="webmapp-icon-close-outline"></i>
  </ion-fab-button>
</ion-fab>