<ion-menu side="end" menuId="optionMenu" contentId="webmapp-pageroute-main">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-icon name="close-outline" class="webmapp-pageroute-menuclose" (click)="closeMenu()"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <i class="webmapp-icon-directions-outline " start></i>
        <div class="webmapp-pageroute-menuitem">{{'pages.route.directions' | translate}}</div>
      </ion-item>
      <ion-item>
        <i class="webmapp-icon-donwload-outline" start></i>
        <div class="webmapp-pageroute-menuitem">{{'pages.route.download' | translate}}</div>
      </ion-item>
      <ion-item>
        <i class="webmapp-icon-share-outline"></i>
        <div class="webmapp-pageroute-menuitem">{{'pages.route.share' | translate}}</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content scrollY="false" class="webmapp-pageroute-content" id="webmapp-pageroute-main">
  <ion-header class="webmapp-pageroute-header" [ngStyle]="{'opacity': 1-opacity }">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="map" text="" class="webmapp-backbutton webmapp-backbutton-dark"></ion-back-button>
      </ion-buttons>
      <ion-title>{{route?.properties?.name | wmtrans}}</ion-title>
      <ion-buttons slot="end">
        <ion-icon name="ellipsis-vertical" class="webmapp-pageroute-menuopen" (click)="menu()"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <i class="webmapp-icon-activities primary webmapp-pageroute-infopanel-icon"></i>
            <ion-label class="webmapp-pageroute-infopanel-value">{{route?.properties?.difficulty | wmtrans}}
            </ion-label>
          </ion-col>
          <ion-col size="4">
            <i class="webmapp-icon-activities primary webmapp-pageroute-infopanel-icon"></i>
            <ion-label class="webmapp-pageroute-infopanel-value">{{route?.properties?.distance}}km </ion-label>
          </ion-col>
          <ion-col size="4">
            <i class="webmapp-icon-activities primary webmapp-pageroute-infopanel-icon"></i>
            <ion-label class="webmapp-pageroute-infopanel-value">{{route?.properties?.duration_forward}} </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <webmapp-map class="webmapp-pageroute-map-container" #map [static]="true" [track]="track" [hideRegister]="true"
    [height]="mapHeigth()"
    [ngStyle]="{'margin-top': (headerHeight-(headerHeight*opacity))+'px','height':mapHeigth()+'px'}"></webmapp-map>


  <div class="webmapp-pageroute-infopanel" #dragHandleContainer>
    <ion-card class="webmapp-pageroute-infopanel-card">
      <div class="webmapp-pageroute-infopanel-drag" (click)="null && toggleDetail()" #dragHandleIcon>
        <div class="webmapp-pageroute-infopanel-drag-handle"></div>
      </div>
      <ion-label class="webmapp-pageroute-infopanel-name" *ngIf="opacity>0" [ngStyle]="{      'opacity': opacity    }">
        {{route?.properties?.name | wmtrans}} </ion-label>

      <ion-grid *ngIf="opacity>0" [ngStyle]="{      'opacity': opacity    }">
        <ion-row>
          <ion-col size="4">
            <i class="webmapp-icon-activities primary webmapp-pageroute-infopanel-icon"></i>
            <ion-label class="webmapp-pageroute-infopanel-value">{{route?.properties?.difficulty | wmtrans}}
            </ion-label>
          </ion-col>
          <ion-col size="4">
            <i class="webmapp-icon-activities primary webmapp-pageroute-infopanel-icon"></i>
            <ion-label class="webmapp-pageroute-infopanel-value">{{route?.properties?.distance}}km </ion-label>
          </ion-col>
          <ion-col size="4">
            <i class="webmapp-icon-activities primary webmapp-pageroute-infopanel-icon"></i>
            <ion-label class="webmapp-pageroute-infopanel-value">{{route?.properties?.duration_forward | minutetime}}
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-tabs *ngIf="opacity<=0" [ngStyle]="{      'opacity': 1-opacity    }" class="webmapp-route-tabs">

        <ion-tab-bar slot="top" class="webmapp-pageroute-infopanel-tabs">

          <ion-slides pager="false" [options]="slideOpts" #slideTab>
            <ion-slide>
              <ion-tab-button tab="route-detail" [routerLink]="['route-detail']"
                class="webmapp-pageroute-infopanel-tabs-button">
                <ion-label class="webmapp-pageroute-infopanel-tabs-label">
                  {{'pages.route.tabdetail' | translate}}
                </ion-label>
              </ion-tab-button>
            </ion-slide>
            <ion-slide>
              <ion-tab-button tab="route-walkable" [routerLink]="['route-walkable']"
                class="webmapp-pageroute-infopanel-tabs-button">
                <ion-label class="webmapp-pageroute-infopanel-tabs-label">
                  {{'pages.route.tabwalkable' | translate}}
                </ion-label>
              </ion-tab-button>
            </ion-slide>
            <ion-slide>
              <ion-tab-button tab="route-howto" [routerLink]="['route-howto']"
                class="webmapp-pageroute-infopanel-tabs-button">
                <ion-label class="webmapp-pageroute-infopanel-tabs-label">
                  {{'pages.route.tabhowto' | translate}}
                </ion-label>
              </ion-tab-button>
            </ion-slide>
            <ion-slide>
              <ion-tab-button tab="route-eat" [routerLink]="['route-eat']"
                class="webmapp-pageroute-infopanel-tabs-button">
                <ion-label class="webmapp-pageroute-infopanel-tabs-label">
                  {{'pages.route.tabeat' | translate}}
                </ion-label>
              </ion-tab-button>
            </ion-slide>
            <ion-slide>
              <ion-tab-button tab="route-description" [routerLink]="['route-description']"
                class="webmapp-pageroute-infopanel-tabs-button">
                <ion-label class="webmapp-pageroute-infopanel-tabs-label">
                  {{'pages.route.tabdescription' | translate}}
                </ion-label>
              </ion-tab-button>
            </ion-slide>
            <ion-slide>
              <ion-tab-button tab="route-accessibility" [routerLink]="['route-accessibility']"
                class="webmapp-pageroute-infopanel-tabs-button">
                <ion-label class="webmapp-pageroute-infopanel-tabs-label">
                  {{'pages.route.tabaccessibility' | translate}}
                </ion-label>
              </ion-tab-button>
            </ion-slide>
          </ion-slides>
        </ion-tab-bar>
      </ion-tabs>

    </ion-card>
  </div>

  <ion-fab [vertical]="opacity==1?'bottom':'top'" horizontal="end"
    class="webmapp-pageroute-fabbottom {{opacity<1?'webmapp-pageroute-fabbottom-top':''}}">
    <ion-fab-button (click)="favourite()" size="small" class="webmapp-pageroute-btnbottom">
      <i class="webmapp-icon-heart-outline"></i>
    </ion-fab-button>
    <ion-fab-button (click)="share()" size="small" class="webmapp-pageroute-btnbottom">
      <i class="webmapp-icon-share-outline"></i>
    </ion-fab-button>
    <ion-fab-button (click)="navigate()" size="small" class="webmapp-pageroute-btnnavigate" *ngIf="opacity <1"
      [ngStyle]="{      'opacity': 1-opacity    }">
      <i class="webmapp-icon-nav-outline"></i>
    </ion-fab-button>
  </ion-fab>
  <ion-button (click)="navigate()" class="webmapp-pageroute-btnnavigate webmapp-pageroute-btnnavbottom"
    *ngIf="opacity >0" [ngStyle]="{      'opacity': opacity    }">
    <i class="webmapp-icon-nav-outline"></i>
    <ion-label>{{'pages.route.navigate' | translate}}
    </ion-label>
  </ion-button>

  <ion-fab vertical="top" horizontal="end" [ngStyle]="{      'opacity': opacity    }">
    <ion-fab-button (click)="menu()" size="small" class="webmapp-pageroute-btntop">
      <i class="webmapp-icon-kebab"></i>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="top" horizontal="start" [ngStyle]="{      'opacity': opacity    }">
    <ion-fab-button (click)="back()" size="small" class="webmapp-pageroute-btntop">
      <i class="webmapp-icon-chevron-left-outline"></i>
    </ion-fab-button>
  </ion-fab>

</ion-content>