@import "src/theme/mixins.scss";

.webmapp-pageroute-content {
  position: relative;
}

.webmapp-pageroute-header {
  position: absolute;
  width: 100%;
  z-index: 9999;
}

.webmapp-pageroute-map-container {
  width: 100%;
  display: block;
  height: 100vh;
  position: relative;
  .webmapp-pageroute-map {
    width: 100%;

    // height: 360px;
    // margin-top: 110px;
    // margin-bottom: 47px;
    display: block;
  }
}

.webmapp-pageroute-infopanel {
  position: absolute;
  width: 100%;
  min-height: 40px;
  // bottom: -261px;

  .webmapp-pageroute-infopanel-card {
    margin: 0;
    // height: 350px;
    border-radius: 15px 15px 0 0;
  }

  .webmapp-pageroute-infopanel-drag {
    width: 100%;
    height: 35px;
    text-align: center;
    display: inline-block;
    .webmapp-pageroute-infopanel-drag-handle {
      background-color: var(--wm-color-grey);
      display: inline-block;
      width: 55px;
      height: 5px;
      border-radius: 5px;
    }
  }

  .webmapp-pageroute-infopanel-lessdetails{
    width: 100%;
    text-align: left;
    padding: 15px;
  }
}

.webmapp-pageroute-infopanel-name {
  padding: 5px 15px;
  font-weight: var(--wm-font-weight-xbold);
  font-size: var(--wm-font-lg);
}
.webmapp-pageroute-infopanel-icon {
  color: var(--wm-color-secondary);
  font-size: var(--wm-font-icon);
  display: inline;
  padding: 0;
  position: absolute;
}
.webmapp-pageroute-infopanel-value {
  padding: 3px 6px 0 30px;
  font-size: var(--wm-font-sm);
  display: inline-block;
}

.webmapp-pageroute-fabbottom {
  bottom: 178px;
  .webmapp-pageroute-btnbottomregister {
    margin-left: 7px;
    display: block;
  }

  .webmapp-pageroute-btnbottom {
    --color: var(--wm-color-primary);
    --background: var(--wm-color-light);
    --background-activated: var(--wm-color-primary);
    --background-activated-opacity: 0.25;
    --background-focused: var(--wm-color-light);
    --background-focused-opacity: 0;
    --background-hover: var(--wm-color-light);
    --background-hover-opacity: 0;
  }
  &.webmapp-pageroute-fabbottom-top {
    top: calc(115px + constant(safe-area-inset-top));
    top: calc(115px + env(safe-area-inset-top));
    bottom: auto;
  }
}

.webmapp-pageroute-btntop {
  --color: var(--wm-color-dark);
  --background: var(--wm-color-light);
  --background-activated: var(--wm-color-dark);
  --background-activated-opacity: 0.25;
  --background-focused: var(--wm-color-light);
  --background-focused-opacity: 0;
  --background-hover: var(--wm-color-light);
  --background-hover-opacity: 0;
}

.fab-vertical-top {
  top: 30px;
}

.webmapp-pageroute-btnnavbottom {
  position: absolute;
  right: 16px;
  bottom: 126px;
}
.webmapp-pageroute-btnnavigate {
  --border-radius: 20px;
  --color: var(--wm-color-light);
  --background: var(--wm-color-primary);
  --background-activated: var(--wm-color-light);
  --background-activated-opacity: 0.25;
  --background-focused: var(--wm-color-primary);
  --background-focused-opacity: 0;
  --background-hover: var(--wm-color-primary);
  --background-hover-opacity: 0;
}
.webmapp-pageroute-navigatelbl {
  padding-left: 8px;
}

.webmapp-pageroute-menuopen {
  padding: 15px;
}
.webmapp-pageroute-menuclose {
  font-size: 28px;
  padding: 15px;
}
.webmapp-pageroute-menuitem {
  padding: 5px 20px;
}

.webmapp-route-tabs {
  margin: 20px 0px;
  padding: 0 0 20px;
  .webmapp-pageroute-infopanel-tabs {
    border: none;
    --border: none;
    .webmapp-pageroute-infopanel-tabs-button {
      &.tab-selected {
        color: var(--wm-color-dark);
        font-weight: var(--wm-font-weight-bold);
        ::after {
          content: "";
          display: block;
          width: 40%;
          margin-left: 30%;
          margin-top: 3px;
          border-bottom: 0px;
          border-style: solid;
          border-color: var(--wm-color-primary);
        }
      }
    }
  }
}

.webmapp-pageroute-downloadbackpanel {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2991;
  background-color: #333;
  opacity: 0.4;
}

.webmapp-pageroute-downloadpanel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 200px;
  z-index: 2998;
  background: var(--wm-color-light);
  border-radius: 20px 20px 0 0;

  .webmapp-pageroute-downloadpanel-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px 10px 20px;
    .webmapp-pageroute-downloadpanel-exit {
      position: absolute;
      z-index: 99;
      top: 15px;
      right: 15px;
      font-size: 15px;
      padding: 5px;
      background-color: rgba(255, 255, 255, 0.7);

      color: var(--wm-color-dark);
      // @include box-shadow-light;
    }
    .webmapp-pageroute-downloadpanel-logo {
      position: absolute;
      z-index: 99;
      top: 6px;
      left: 6px;
      font-size: 15px;
    }
  }
}
