@import "src/theme/mixins.scss";

.webmapp-pageroute-content {
  position: relative;
}

.webmapp-pageroute-header {
  position: absolute;
  width: 100%;
  z-index: 999;
    opacity: 1;
    transition: height 0.3s, opacity 0.3s;

  .webmapp-pageroute-header-hide{
    opacity: 0;
    height: 0;
  }

  ion-header {
    position: relative;
    overflow: hidden;
  }

  .webmapp-pageroute-header-backdrop {
    position: absolute;
    width: 100%;
    height: 152px;
    background-color: var(--wm-color-backdrop);
    z-index: 1500;
    top: 0;
  }
}

.webmapp-pageroute-map-container {
  width: 100%;
  display: block;
  height: 100vh;
  position: relative;
  .webmapp-pageroute-map {
    width: 100%;

    // height: 360px;
    // margin-top: 110px;
    // margin-bottom: 47px;
    display: block;
  }
}

.webmapp-pageroute-infopanel {
  position: absolute;
  width: 100%;
  min-height: 40px;
  // bottom: -261px;
  z-index: 10100;
  transition: bottom 0.3s;

  &.webmapp-pageroute-infopanel-hide{
    bottom: -840px !important;
  }

  .webmapp-pageroute-infopanel-card {
    margin: 0;
    // height: 350px;
    border-radius: 15px 15px 0 0;
    padding-bottom: 125px;
  }

  .webmapp-pageroute-infopanel-drag {
    width: 100%;
    height: 35px;
    text-align: center;
    display: inline-block;
    .webmapp-pageroute-infopanel-drag-handle {
      background-color: var(--wm-color-grey);
      display: inline-block;
      width: 55px;
      height: 5px;
      border-radius: 5px;
    }
  }

  .webmapp-pageroute-infopanel-lessdetails {
    width: 100%;
    text-align: left;
    padding: 15px;
  }
}

.webmapp-pageroute-infopanel-name {
  padding: 5px 15px;
  font-weight: var(--wm-font-weight-xbold);
  font-size: var(--wm-font-lg);
  color: var(--wm-color-dark);

  max-height: 50px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.webmapp-pageroute-infopanel-icon {
  color: var(--wm-color-primary);
  font-size: var(--wm-font-icon);
  display: inline;
  padding: 0;
  position: absolute;
}
.webmapp-pageroute-infopanel-value {
  padding: 3px 6px 0 30px;
  font-size: var(--wm-font-sm);
  display: inline-block;
}

.webmapp-pageroute-fabbottom {
  bottom: 178px;
  .webmapp-pageroute-btnbottomregister {
    --color: var(--wm-color-primary);
    margin-left: 7px;
    display: block;
  }
  .webmapp-pageroute-btnorient {
    margin-left: 7px;
    display: block;
    margin-bottom: 7px;
  }

  .webmapp-pageroute-btnbottom {
    --color: var(--wm-color-primary);
    --background: var(--wm-color-light);
    --background-activated: var(--wm-color-primary);
    --background-activated-opacity: 0.25;
    --background-focused: var(--wm-color-light);
    --background-focused-opacity: 0;
    --background-hover: var(--wm-color-light);
    --background-hover-opacity: 0;
  }
  &.webmapp-pageroute-fabbottom-top {
    top: calc(115px + constant(safe-area-inset-top));
    top: calc(115px + env(safe-area-inset-top));
    bottom: auto;
    transition: top 0.3s;
    &.webmapp-pageroute-fabbottom-top-fullmap {
      top: calc(65px + constant(safe-area-inset-top));
      top: calc(65px + env(safe-area-inset-top));
    }
  }
}

.webmapp-pageroute-btntop {
  --color: var(--wm-color-dark);
  --background: var(--wm-color-light);
  --background-activated: var(--wm-color-dark);
  --background-activated-opacity: 0.25;
  --background-focused: var(--wm-color-light);
  --background-focused-opacity: 0;
  --background-hover: var(--wm-color-light);
  --background-hover-opacity: 0;
}

.fab-vertical-top {
  top: 30px;
}

.webmapp-pageroute-btnnavbottom {
  position: absolute;
  right: 16px;
  bottom: 126px;
}
.webmapp-pageroute-btnnavigate {
  --border-radius: 20px;
  --color: var(--wm-color-light);
  --background: var(--wm-color-primary);
  --background-activated: var(--wm-color-light);
  --background-activated-opacity: 0.25;
  --background-focused: var(--wm-color-primary);
  --background-focused-opacity: 0;
  --background-hover: var(--wm-color-primary);
  --background-hover-opacity: 0;
}
.webmapp-pageroute-navigatelbl {
  padding-left: 8px;
}

.webmapp-pageroute-menuopen {
  padding: 15px;
}
.webmapp-pageroute-menuclose {
  font-size: 28px;
  padding: 15px;
}
.webmapp-pageroute-menuitem {
  padding: 5px 20px;
}

.webmapp-route-tab {
  width: 100%;
  display: block;
}

.webmapp-route-tabs {
  margin: 45px 0px;
  padding: 0 0 20px;
  .webmapp-pageroute-infopanel-tabs {
    border: none;
    --border: none;
    .webmapp-pageroute-infopanel-tabs-button {
      &.tab-selected {
        color: var(--wm-color-dark);
        font-weight: var(--wm-font-weight-bold);
        ::after {
          content: "";
          display: block;
          width: 40%;
          margin-left: 30%;
          margin-top: 3px;
          border-bottom: 0px;
          border-style: solid;
          border-color: var(--wm-color-primary);
        }
      }
    }
  }
}

.webmapp-pageroute-downloadbackpanel {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12991;
  background-color: #333;
  opacity: 0.4;
}

.webmapp-pageroute-downloadpanel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 200px;
  z-index: 12998;
  background: var(--wm-color-light);
  border-radius: 20px 20px 0 0;

  .webmapp-pageroute-downloadpanel-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px 10px 20px;
    .webmapp-pageroute-downloadpanel-exit {
      position: absolute;
      z-index: 99;
      top: 15px;
      right: 15px;
      font-size: 15px;
      padding: 5px;
      background-color: rgba(255, 255, 255, 0.7);

      color: var(--wm-color-dark);
      // @include box-shadow-light;
    }
    .webmapp-pageroute-downloadpanel-logo {
      position: absolute;
      z-index: 99;
      top: 6px;
      left: 6px;
      font-size: 15px;
    }
  }
}

.webmapp-pageroute-btnfullmap {
  position: absolute;
  top: calc(64px + constant(safe-area-inset-top));
  top: calc(64px + env(safe-area-inset-top));
  right: 10px;
  height: 40px;
  --border-radius: 30px;
  --color: var(--wm-color-dark);
  --background: var(--wm-color-light);
  --background-activated: var(--wm-color-dark);
  --background-activated-opacity: 0.25; 
  --background-focused: var(--wm-color-light);
  --background-focused-opacity: 0;
  --background-hover: var(--wm-color-light);
  --background-hover-opacity: 0;
  transition: top 0.3s;
  &.webmapp-pageroute-btnfullmap-full {
    top: calc(14px + constant(safe-area-inset-top));
    top: calc(14px + env(safe-area-inset-top));
  }


  --padding-start: 32px;
  ion-icon{
    font-size: var(--wm-font-xxlg);
    position: absolute;
    left: -24px;
    top: 9px;
  }
}

.webmapp-pageroute-toolbox {
  padding: 4px 8px;
  position: absolute;
  width: 94%;
  height: 53px;
  left: 3%;
  background: var(--wm-color-dark);
  border-radius: 30px;
  bottom: 360px;
  transition: bottom 0.3s,opacity 0.5s;
  opacity: 1;
    z-index: 10500;
  &.webmapp-pageroute-toolbox-hide {
    opacity: 0;
    transition: opacity 0.5s ;
  }
  &.webmapp-pageroute-toolbox-fullmap {
    bottom: 10px;
    opacity: 1;
  }
  &.webmapp-pageroute-toolbox-hideover {
    opacity: 0;
    bottom: 10px;
    transition: bottom 0s,opacity 0.6s ;
  }
  &.webmapp-pageroute-toolbox-over {
    opacity: 1;
    bottom: 10px;
    transition: bottom 0s,opacity 0.6s ;
  }

  .webmapp-pageroute-toolbox-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    color: var(--wm-color-light);
    width: 25%;
    margin: 0;
    text-align: center;
    font-size: 12px;
    border-radius: 20px;
    padding: 4px;

    i {
      display: block;
      font-size: 20px;
      margin-bottom: 2px;
    }
  }
}
