<ion-menu side="end" menuId="optionMenu" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-icon
          name="close-outline"
          class="webmapp-photodetail-menuclose"
          (click)="closeMenu()"
        ></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        mode="ios"
        defaultHref="map"
        text=""
        class="webmapp-backbutton webmapp-backbutton-dark"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{'pages.photodetail.title'|wmtrans}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="delete()" *ngIf="online$|async">
        <ion-icon name="trash-outline" start></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main" *ngIf="photo$|async as photo">
  <ng-container *ngIf="photo.properties as prop">
    <ion-img [src]="photo|wmCreateBlob" class="webmapp-photodetail-image"></ion-img>

    <div class="webmapp-photodetail-date">{{prop.updated_at| date : "dd MMMM YYYY"}}</div>

    <ion-list class="webmapp-photodetail-itemlist">
      <ion-item class="webmapp-photodetail-item" lines="none" *ngIf="prop?.description">
        <i class="icon-outline-list webmapp-photodetail-icon secondary" start></i>
        <div class="webmapp-photodetail-item-description">{{prop.description}}</div>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>
