.webmapp-photodetail-date {
    padding: 15px 15px 0;
    font-size: var(--wm-font-sm);
    color: var(--wm-color-darkgrey);
}

.webmapp-photodetail-item {
    color: var(--wm-color-dark);
    .webmapp-photodetail-icon {
        margin-right: 10px;
        &.primary {
            color: var(--wm-color-primary);
        }

        &.secondary {
            color: var(--wm-color-secondary);
        }

        &.tertiary {
            color: var(--wm-color-tertiary);
        }
    }

    .webmapp-photodetail-item-description {
        font-weight: var(--wm-font-weight-bold);
    }   
}
.webmapp-photodetail-menuopen {
    padding: 15px;
}
.webmapp-photodetail-menuclose {
    font-size: 28px;
    padding: 15px;
}
.webmapp-photodetail-menuitem{
    padding: 5px 20px;
}
